// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c))
//     +g(#232323, #5c5c5c)
//	   horizontal
//     +gh(#232323, #5c5c5c)
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


+font(opensans, opensans)
+font(opensans-semibold, opensans-semibold)
+font(opensans-bold, opensans-bold)
+font(opensans-light, opensans-light)
+font(opensans-italic, opensans-italic)
+font(robotomono, robotomono)
+font(handwrite, handwrite)

=opensans
	font-family: "opensans", Arial, sans-serif
=opensans-l
	font-family: "opensans-light", Arial, sans-serif
=opensans-sb
	font-family: "opensans-semibold", Arial, sans-serif
=opensans-b
	font-family: "opensans-bold", Arial, sans-serif
=opensans-it
	font-family: "opensans-italic", Arial, sans-serif
=rmono
	font-family: "robotomono", Arial, sans-serif
=handwrite
	font-family: "handwrite", Arial, sans-serif

body
	min-width: 1040px
	font-size: 12px
	line-height: 1.4
	background: #F3F4F6
	font-weight: normal
	overflow-x: auto !important
	+opensans
	+font-smoothing
	&.is-overflow
		overflow: hidden !important
	.tooltipster-base
		z-index: 8

@import common/_layout
@import common/_buttons
@import common/_icons
@import common/_radio-check
@import common/_input-textarea
@import common/_dropdown

// common blocks
a
	text-decoration: none


.out
	&--one-screen
		height: 100vh
		overflow: hidden
		.main
			margin-bottom: 0!important
		.two-col__left, .two-col__right
			overflow: hidden
			position: relative

			& > .ps-scrollbar-y-rail
				right: 0!important
				width: 3px
				.ps-scrollbar-y
					width: 3px
.position-relative
	position: relative

.calendar
	position: relative
	max-width: 200px
	font-size: 13px
	color: #282828
	&.is-active
		input
			background: #828c92
			color: #fff
			border-color: #828c92
		.icon-calendar
			color: #FFF
	.icon-calendar
		position: absolute
		top: 50%
		right: 9px
		margin-top: -8px
	input
		cursor: pointer
		&:focus
			border-color: rgba(0, 0, 0, 0.15)
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.09)

.txt-center
	text-align: center

.is-error
	padding: 0 5px
	background: #FFFCFC
	border: 1px solid #FFA4AF

.status
	font-size: 0
	color: #f76300
	+opensans-sb
	+clr
	&.is-pending
		color: #738496
		+opensans
		.icon-pending
			display: inline-block
	&.is-approved
		color: #2caf24
		.icon-check
			display: inline-block
	&.is-draft
		color: #6C757A
		+opensans
	&.is-failed
		color: #FF001F
		.icon
			color: #FF001F
	&.is-green
		.status-info
			background: #2cb324 !important
	&.is-old
		color: #fc9f51
	&.is-commented
		color: #75B0DB
		.icon-comment-cloud
			margin-top: 2px
			color: #76B0DB
			
	span
		font-size: 13px
		vertical-align: middle
	.status-info
		font-size: 10px
	.icon
		margin-right: 5px
		font-size: 12px
		vertical-align: middle
	.icon-pending,
	.icon-check
		display: none


.status-info
	display: inline-block
	margin-right: 5px
	padding: 3px 5px 2px
	text-transform: uppercase
	font-size: 10px
	background: #f76300
	color: #fff
	border-radius: 2px
	line-height: 1
	vertical-align: middle
	&.is-approved
		background: #2caf24
	&.is-update
		margin: 0 2px


.back-to-top
	margin: 23px 0 23px 20px
	a
		font-size: 13px
		color: #bcc6cc
	span
		display: inline-block
		vertical-align: middle
	.icon
		font-size: 9px
		margin-right: 14px
		vertical-align: middle

.label-info
	display: inline-block
	vertical-align: text-top
	margin-right: 10px
	+opensans-sb
	+clr
	padding: 1px 2px
	font-size: 10px
	border-radius: 2px
	text-transform: uppercase
	color: #fff
	user-select: none
	&.is-green
		background: #2cb324

// tooltip
.tooltipster-base
	color: #282828
	// background-color: #fff6e6
	// border: 1px solid #e8e0cf
	// box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
	.tooltipster-content
		padding: 15px 10px
		font-size: 13px
		+opensans
	.tooltipster__link
		display: inline-block
		margin-top: 5px
		font-size: 13px
		color: #097bf2
		&:hover
			text-decoration: underline

.tooltip-item
	margin-bottom: 5px
	white-space: nowrap
	// &:hover
	// 	cursor: pointer
	span
		display: inline-block
		vertical-align: top
		+opensans
		&:first-child
			//max-width: 102px
			width: 60%
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			padding-right: 5px
			font-size: 13px
			color: #282828
		&:last-child
			font-size: 14px
			color: #6c757a
			max-width: none
			margin-right: 10px
			width: 40%
			text-align: right
			strong
				+opensans-sb
				font-weight: 600
	.svg-ico
		display: inline-block
		vertical-align: text-top
		margin-right: 10px
		width: 16px
		height: 16px
	&.tooltip-item_icon
		span
			color: #6c757a
			font-size: 13px
			&:first-child
				max-width: 100px


.highlight
	display: inline-block
	padding: 0 1px
	background: #FFE8A1
	vertical-align: bottom
	+opensans-sb

.hover
	cursor: pointer


.description
	position: relative
	font-size: 0
	margin-bottom: 6px
	&:only-child
		margin: 0
	&.is-bold
		p, span
			color: #282828
			+opensans-sb
	&.is-archive
		.icon-news
			color: #CFD5E0
	.svg-ico, .icon
		position: absolute
		top: 50%
		margin-top: -9px
	.icon
		font-size: 16px
	.icon-folder,
	.icon-folder-checked
		margin-top: -8px
		font-size: 14px
	.icon-news
		margin-top: -6px
		font-size: 12px
	span, p
		padding-left: 23px
		font-size: 13px
		&:not(.highlight)
			display: block
		&:only-child
			padding-left: 0


.descriptive-text
	margin: 10px 0
	padding: 0 18px
	font-size: 13px

// bar
.ok-bar
	position: fixed
	top: -100px
	left: 0
	right: 0
	padding: 11px 0
	text-align: center
	font-size: 13px
	background: #fff6e6
	color: #282828
	z-index: 100
	+tr(1s)
	&.is-active
		top: 0
	&__link
		color: #097bf2

.account-bar
	padding: 7px 0
	background: #097bf2
	color: #fff
	text-align: center
	&__link
		text-decoration: underline
		padding-left: 5px
		color: #fff

.word-break
	word-break: break-all

.alert
	&.alert-error
		font-size: 13px
		margin-bottom: 10px
		color: #e0411b
		+opensans-sb

.help-block
	display: block
	margin-top: 5px
	font-size: 13px
	color: #e0411b

.errorlist
	margin: 7px 0
	font-size: 13px
	color: #e0411b
	+opensans-sb
	&.is-border
		padding: 5px 0
		color: #E22B1B
		background: #FEE
		border: 1px solid #FFC0C8
		li
			padding: 5px 14px

.select-wrap
	+clr
	&_margin
		padding: 20px 0
	&__left
		float: left
	&__right
		float: right

.select2
	&.ui-select-container
		width: 200px
		margin: 0
		position: relative
		display: inline-block
		zoom: 1
		vertical-align: middle
		.select2-choices
			border-radius: 4px
			// &.select2-choices--default-styles
			// 	border: 1xps solid #cfd5e0
			// 	border-radius: 4px
			// 	background-color: #f7f8f9
			// 	.select2-search-field 
			// 		input
			// 			padding: 10px 0px 10px 8px
			// 			+placeholder
			// 				color: #999 
		.select2-choice
			height: 35px
			padding: 10px 0 0 8px
			border: 1px solid #cfd5e0
			background-image: none
			background-color: #f7f8f9
			line-height: 1
			display: block
			// height: 26px
			// padding: 0 0 0 8px
			overflow: hidden
			position: relative
			// border: 1px solid #aaa
			white-space: nowrap
			// line-height: 26px
			color: #444
			text-decoration: none
			border-radius: 4px
			background-clip: padding-box
			-webkit-touch-callout: none
			-webkit-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			// background-color: #fff
			// background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff))
			// background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%)
			// background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%)
			// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0)
			// background-image: linear-gradient(to top, #eee 0%, #fff 50%)
			color: #999 !important
		.select2-arrow
			display: inline-block
			width: 18px
			height: 100%
			position: absolute
			right: 0
			top: 0
			border-left: 1px solid #cfd5e0
			border-radius: 0 4px 4px 0
			background-clip: padding-box
			background: #ccc
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee))
			background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%)
			background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%)
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0)
			background-image: linear-gradient(to top, #ccc 0%, #eee 60%)
			b
				background-position: 0 3px
				display: block
				width: 100%
				height: 100%
				// background: url(select2.png) no-repeat 0 1px
		.select2-drop
			z-index: 6
		&.ng-invalid
			.select2-choices
				border-color: #D44950
body
	.daterangepicker.dropdown-menu
		z-index: 11
	.header .daterangepicker.dropdown-menu
		z-index: 12

.table-row .status:not(.is-active) .status-info
	background: #828c92
