// forms
.form
	margin: 45px 0 5px
	font-size: 13px
	color: #6c757a
	+clr
	&:only-child
		margin-bottom: 60px
	&.is-full-w
		.form__bl
			max-width: 100%
			padding: 0
			&--border
				padding-bottom: 27px
	&.is-max-w
		.form__bl
			max-width: 580px
			padding-left: 0
	&__ttl
		margin-bottom: 20px
		font-size: 18px
		color: #282828
		+opensans-sb
		&.s-bottom-margin
			margin-bottom: 5px
		&.m-bottom-margin
			margin-bottom: 16px
		&--big
			font-size: 20px
	&__steps
		color: #6c757a
		font-size: 14px
		vertical-align: top
		display: inline-block
		padding-top: 5px
	&__subttl
		display: block
		margin-bottom: 10px
		font-size: 14px
		color: #282828
		+opensans-sb
		position: relative
		&.no-margin
			margin-bottom: 0
	&__require
		padding: 0 2px
		color: #f76300
		
		&--abs-left
			position: absolute
			left: -20px
			transform: translateY(-50%)
			top: 50%
			// color: #ff001f
	&__bl
		position: relative
		max-width: 740px
		padding: 0 70px
		margin: 0 auto 20px
		&:hover
			.addpost
				opacity: 1
				visibility: visible
		&.s-bottom-margin
			margin-bottom: 10px
		&.m-bottom-margin
			margin-bottom: 40px
		&.is-small-size
			input
				max-width: 162px
		&.is-middle-size
			font-size: 0
			input
				max-width: 340px
		&.is-split-fields
			&.is-active
				display: block
			input
				&:not([type="search"])
					max-width: 145px
					margin: 0 10px
					&.input-sm
						max-width: 60px
					&.input-md
						max-width: 120px
					&.input-no-margin-right
						margin-right: 0
		&.has-error
			input,
			.textarea
				padding: 8px 12px
				background: #FFFCFC
				border-color: #FFA4AF
				box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.09)
				+placeholder
					color: #6c757a
			.upload,
			.form__list,
			.form__clear
				background: #FFFCFC
				border: 1px solid #FFA4AF
			.upload
				padding: 7px 10px
			.form__list,
			.form__clear
				padding: 0 10px
			.report
				padding: 13px 15px
				background: #fee
				border-color: #ffc0c8
			.redactor-box
				box-shadow: 0 0 0 1px #FFA4AF
		&.is-full-w
			max-width: 100%
			padding: 0
			.form__ttl,
			.form__subttl,
			.form__hint,
			.errorlist
				max-width: 600px
			.form__ttl
				margin: 0 auto 20px
			.form__subttl
				margin: 0 auto 10px
			.form__hint
				margin: 0 auto 7px
			.errorlist
				margin: 7px auto
		&--border
			margin-bottom: 27px
			padding-bottom: 27px
			border-bottom: 1px solid #cfd5e0
		&--ml
			margin-left: 20px
		&--full
			.select2
				&.ui-select-container
					width: 100%
		&--default-input-styles
			.select2
				&.ui-select-container
					.select2-choices
						border: 1px solid #cfd5e0
						border-radius: 4px
						background-image: none
						background-color: #f7f8f9
						.select2-search-field 
							input
								padding: 8px 0px 8px 8px
								+placeholder
									color: #999 
		&--mb-20
			margin-bottom: 20px
		&--mb-10
			margin-bottom: 10px
	&__txt-wrapper
		max-width: 740px
		padding: 0 70px
		margin: 0 auto 20px
		&.is-margin-top
			margin-top: 30px
	&__date-wrapper
		width: 198px
		position: relative
		button
			background: none
			border: none
			appearance: none
			position: absolute
			left: 8px
			top: 50%
			transform: translateY(-50%)
		input
			width: 100%
			padding-left: 30px
	&__mod
		position: relative
		&:hover
			.form__close
				opacity: 1
				visibility: visible
		&.is-entry
			margin: 10px -10px
			.form__select-wrapper
				margin: 0 10px
				padding-right: 0
			.dropdown
				margin: 0 10px
				vertical-align: middle
			input
				vertical-align: middle
	&__link
		color: #097BF3
		&:hover
			text-decoration: underline
	&__img
		&.is-right
			float: right
			max-width: 286px
			padding-right: 109px
			img
				width: 100%
	&__clear
		+clr
	&__half
		float: left
		width: 50%
	&__choice
		margin: 7px 0
	&__avatar
		margin-bottom: 15px
		max-width: 113px
		img
			display: block
			width: 100%
	&__slash
		margin: 0 2px
		font-size: 12px
	&__hint
		display: block
		margin-bottom: 7px
	&__close
		position: absolute
		top: 50%
		right: 45px
		margin-top: -6.5px
		font-size: 10px
		color: red
		opacity: 0
		visibility: hidden
		.icon-close
			color: red
	&__select-wrapper
		display: inline-block
		width: 100%
		// max-width: 200px
		width: 200px
		padding-right: 10px
		vertical-align: middle
		&_max-w
			max-width: 120px
		.select2
			display: block
			width: 100%
	&__text-magr-b
		margin-bottom: 10px
		max-width: 572px
	&__help
		span
			font-size: 14px
			color: #4a4a4a
	hr
		max-width: 600px
		margin: 15px auto 25px
		border: none
		border-top: 1px solid #cfd5e0
	.radio__span
		color: #282828
	.textarea
		min-height: 66px
	.btn-group
		margin: 30px -5px 0
	label.form__subttl
		cursor: pointer

.upload
	margin: 15px 0
	font-size: 14px
	color: #097bf2
	&.no-margin
		margin: 0
	&.no-icon
		.upload__in
			padding-left: 0
		.icon
			display: none
	&.is-popup-btn
		display: inline-block
		margin: 0 10px
	&__in
		position: relative
		display: inline-block
		padding-left: 32px
		cursor: pointer
		&:hover
			span
				text-decoration: underline
	input[type="file"]
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		padding: 0
		opacity: 0
		font-size: 0
		cursor: pointer
		z-index: 1
	small
		display: block
		font-size: 13px
		color: #6c757a
	.icon
		position: absolute
		top: -2px
		left: 0
		font-size: 22px

.addpost
	position: absolute
	display: inline-block
	top: 4px
	left: 0
	text-align: center
	font-size: 11px
	color: #c6ccd8
	opacity: 0
	visibility: hidden
	&.is-visible
		visibility: visible
		opacity: 1
	.icon-comment
		font-size: 23px

.newpost
	position: relative
	margin-top: 17px
	padding: 15px 20px
	background: #f3f4f6
	border: 1px solid #cfd5e0
	border-radius: 4px
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12)
	&:before,
	&:after
		content: ""
		position: absolute
		bottom: 100%
	&:before
		left: 22px
		+arr(18, 11, #cfd5e0, t)
	&:after
		left: 24px
		+arr(15, 10, #f3f4f6, t)
	&__in
		+clr
	&__bl
		margin-bottom: 17px
		color: #282828
		&.is-old
			color: #6c757a
		a
			color: #097bf2
			&:hover
				text-decoration: underline
	&__link
		margin-left: 10px
		float: right
		color: #097bf2
		&:hover
			text-decoration: underline
	&__ttl
		margin-bottom: 2px
		color: #282828
		+opensans-sb
		.status-info
			vertical-align: 2px
	&__date
		margin-left: 3px
		color: #96a0a6
		+opensans
	&__edit
		margin-top: 5px
		font-size: 11px
		a
			display: inline-block
			margin-right: 8px
			color: #96a0a6
	label
		margin: 0 0 10px
	.btn-group
		display: none
		float: right
		margin-top: 10px
		&.is-visible
			display: block