// forms
.form
	margin: 45px 0 80px
	font-size: 13px
	color: #6c757a
	&__ttl
		max-width: 580px
		margin: 0 auto 20px
		font-size: 18px
		color: #282828
		+opensans-sb
	&__subttl
		margin-bottom: 10px
		font-size: 14px
		color: #282828
		+opensans-sb
	&__bl
		position: relative
		padding: 0 109px
		margin-bottom: 20px
		&:hover
			.comment
				opacity: 1
				visibility: visible
	&__upload
		padding-left: 32px
		font-size: 14px
		margin: 15px 0
		a
			position: relative
			display: inline-block
			color: #097bf2
			line-height: 1
			&:hover
				text-decoration: underline
		small
			display: block
			font-size: 13px
		.icon
			position: absolute
			top: 50%
			right: 100%
			margin-top: -11px
			margin-right: 10px
			font-size: 22px
			vertical-align: middle
	label
		display: block
		margin: 7px 0
	hr
		max-width: 580px
		margin: 25px auto
		border: none
		border-top: 1px solid #cfd5e0
	.radio__span
		color: #282828
	.textarea
		min-height: 66px
		margin-top: 7px

.alert
	margin-bottom: 14px
	padding: 9px 15px
	font-size: 13px
	color: #282828
	background: #fffaf6
	border: 1px solid #f76300
	+opensans-sb
	+clr
	&__bl
		float: right
		&:first-child
			float: left
		span
			vertical-align: middle
	&__link
		color: #097bf2
		+opensans
		&:hover
			text-decoration: underline
	.icon
		font-size: 12px
		margin-right: 5px
		vertical-align: middle
	.icon-warn
		color: #f76300

.comment
	position: absolute
	display: inline-block
	top: 4px
	left: 30px
	text-align: center
	font-size: 11px
	color: #c6ccd8
	opacity: 0
	visibility: hidden
	&.is-visible
		visibility: visible
		opacity: 1
	.icon-comment
		font-size: 23px

.newpost
	position: relative
	padding: 15px 30px
	background: #f3f4f6
	border: 1px solid #cfd5e0
	border-radius: 4px
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12)
	+clr
	.btn-group
		float: right