.header
	min-height: 153px
	background-color: #474e52
	&.is-form
		min-height: auto
		position: fixed
		min-width: 1000px
		top: 0
		left: 0
		right: 0
		background: #FFF
		z-index: 7
		border-bottom: 1px solid #dee1e7
		.header__in
			position: relative
			padding: 0
			box-shadow: 0px 1px 0px 0px #dee1e7
			&:first-child
				background: #FFF
	&.is-staff
		.menu
			margin-left: 5px
	&__in
		padding: 15px 0
		+clr
	&__logo
		float: left
		margin-top: 9px
		color: #fff
	&__group
		float: left
	&__close
		display: inline-block
		width: 66px
		height: 64px
		margin-right: 17px
		vertical-align: middle
		border-right: 1px solid #DEE1E7
		+vertical
		.icon
			font-size: 20px
			color: #6c757a
			vertical-align: middle
	&__bl
		display: inline-block
		font-size: 16px
		color: #282828
		vertical-align: middle
		span
			vertical-align: middle
		small
			font-size: 13px
			color: #738496
		.icon
			margin-right: 5px
			vertical-align: middle
		.icon-check
			margin-left: 5px
			font-size: 12px
	&__list
		position: relative
		text-align: center
		font-size: 0
		&:before,
		&:after
			content: ""
			position: absolute
			top: 0
			width: 100%
			border-top: 1px solid #dee1e7
		&:before
			right: 100%
		&:after
			left: 100%
		li
			display: inline-block
			padding: 7px 21px
			vertical-align: middle
	&__option
		font-size: 13px
		color: #6c757a
		&:hover
			text-decoration: underline
		&.is-disabled
			color: #DDECF4
			text-decoration: none
			pointer-events: none
			-ms-pointer-events: none
	.btn-group
		float: right
		padding-top: 15px
		margin-right: 40px
	.btn
		+opensans-sb
	.btn-no
		color: #6c757a
	.svg-ico
		width: 16px
		height: 16px
		margin-right: 5px
		background-size: 16px 16px
		vertical-align: middle
	.icon-logo-short
		font-size: 14px

.menu
	float: left
	margin: 7px 0 0 20px
	+clr
	&__option
		position: relative
		float: left
		margin: 0 13.5px
		padding: 2px 0
		&:after
			display: none
			content: ""
			position: absolute
			top: 100%
			left: 50%
			margin: 10px 0 0 -10px
			+arr(20, 12, #f7f8f9, t)
		&.is-active
			&:after
				display: block
			.menu__link,
			.dropdown__item
				color: #fff
				+opensans-sb
	&__link
		text-transform: uppercase
		color: #93988f
		letter-spacing: 0.5px
		&:hover
			color: #fff
	.dropit
		left: -15px

.notification
	position: absolute
	top: 0
	left: 100%
	margin: -6.5px 0 0 1px
	font-size: 9px
	text-align: center
	padding: 2px 3px 1px
	background: #f76300
	line-height: 1
	color: #FFF
	+opensans
	span
		display: inline-block
		max-width: 19px
		overflow: hidden
		white-space: nowrap

.helpers
	position: relative
	float: right
	font-size: 0
	&__info
		display: inline-block
		width: 18px
		height: 18px
		text-decoration: none
		text-align: center
		font-size: 13px
		background: #6c757a
		color: #474e52
		border-radius: 50%
		vertical-align: middle
		+rmono
		&:hover
			background: #fff
	&__bell
		display: inline-block
		margin-left: 16px
		font-size: 18px
		color: #6c757a
		vertical-align: -5.5px
		&.is-active
			color: #f76300
		&:hover
			color: #fff
		&:empty
			vertical-align: middle
		.icon
			vertical-align: middle
	&__message
		position: relative
		display: inline-block
		padding: 2px 5px 3px 4px
		font-size: 11px
		color: #fff
		background: #f76300
		line-height: 1
		vertical-align: 3px
		+opensans-sb
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 0
			margin: -3px 0 0 -4px
			+arr(4, 6, #f76300, l)
	.dropdown
		display: inline-block
		vertical-align: middle
		&:first-child
			margin-right: 23px
		.dropdown__item
			text-transform: none
	+r(1020)
		.dropdown
			&:first-child
				margin-right: 10px
			&__item
				&:before
					display: none

// search
.search
	position: relative
	display: inline-block
	max-width: 225px
	margin-left: 15px
	vertical-align: middle
	&.is-active
		input
			background: #fff
			color: #000
	input
		width: 100%
		padding: 8px 8px 8px 40px
		border: 1px solid #6c757a
		border-radius: 40px
		font-size: 13px
		background: none
		color: #fff
		+placeholder
			color: #757a7d
		&:focus
			box-shadow: none
	.icon-zoom
		position: absolute
		top: 50%
		left: 15px
		margin-top: -7px
		font-size: 14px
		color: #757A7D

// suggest
.suggest
	position: absolute
	top: 50%
	right: 0
	min-width: 390px
	padding: 20px 23px 20px 26px
	font-size: 0
	background: #FFF
	border-radius: 4px
	box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.5)
	opacity: 0
	visibility: hidden
	z-index: -1
	+tr(0.4s ease)
	&.is-active
		opacity: 1
		visibility: visible
		z-index: 11
	&.is-staff
		font-size: 0
		.suggest
			&__head
				position: absolute
				right: 23px
			&__menu
				margin-top: 0
				padding-right: 50px
				+clr
			&__folder
				margin-right: 0
		.icon-folder
			font-size: 40px
	&__head
		+clr
		&.is-border
			position: relative
			margin-bottom: 20px
			padding-bottom: 20px
			&:before
				content: ""
				position: absolute
				left: -26px
				right: -23px
				bottom: 0
				border-bottom: 1px solid #efefef
	&__close
		float: right
		width: 50px
		height: 50px
		background-color: #097bf2
		border-radius: 50%
		color: #FFF
		vertical-align: middle
		cursor: pointer
		+vertical
		+rotate(-45)
	&__ttl
		margin-bottom: 23px
		font-size: 16px
		color: #282828
	&__txt
		display: inline-block
		color: #097bf2
		font-size: 14px
		vertical-align: middle
		&:first-child
			margin-top: 14px
			font-size: 16px
			color: #282828
	&__folder
		position: relative
		display: inline-block
		margin-right: 23px
		color: #899bac
		vertical-align: middle
		cursor: pointer
		line-height: 1
		.icon-plus
			position: absolute
			top: 50%
			left: 50%
			margin: -5.5px 0 0 -7.5px
	&__menu
		margin-top: 10px
	&__side
		display: inline-block
		vertical-align: bottom
		padding: 0 100px 0 44px
		&:first-child
			padding-left: 7px
			border-right: 1px solid #DCE0E7
	&__bl
		display: block
		font-size: 11px
		margin-bottom: 10px
		color: #96A0A6
		&:hover
			p:first-child
				text-decoration: underline
		p:first-child
			margin-bottom: 2px
			text-transform: capitalize
			font-size: 14px
			color: #097bf2
	&__in
		display: inline-block
		max-width: 250px
		margin-left: 20px
		line-height: 1.3
		vertical-align: middle
	.svg-ico
		width: 50px
		height: 50px
		background-size: 50px 50px
		vertical-align: middle
	.memo-ico
		background-image: url('../img/svg-bg/memo.svg')
		&.is-disabled
			background-image: url('../img/svg-bg/memo-disabled.svg')
	.letter-ico
		background-image: url('../img/svg-bg/letter.svg')
		&.is-disabled
			background-image: url('../img/svg-bg/letter-disabled.svg')
	.customer-ico
		background-image: url('../img/svg-bg/customer.svg')
		&.is-disabled
			background-image: url('../img/svg-bg/customer-disabled.svg')
	.transaction-ico
		background-image: url('../img/svg-bg/transaction.svg')
		&.is-disabled
			background-image: url('../img/svg-bg/transaction-disabled.svg')
	.icon
		font-size: 50px
		vertical-align: middle
	.icon-plus
		font-size: 15px
		color: #FFF
		vertical-align: middle
	.icon-letter
		border-radius: 2px

// sysmessage
.sysmessage
	position: absolute
	top: 100%
	right: 0
	width: 380px
	margin-top: 12px
	font-size: 13px
	background: #fff
	opacity: 0
	visibility: hidden
	border: 1px solid #dce0e7
	border-radius: 4px
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5)
	z-index: -1
	+tr(0.4s ease)
	&:before,
	&:after
		content: ""
		position: absolute
	&:before
		top: -14px
		left: 124px
		+arr(22, 14, #dde2e7, t)
	&:after
		top: -12px
		left: 125px
		+arr(20, 12, #f7f8f9, t)
	&.is-active
		z-index: 11
		opacity: 1
		visibility: visible
	&__container
		position: relative
		max-height: 350px
		overflow: hidden
	&__head
		position: relative
		padding: 10px 17px
		background: #f7f8f9
		border-bottom: 1px solid #dce0e7
	&__ttl
		max-width: 320px
		font-size: 13px
		color: #f76300
		+opensans-sb
	&__el
		position: relative
		padding: 10px 17px
		color: #282828
		background: #f7f8f9
		border-top: 1px solid #dce0e7
		+clr
		&:first-child
			border-top: none
		&.no-bg
			background: none
		&.is-all
			border-top: 1px solid #dce0e7
			border-bottom: none
		> .icon:last-child
			position: absolute
			top: 14px
			right: 11px
			margin: 0
		.svg-ico,
		.icon
			float: left
			margin: 3px 8px 0 0
	&__name
		overflow: hidden
	&__img
		width: 100%
		max-width: 40px
		max-height: 40px
		float: left
		margin-right: 12px
		border-radius: 50%
	&__info
		max-width: 80%
		overflow: hidden
		p
			margin: 10px 0
	&__name
		h4
			margin-bottom: 3px
			+opensans-sb
		span
			display: inline-block
			vertical-align: middle
	&__date
		display: block
		font-size: 11px
		color: #6c757a
	&__list
		margin: 17px 0
	.reaction
		margin-bottom: 0
	.icon-close
		position: absolute
		top: 11px
		right: 10px
		cursor: pointer
		&:hover
			color: red
	.icon-check
		color: #2caf24
		margin-right: 5px
		vertical-align: middle
	.ps-scrollbar-y-rail
		right: 0
		width: 4px
		.ps-scrollbar-y
			width: 4px


// search results
.results
	position: absolute
	top: 100%
	right: 0
	width: 100%
	width: 343px
	margin-top: 2px
	font-size: 13px
	background: #FFF
	opacity: 0
	visibility: hidden
	border-radius: 4px
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
	z-index: 5
	+tr(0.3s ease)
	&.is-active
		opacity: 1
		visibility: visible
	&__bl
		display: block
		padding: 10px
		color: #000
		border-bottom: 1px solid #efefef
	.description
		margin-bottom: 5px
		color: #097BF2
	.txt-center
		text-align: center

// reaction
.reaction
	margin: 15px 0
	font-size: 0
	li
		position: relative
		display: inline-block
		font-size: 13px
		vertical-align: middle
		&:after
			content: "|"
			display: inline-block
			margin: 0 5px
			color: #b1d3d5
			vertical-align: middle
		&:last-child
			&:after
				display: none
	&__link
		display: inline-block
		color: #097bf2
		vertical-align: middle
		&:hover
			text-decoration: underline