.main
	margin-top: -90px
	&__in
		min-height: 400px
		background: #fff
		border: 1px solid #dce0e7
		border-radius: 6px
	&.is-form
		margin-top: 0
		margin-bottom: 30px
		padding-top: 175px
		.ui-select-container
			&.select2-container
				.select2-choice
					height: 35px
					padding: 10px 0 0 8px
					border: 1px solid #cfd5e0
					background-image: none
					background-color: #f7f8f9
					line-height: 1
				.select2-arrow
					border-left: 1px solid #cfd5e0
					b
						background-position: 0 3px
			&.select2-dropdown-open
				.select2-choice
					background-image: none
					background: #fafafa
				.select2-choice .select2-arrow b
					background-position: -18px 3px
			&.select2-container-active
				.select2-choice,
				.select2-container-active .select2-choices
					border-color: #cfd5e0
			.select2-drop-active
				border-color: #cfd5e0
	&.is-top-bar
		padding-top: 210px
	&.sm-pad
		padding-top: 120px

.upper
	position: relative
	min-height: 90px
	margin-bottom: 20px
	padding: 18px 18px 8px
	background: #f7f8f9
	border-bottom: 1px solid #dce0e7
	border-radius: 6px 6px 0 0
	&.is-custom
		// min-height: 60px
		font-size: 0
		+clr
		.upper__ttl
			position: relative
			display: inline-block
			margin-bottom: 0
			vertical-align: middle
			&:after
				content: $icon-arr-right
				display: inline-block
				margin: 0 7px
				font-family: svgfont
				font-size: 11px
				color: #96a0a6
				vertical-align: 2px
			&:only-of-type
				&:after
					content: none
			&:last-child
				&:after
					display: none
		.btn
			float: right
			padding: 8px 31px
		// .suggest
		// 	margin-top: -16px
	&__ttl
		margin-bottom: 12px
		color: #282828
		font-size: 20px
		+opensans-sb
		.icon-folder
			margin-right: 10px
			font-size: 16px
			color: #899bac
	&__list
		+clr
	&__option
		float: left
		margin-left: 25px
		&:first-child
			margin-left: 0
		&--spec
			.upper__link
				&.is-active
					&:after
						border-color: transparent transparent rgba(255, 200, 69, 1) transparent
	&__link
		position: relative
		color: #097bf2
		font-size: 14px
		&:before,
		&:after
			display: none
			content: ""
			position: absolute
			top: 100%
			left: 50%
		&:before
			margin: 2px 0 0 -9px
			+arr(18, 10, #dce0e7, t)
		&:after
			margin: 3px 0 0 -8px
			+arr(16, 10, #fff, t)
		&:hover
			color: #000
		&.is-active
			color: #000
			+opensans-sb
			&:before,
			&:after
				display: block
		&.is-disabled
			pointer-events: none
	&__full
		+r(1365)
			display: none
	&__shortcut
		font-size: 0
		+r(1365)
			font-size: 14px
	&__btn-descr
		position: absolute
		top: 30px
		right: 87px
		color: #0d66bd
		font-size: 11px
		+opensans-sb
	.add-btn
		position: absolute
		right: 23px
		bottom: 20px
		z-index: 1
	&_help
		margin-bottom: 0
		// &__link
		// 	&:after
		// 		+arr(16, 10, rgba(255, 200, 69, 1), t)

.up-help
	background-color: rgba(255, 200, 69, 1)
	// rgba(255, 241, 222, 0.8)
	padding: 22px 52px 18px
	color: #282828
	font-size: 14px



.start
	position: relative
	margin: 35px 0 110px
	text-align: center
	font-size: 16px
	color: #6c757a
	z-index: 0
	overflow: hidden
	&:after
		content: ""
		position: absolute
		top: 22px
		right: 0
		bottom: 0
		width: 47px
		background: #fff
		z-index: 1
	&.s-b-margin
		margin-bottom: 30px
	&__in
		position: relative
		z-index: 0
	&__info
		max-width: 620px
		margin: 0 auto
		text-align: left
		font-size: 12px
	&__list
		margin: 10px 0
	&__option
		margin-bottom: 10px
		+clr
		span
			display: block
			overflow: hidden
	&__step
		float: left
		margin-right: 7px
	&__ttl
		margin-bottom: 10px
		font-size: 26px
		color: #282828
	&__folder
		position: relative
		margin: 28px 0 30px
		line-height: 1
		.icon-folder
			position: relative
			&:after
				content: ""
				position: absolute
				width: 1000px
				height: 1000px
				top: 50%
				left: 100%
				margin: -1px 0 0 20px
				border-top: 2px solid #899bac
				background: #FFF
				z-index: -1
	&__callfor
		position: relative
		margin-top: 20px
		color: #6c757a
		line-height: 1.15
		+handwrite
		span
			position: relative
			display: inline-block
			padding: 0 20px
			background: #fff
			z-index: 1
	&__linkwrap
		margin-top: 10px
		font-size: 0
	&__link
		display: inline-block
		text-decoration: underline
		font-size: 13px
		color: #bcc6cc
		vertical-align: middle
		&:first-child
			margin-right: 28px
		&:only-child
			margin-right: 0
		&:hover
			text-decoration: none
	&__linebl
		position: relative
	.icon-folder
		font-size: 122px
	.icon-plus
		position: absolute
		top: 50%
		left: 50%
		margin: -15px 0 0 -15px
		font-size: 30px
		color: #FFF
	@media print
		.icon-folder
			&:after
				display: none

.add-btn
	width: 51px
	height: 51px
	border-radius: 50%
	background: #2C83CB
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.31)
	&:before,
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		border-radius: 50%
		will-change: opacity
		+tr(0.2s)
	&:before
		+g(#2c83cb, #025bb7)
	&:after
		opacity: 0
		+g(#025bb7, #2c83cb)
	&:hover
		&:before
			opacity: 0
		&:after
			opacity: 1
	.icon-plus
		position: absolute
		top: 50%
		left: 0
		right: 0
		margin-top: -7.5px
		font-size: 15px
		color: #FFF
		z-index: 1

.steps
	max-width: 850px
	margin: 40px auto 0
	font-size: 0
	text-align: center
	&__bl
		display: inline-block
		width: 15%
		margin-bottom: 30px
		padding: 0 17px
		font-size: 13px
		color: #6c757a
		vertical-align: top
		+opensans-l
		&:last-child
			.steps__icon
				&:before
					display: none
	&__icon
		position: relative
		display: inline-block
		min-width: 70px
		min-height: 80px
		font-size: 70px
		&:before
			content: $icon-arr-right
			position: absolute
			top: 50%
			left: 100%
			font-size: 16px
			margin: -8px 0 0 20px
			color: #bcc6cc
			@extend %icon
	.icon
		vertical-align: top
		border-radius: 3px
	.paid-ico
		position: relative
		top: -10px
		left: -8px
	.memo-ico
		background-image: url('../img/svg-bg/memo.svg')
	.letter-ico
		background-image: url('../img/svg-bg/letter.svg')
	.customer-ico
		background-image: url('../img/svg-bg/customer.svg')
	.transaction-ico
		background-image: url('../img/svg-bg/transaction.svg')

.arrow-block
	position: absolute
	top: 0
	bottom: 0
	right: 47px
	margin-top: 15px
	border-right: 2px solid #899bac
	z-index: 0
	&:after
		content: ""
		position: absolute
		top: 0
		right: 0
		margin: -7px -11.5px 0 0
		+arr(21, 14, #899bac, t)
	@media print
		display: none

.line-block
	position: absolute
	top: 50%
	left: 100%
	margin: -1px 0 0 20px
	width: 1000px
	height: 1000px
	border-top: 2px solid #899bac
	background: #FFF
	@media print
		display: none

.tooltip
	margin-bottom: 10px
	font-size: 17px
	color: #282828
	p
		display: inline-block
		vertical-align: middle
	&__ico
		display: inline-block
		width: 14px
		height: 14px
		border: 1px solid #cfd5e0
		border-radius: 50%
		vertical-align: middle
		cursor: pointer
		+opensans-sb
		+vertical
		span
			display: inline-block
			font-size: 8px
			color: #a6acb8
			vertical-align: middle

.deal
	padding: 5px 17px
	font-size: 13px
	color: #738496
	&__active
		margin: 2px 0
		color: #282828
		+opensans-sb
	&__status
		a
			display: inline-block
			margin-right: 12px
			color: #097bf2
			vertical-align: middle
			&:hover
				text-decoration: underline
			&.is-delete
				color: #ff4159
	&__ttl
		font-size: 17px
		color: #282828
	&__form
		max-width: 565px
		margin: 10px 0 15px
		&-ttl
			margin-bottom: 10px
			color: #282828
			font-size: 14px
			+opensans-sb
		.btn
			margin-top: 15px
	small
		font-size: 13px
		color: #bcc6cc
	.tooltip
		&:only-child
			margin-bottom: 0

.activity
	margin: 40px 17px
	font-size: 13px
	color: #6c757a
	&.md-font
		font-size: 14px
	&.no-side-margin
		margin: 40px 0
	&.sm-margin
		margin: 15px 0
	&.is-full-w
		.activity__table
			width: 100%
	&.activity-form-mod
		.activity__table
			margin: 0 auto
		.activity__cell
			padding: 4px 20px 4px 0
			vertical-align: middle
	&__ttl
		margin-bottom: 10px
		font-size: 17px
		color: #282828
	&__table
		display: table
		margin-bottom: 8px
	&__row
		display: table-row
		&.is-bottom-space
			.activity__cell
				padding-bottom: 20px
	&__cell
		display: table-cell
		min-width: 90px
		padding: 0 10px 3px 0
		vertical-align: top
		&.sm-width
			width: 22%
		&.m-width
			width: 50%
		small
			font-size: 13px
			color: #282828
	&__cell-ttl
		display: block
		max-width: 170px
	&__link
		text-decoration: underline
		color: #6c757a
		&:hover
			text-decoration: none
	&__more
		color: #96a0a6
	&__name
		margin-right: 5px
		color: #097bf2
		&:hover
			text-decoration: underline
	&__input
		max-width: 160px
		input
			max-width: calc(100% - 20px)
	&__slash
		width: 14px
		padding: 0 2px
	&__hint
		font-style: italic
	&__bold
		+opensans-sb

// task
.task
	max-width: 700px
	margin: 15px auto 0
	&__num
		font-size: 13px
		color: #6c757a
		+clr
		li
			position: relative
			float: left
			&:after
				content: "/"
				display: inline-block
				margin: 0 5px
				vertical-align: middle
			&:last-child
				&:after
					display: none
		a
			color: #097bf2
			&:hover
				text-decoration: underline
	&__in
		margin-top: 30px
		h2
			font-size: 20px
	&__info
		margin: 5px 0 20px
		color: #6c757a
		font-size: 13px
		&.is-review
			span
				color: #282828
		span
			color: #f76300
			+opensans-sb
	&__text
		margin: 5px 0
		font-size: 14px
	&__bl
		margin-top: 40px
		.table + .task__upload
			.upload
				margin-left: 4px
	&__ttl
		margin-bottom: 10px
		font-size: 17px
	&__upload
		margin-top: 10px
		+clr
		.upload
			float: left
		.btn
			float: right
			margin-top: 9px
			padding: 8px 31px
	&__list
		margin: 18px 0
		font-size: 14px


.taskstat
	display: table
	margin-top: 15px
	&__cell
		display: table-cell
		vertical-align: middle
		font-size: 14px
		&:first-child
			padding-right: 20px
			.icon
				font-size: 50px
				border-radius: 2px
	a
		color: #097bf2
		&:hover
			text-decoration: underline
	.status
		margin-top: 2px
	.svg-ico
		width: 50px
		height: 50px
		background-size: 50px 50px
	.memo-ico
		background-image: url('../img/svg-bg/memo.svg')
		&.is-disabled
			background-image: url('../img/svg-bg/memo-disabled.svg')
	.letter-ico
		background-image: url('../img/svg-bg/letter.svg')
		&.is-disabled
			background-image: url('../img/svg-bg/letter-disabled.svg')
	.customer-ico
		background-image: url('../img/svg-bg/customer.svg')
		&.is-disabled
			background-image: url('../img/svg-bg/customer-disabled.svg')
	.transaction-ico
		background-image: url('../img/svg-bg/transaction.svg')
		&.is-disabled
			background-image: url('../img/svg-bg/transaction-disabled.svg')


.comments
	margin-top: 50px
	&.is-in-form
		margin: 0
		max-width: 600px
		margin: 0 auto
		padding: 40px 0 50px
	&__head
		font-size: 17px
		padding-bottom: 5px
		border-bottom: 1px solid #efefef
		+clr
	&__bl
		padding: 10px
		margin-top: 10px
		font-size: 13px
		color: #6c757a
		border: 1px solid transparent
		border-radius: 5px
		+clr
		&.is-approved
			border-color: #2CAF24
		&.is-rejected
			border-color: #f76300
	&__avatar
		float: left
		width: 100%
		max-width: 40px
		max-height: 40px
		margin-right: 20px
		border-radius: 50%
	&__el
		overflow: hidden
	&__in
		margin-bottom: 5px
		+clr
	&__name
		float: left
		max-width: 80%
		color: #282828
		+opensans-sb
	&__date
		float: right
		color: #8c99a0
	&__autorespond
		margin-bottom: 10px
		&.is-bold
			color: #282828
			+opensans-sb
		&:last-child
			margin-bottom: 0
		a
			color: #097bf2
			&:hover
				text-decoration: underline
	&__post
		margin-top: 25px
		+clr
		&:only-child
			margin-top: 20px
		.btn
			margin-top: 10px
			float: right
	&__archive
		float: right
		margin-top: 5px
		font-size: 13px
		color: #738496
		&:hover
			text-decoration: underline
	.tooltip
		float: left
		margin-bottom: 0
	.status
		color: #282828
		+opensans-sb
	.textarea
		min-height: 36px


// report
.report
	margin: 15px 0
	padding: 13px 65px 15px 17px
	font-size: 13px
	color: #282828
	background: #FFF6E6
	border: 1px solid #FFC55E
	+clr
	&.is-max-w
		margin: 0 17px
		padding-right: 18px
		max-width: 663px
	&.is-full-w
		padding-right: 15px
	&.is-rejected,
	&.is-approved
		margin: 0 0 14px
		padding: 9px 15px 10px
		color: #282828
		+opensans-sb
	&.is-rejected
		background: #fffaf6
		border: 1px solid #f76300
	&.is-approved
		border: 1px solid #2CAF24
	&.is-error
		padding: 13px 15px
		background: #fee
		border-color: #ffc0c8
	&.is-margin-bottom
		margin: 0 0 15px
	&__ttl
		margin-bottom: 5px
		font-size: 14px
		+opensans-sb
	&__bl
		overflow: hidden
		padding: 0 10px 0 2px
		span
			vertical-align: middle
	&__link
		display: inline-block
		margin-top: 3px
		color: #097bf2
		+opensans
		&:hover
			text-decoration: underline
	&__more
		float: right
	.icon
		font-size: 12px
		margin-right: 5px
		vertical-align: middle
	.icon-warn
		color: #f76300
	.icon-square-arr
		font-size: 14px
		color: #2CAF24
	.icon-calendar
		font-size: 16px
		color: #000

// actions
.actions
	margin: 15px 0 40px
	text-align: center
	font-size: 0
	&__bl
		display: inline-block
		width: 25%
		max-width: 230px
		padding: 0 10px
		text-align: center
		font-size: 13px
		color: #738496
		vertical-align: top
		cursor: pointer
		&.is-disabled
			color: #bcc6cc
			.radio__span
				color: #bcc6cc
			.actions__ico
				opacity: 0.15
		&.is-active
			.actions__in
				border-color: #097bf2
			.icon
				opacity: 1
	&__in
		min-height: 253px
		padding: 22px
		border: 1px solid #cfd5e0
		border-radius: 6px
	&__ico
		display: inline-block
		margin-bottom: 20px
	&__txt
		color: #6c757a
	.radio
		display: block
		margin-bottom: 10px
	.icon
		font-size: 77px
		opacity: 0.5
	.icon-marked
		position: absolute
		top: 25px
		right: 6px
		font-size: 25px
		color: #fff
		opacity: 1
	.icon-delete
		color: red
	+r(1000)
		text-align: left
		margin-left: -10px
		margin-right: -10px

// total
.total
	max-width: 422px
	margin: 15px 0
	margin-left: 17px
	font-size: 13px
	tr
		&.is-border
			border-top: 1px solid #efefef
			color: #6c757a
			td:first-child
				padding-top: 7px
	td
		padding: 1px 0
		&:last-child
			text-align: right
		&.is-b-padding
			padding-bottom: 7px
		&[colspan]
			padding: 0
	.txt-bold
		+opensans-sb
	.txt-orange
		color: #f76300

// pagination
.pagination
	margin: 20px 0
	text-align: center
	font-size: 0
	&__list
		display: inline-block
		margin: 0 13px
		font-size: 13px
		vertical-align: middle
		+clr
		li
			float: left
		a
			margin: 0 5px
			padding: 2px 3px
			color: #097bf2
			&.is-active,
			&:hover
				color: #000
	.btn
		position: relative
		display: inline-block
		vertical-align: middle

// settings
.settings
	max-width: 340px
	margin: 40px auto 60px
	.tooltip
		margin-bottom: 20px
		font-size: 18px
		+opensans-sb
	.form
		margin-top: 0