.entry-wrapper
	padding-left: 64px
	position: relative
	margin-top: 8px
	&__toggle-btn
		width: 40px
		height: 40px
		border-radius: 8px 0 0 8px
		background-color: #ffffff
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.18)
		display: none
		position: fixed
		right: 0

		.icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-size: 7px
			color: #6c757a
	.form__bl--ml
		margin-left: 0
	.report 
		// .is-in-review, .is-draft
		// 	i
		// 		width: 14px
		// 		height: 14px
		// 		position: relative
		// 		display: block
		// .is-in-review
		// 	i
		// 		background-image: url("../img/svg-bg/desert-clock.svg")

	&.closed-sidebar
		padding-right: 64px
		.two-col
			&__left
				width: 100%
			&__right
				display: none
		.entry-wrapper__toggle-btn
			display: block
		.entry-content
			.form
				max-width: 854px
				margin-left: auto
				margin-right: auto
				&__bl--ml
					margin-left: 20px


	
.entry-sidebar, .entry-content, .tablewrap
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
	background-color: #ffffff
.entry-content
	// padding: 50px 35px 65px
	padding-top: 40px
	padding-bottom: 40px
	// padding: 40px 35px 65px
	margin-bottom: 35px
	position: relative
	&__layout
		padding: 0 35px
	.form
		margin: 0px 0 5px
	.comments.is-in-form
		padding: 0 0 50px
	.scrollbar
		margin-right: 0
	// &--min-h
	// 	height: 1061px
.entry-sidebar
	padding: 22px 0 
	position: relative
	top: auto
	bottom: auto
	transform-origin: 50% 0%
	transform: translate(0, 0)
	transform: translate3d(0, 0, 0)
	will-change: position, transform
	// position: fixed
	// top: 0
	// left: 0
	// width: 100%
	// height: 100vh
	.form.is-full-w
		.form__bl
			padding: 16px 29px 16px
			margin-bottom: 0
	.form
		margin: 0px 0 5px
		& > .form__ttl
			padding: 0 65px 0 29px
		// .form__bl:nth-of-type(1)
		// 		padding: 0
		// .form__bl:nth-of-type(2)
		// 	.form__ttl
		// 		margin-bottom: 0
		&__subttl
			color: #000000
			+opensans
			font-size: 13px
		.radio__span
			font-size: 13px
			color: #282828

		&__bl.field-is-filled
			background-color: #f0f0f0
			border-bottom: 1px solid #fff
			color: #6c757a
			.form__subttl, .radio__span
				color: #6c757a
	&__close-btn
		color: #cccccc
		position: absolute
		top: 30px
		right: 14px
		appearance: none
		border: none
		background: none
		.icon
			margin-left: 4px
		
.two-col
	// display: flex
	// align-items: flex-start
	// justify-content: space-between
	// &--pl-64
	// 	padding-left: 64px
	// position: relative

	+clr
	&__left
		// flex-basis: 864px
		// flex-grow: 1
		// flex-shrink: 1
		// margin-right: 30px
		// float: left
		// width: 62.8%
		float: left
		width: calc(100% - 480px )
		
	&__right
		// flex-basis: 450px
		// flex-grow: 0
		// flex-shrink: 0
		// position: relative
		// height: 100%
		// float: right
		// margin-left: 30px
		// width: calc(37.2% - 30px)
		width: 450px
		float: right
		will-change: min-height

