.new-entry
	padding-left: 64px
.ne-sidebar, .ne-content, .ne-table-wrap
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
	background-color: #ffffff
.ne-content
	padding: 50px 35px 65px
	margin-bottom: 35px
	position: relative

	.form
		margin: 0px 0 5px
	&--min-h
		height: 1061px
.ne-sidebar
	padding: 22px 0
	position: relative
	.form
		margin: 0px 0 5px
		&__ttl
			padding: 0 65px 0 29px
	&__close-btn
		color: #cccccc
		position: absolute
		top: 30px
		right: 14px
		appearance: none
		border: none
		background: none
		.icon
			margin-left: 4px
	&--min-h
		min-height: 1240px