*[data-popup]
	cursor: pointer

.overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: 10px
	text-align: center
	background: rgba(#F3F4F6, 0.6)
	opacity: 0
	visibility: hidden
	overflow: auto
	white-space: nowrap
	// z-index: 100002
	z-index: 12
	// z-index: 10
	// z-index: -1
	// transition: opacity 0.6s, visibility 0.6s
	+tr(0.5s ease)
	+vertical
	&.is-active
		opacity: 1
		visibility: visible
		// z-index: 10
	&.low-index
		z-index: 8

// popup style
.popup
	position: relative
	display: none
	width: 460px
	text-align: left
	font-size: 13px
	background: #fff
	box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.5)
	border-radius: 4px
	white-space: normal
	vertical-align: middle
	z-index: -1
	&.is-active
		display: inline-block
	&.is-top
		margin-top: 30px
		vertical-align: top
	&.is-dealflow
		width: 820px
	&.is-attach
		width: 665px
	&.is-new-customer
		width: 565px
	&.is-edit-commission
		width: 495px
	&.is-530-w
		width: 530px
	&_md
		width: 860px
		max-width: 100%
	&__head
		position: relative
		padding: 14px 21px
		color: #282828
		font-size: 16px
		background: #f7f8f9
		border-bottom: 1px solid #dce0e7
		&.no-bg
			background: none
			border: none
			+clr
	&__ttl
		text-align: center
		font-size: 26px
		color: #282828
		line-height: 36px
	&__subttl
		margin-bottom: 9px
		font-size: 20px
	&__headline
		font-size: 14px
		line-height: 19px
		+opensans-sb
	&__body
		padding: 15px 20px 20px
		&.no-b-pad
			padding-bottom: 0
		&--spec
			padding-left: 50px
			padding-right: 50px
			padding-bottom: 34px
		.divider
			margin: 15px -20px
		.history
			margin: 37px -20px 20px
			&__ttl
				padding: 0 20px
			td
				padding: 10px 20px
	&__bl
		margin: 10px 0
		+clr
		.popup__label
			margin: 0
		.dropdown
			float: right
	&__border-inner
		background-color: #fff
		box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.15)
		border: solid 1px #cfd5e0
		padding: 10px 12px
		min-height: 80px
		&>div
			margin-bottom: 3px
			&:last-of-type
				margin-bottom: 0
	&__card
		display: table
		width: 100%
		margin: 10px 0
		.dropdown
			float: right
		.popup__subttl
			display: block
	&__el
		float: left
		&.is-search
			width: 100%
			max-width: 420px
		.svg-ico
			width: 16px
			height: 16px
			background-size: 16px 16px
			vertical-align: -3px
		.icon
			font-size: 16px
			vertical-align: -3px
	&__choose
		position: relative
		display: table
		width: 100%
		padding-top: 13px
		font-size: 0
		table-layout: fixed
		.popup__el
			float: none
			display: table-cell
			vertical-align: top
			text-align: center
			padding: 5px 0
			font-size: 14px
			color: #097bf2
			&:hover
				text-decoration: underline
		.svg-ico
			width: 56px
			height: 56px
			margin-bottom: 10px
			background-size: 56px 56px
			vertical-align: middle
		.icon
			margin-right: 16px
			vertical-align: middle
		&--small-text
			.popup__definition 
				.tooltip
					margin-left: 0
					top: -4px
			.popup__el
				font-size: 11px
				&:nth-of-type(1)
					.popup__definition 
						padding-right: 10px
						.tooltip
							left: 82%
				&:nth-of-type(2)
					.popup__definition 
						padding: 0 10px
						.tooltip
							left: 82%
				&:nth-of-type(3)
					.popup__definition 
						padding-right: 10px
						.tooltip
							left: 92%
				&:nth-of-type(4)
					.popup__definition 
						padding-right: 10px
						.tooltip
							left: 92%
				&:nth-of-type(5)
					.popup__definition 
						padding-right: 10px
						.tooltip
							left: 86%
	&__more
		float: right
		color: #097bf2
		&:hover
			text-decoration: underline
	&__num
		margin-right: 5px
		+rmono
	&__gray
		font-size: 13px
		color: #6c757a
	&__scroll
		position: relative
		height: 435px
		overflow: hidden
	&__link
		display: inline-block
		color: #097bf2
		&:hover
			text-decoration: underline
	&__img
		position: relative
		display: table-cell
		width: 110px
		img
			width: 100%
	&__wrap
		position: relative
		.fa
			position: absolute
			right: 4px
			bottom: 9px
			padding: 2px 2px 2px 4px
			font-size: 16px
			color: #000
			background: #FFF
			box-shadow: -3px 0px 6px 0 gray
	&__owner
		position: absolute
		top: 2px
		right: 2px
		font-size: 20px
		color: #F1D270
	&__info
		display: table-cell
		padding-left: 20px
		vertical-align: top
		&:only-child
			padding-left: 0
	&__table
		color: #282828
		tr
			&:first-child td
				padding-bottom: 8px
		td
			&:first-child
				width: 18%
				padding-right: 7px
				color: #6c757a
		a
			text-decoration: underline
			color: #6c757a
			word-break: break-word
			&:hover
				text-decoration: none
	&__no-result
		padding: 7px 0 0 20px
	&__upload
		margin-top: 15px
		padding: 10px 15px
		background: #fafafa
		border-radius: 4px
		border: 1px solid #dce0e7
		a
			color: #097BF2
			&:hover
				text-decoration: underline
	&__news
		margin-top: 10px
		p
			margin-bottom: 10px
		ul, ol
			padding: 0 20px 5px
			li
				margin-bottom: 5px
		ul
			list-style-type: disc
		ol
			list-style-type: decimal
	&__definition
		position: relative
		display: inline-block
		.tooltip
			position: absolute
			top: -3px
			left: 100%
			margin-left: 5px
	&__currency
		width: 56px
		height: 56px
		margin: 0 auto 10px
		border-radius: 50%
		background: #3BA99F
		color: #FFF
		+vertical
		.icon
			font-size: 31px
			margin-right: 0
			vertical-align: middle
		.icon-dollar
			font-size: 35px
		.icon-euro
			margin-right: 2px
	&__username
		&.is-active
			.popup-list__span
				+opensans-sb
	&__commission
		.form__close
			right: 10px
			.icon-close
				font-size: 11px
	.txt-bold
		+opensans-sb
	.icon-close
		position: absolute
		top: 50%
		right: 20px
		margin-top: -7.5px
		font-size: 13px
		cursor: pointer
		+tr(color 0.3s)
		&:only-child
			position: static
			float: right
			margin-top: 0
		&:hover
			color: red
	.table
		.svg-ico
			width: 16px
			height: 16px
			background-size: 16px 16px
	.steps
		margin-top: 21px
	.report
		&:only-child
			margin: 0
			padding: 13px 15px
	.form
		margin: 0
		&.is-full-w
			.dropdown
				display: block
	.dropdown
		&.is-active
			.dropdown__list
				display: block
	.dropdown__list
		display: none
		width: 100%
		white-space: normal
		border-top-color: transparent
		a
			max-width: initial
	.textarea
		height: 100px
	.check
		vertical-align: middle
	.tooltip
		vertical-align: middle
	.reaction
		margin: 0 -15px
		li
			font-size: 14px
			&:after
				display: none
		&__link
			margin: 2px 13px
	.activity
		margin: 0 0 15px
	.btn-group
		margin-top: 20px
		text-align: right
		&.is-absolute
			position: absolute
			left: 0
			right: 0
			bottom: 0
			margin: 0
			background: #FFF
			padding: 15px 20px
			border-top: 1px solid #dce0e7
		&.is-hidden
			visibility: hidden
			opacity: 0
	.ps-container
		> .ps-scrollbar-y-rail
			width: 6px
			> .ps-scrollbar-y
				width: 6px
				min-height: 50px

.popup-list
	&.is-hidden
		display: none
	&__option
		border-bottom: 1px solid #efefef
		&:first-child
			border-top: 1px solid #efefef
		&:last-child
			border-bottom-color: transparent
		&:only-child
			border-bottom-color: #efefef
		&:hover
			background: #F7F8F9
		a
			display: block
			padding: 11px 20px 10px
			color: #282828
			+clr
	&__el
		font-size: 0
		overflow: hidden
		white-space: nowrap
		.icon, .svg-ico
			display: inline-block
			margin-right: 13px
			vertical-align: middle
		.svg-ico
			width: 16px
			height: 16px
		.icon
			font-size: 16px
		.check
			width: 100%
		span
			vertical-align: middle
	&__span
		display: inline-block
		max-width: calc(100% - 45px)
		font-size: 13px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		line-height: 1.2
	&__more
		float: right
		font-size: 0
		color: #6c757a
		.icon
			font-size: 14px
			color: #d8d8d8
	&__info
		display: inline-block
		margin-right: 20px
		font-size: 13px
		vertical-align: middle
		p
			display: inline-block
			padding: 0 10px
		span
			color: #f76300
			+opensans-sb
	.icon-folder
		margin-right: 10px
		font-size: 15px
		vertical-align: -7px
	.icon-customer2
		margin-right: 12px
		font-size: 17px
	.icon-square-arr
		font-size: 14px
		vertical-align: middle
	.check input:checked + .check__span
		+opensans-sb
		&:before
			border-color: #6C757A
	.check__span
		display: block




.members
	.popup__bl
		padding: 20px
		border-bottom: 1px solid #efefef
		&:last-child
			border-bottom: none

.news
	position: absolute
	top: 100%
	right: 0
	width: 100%
	max-width: 280px
	margin-top: 35px
	font-size: 13px
	z-index: 9
	&__bl
		margin-bottom: 15px
		background: #f7f8f9
		border: 1px solid #dce0e7
		border-radius: 4px
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5)
		+tr(0.3s ease-out)
		&.is-hidden
			opacity: 0
			visibility: hidden
	&__ttl
		padding: 15px 20px
		text-transform: uppercase
		// color: #f76300
		color: rgb(218,41,28) 
		letter-spacing: 0.02em
		cursor: pointer
		+opensans-sb
	&__txt
		display: none
		padding: 0 20px 15px
	&__more
		padding-top: 15px
		+clr
		.btn
			float: right
			padding: 8px 31px
	&__link
		text-decoration: underline
		display: block
		float: left
		margin-top: 6px
		color: #097bf2
		&:hover
			text-decoration: none

.divider
	display: block
	margin: 15px 0
	border-top: none
	border-bottom: 1px solid #efefef


// notification in header, under bell
.sysmessage
	position: absolute
	top: 100%
	right: 0
	width: 380px
	margin-top: 12px
	font-size: 13px
	background: #fff
	opacity: 0
	visibility: hidden
	border: 1px solid #dce0e7
	border-radius: 4px
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5)
	z-index: 11
	// z-index: -1
	+tr(0.4s ease)
	&:before,
	&:after
		content: ""
		position: absolute
	&:before
		top: -14px
		left: 124px
		+arr(22, 14, #dde2e7, t)
	&:after
		top: -12px
		left: 125px
		+arr(20, 12, #f7f8f9, t)
	&.is-active
		// z-index: 11
		opacity: 1
		visibility: visible
	&__container
		position: relative
		max-height: 350px
		overflow: hidden
	&__head
		position: relative
		padding: 10px 17px
		background: #f7f8f9
		border-bottom: 1px solid #dce0e7
	&__ttl
		max-width: 320px
		font-size: 13px
		color: #f76300
		+opensans-sb
	&__el
		position: relative
		padding: 10px 17px
		color: #282828
		background: #f7f8f9
		border-top: 1px solid #dce0e7
		+clr
		&:first-child
			border-top: none
		&.no-bg
			background: none
		&.is-all
			border-top: 1px solid #dce0e7
			border-bottom: none
		> .icon:last-child
			position: absolute
			top: 14px
			right: 11px
			margin: 0
		.svg-ico,
		.icon
			float: left
			margin: 3px 8px 0 0
	&__name
		overflow: hidden
	&__img
		width: 100%
		max-width: 40px
		max-height: 40px
		float: left
		margin-right: 12px
		border-radius: 50%
	&__info
		max-width: 80%
		overflow: hidden
		p
			margin: 10px 0
	&__name
		h4
			margin-bottom: 3px
			+opensans-sb
		span
			display: inline-block
			vertical-align: middle
	&__date
		display: block
		font-size: 11px
		color: #6c757a
	&__list
		margin: 17px 0
	.reaction
		margin-bottom: 0
	.icon-close
		position: absolute
		top: 11px
		right: 10px
		cursor: pointer
		&:hover
			color: red
	.icon-check
		color: #2caf24
		margin-right: 5px
		vertical-align: middle
	.ps-scrollbar-y-rail
		right: 0
		width: 4px
		.ps-scrollbar-y
			width: 4px

// part of sysmessage, move together
.reaction
	margin: 15px 0
	font-size: 0
	li
		position: relative
		display: inline-block
		font-size: 13px
		vertical-align: middle
		&:after
			content: "|"
			display: inline-block
			margin: 0 5px
			color: #b1d3d5
			vertical-align: middle
		&:last-child
			&:after
				display: none
	&__link
		display: inline-block
		color: #097bf2
		vertical-align: middle
		&:hover
			text-decoration: underline


// popup-form-info
.history
	&__table
		color: #6c757a
		table-layout: fixed
		tr:first-child
			td
				border-top: 1px solid #EFEFEF
		td
			padding: 10px 0
			border-bottom: 1px solid #EFEFEF
	&__ttl
		margin-bottom: 22px
		font-size: 16px
		color: #282828
	&__in
		max-width: 100%
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
	&__align-right
		text-align: right

.js-deal-currency
	display: none
