// common wrapper
.tablewrap
	position: relative
	margin: 25px 0
	&.no-top-margin
		margin-top: 0
	&.no-bottom-margin
		margin-bottom: 0
	&__in
		position: relative
		&:before
			display: none
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 1px
			border-bottom: 1px solid #efefef
			z-index: 1
		&.is-filtered
			&:before
				display: block
			.scrollbar
				min-height: 513px
				&:before
					display: block
				tr:last-child td
					border-bottom: 1px solid #efefef
		&.no-sidedrop
			.scrollbar
				margin-right: 0


// filters
.filters
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 8
	&.is-fixed
		position: fixed
		top: 0
		left: 50%
		width: 100%
		max-width: 1370px
		min-width: 1040px
		margin: 0 auto
		padding: 0 20px
		transform: translateX(-50%)
		.filters__wrap
			border-left: 1px solid #dce0e7
			border-right: 1px solid #dce0e7
	&__wrap
		position: relative
		display: table
		width: 100%
		padding: 10px 10px 10px 20px
		background: #FFF
	&__ttl
		display: table-cell
		max-width: 200px
		text-align: left
		font-size: 17px
		color: #282828
		vertical-align: bottom
		.tooltip
			margin-bottom: 0
	&__in
		display: table-cell
		text-align: right
		font-size: 0
		vertical-align: bottom
	.dropdown
		margin: 0 4px
		vertical-align: middle
		&.is-active
			z-index: 3
	+r(1300)
		&.is-fixed
			left: 0
			transform: translateX(0)

.toggle-btn
	position: relative
	display: inline-block
	width: 33px
	height: 33px
	margin: 0 4px
	border: 1px solid #cfd5e0
	border-radius: 4px
	vertical-align: middle
	cursor: pointer
	+vertical
	+tr(width 0.3s)
	&.is-active
		background: #828c92
		border-color: #828c92
		i
			color: #fff
		.icon-sidebar
			&:after
				border-color: transparent #FFF transparent transparent
	&.is-opened
		.icon-sidebar
			&:after
				display: block
	&.search-opened
		width: 208px
		.icon-zoom
			display: none
		input
			display: inline-block
	.icon-sidebar
		position: relative
		&:after
			content: ""
			display: none
			position: absolute
			top: 50%
			right: 4px
			margin-top: -3.5px
			+arr(4, 7, #6c757a, l)
	i
		font-size: 16px
		color: #6c757a
		vertical-align: middle
	input
		display: none
		height: 100%
		box-shadow: none
		border: none

.tabs
	display: inline-block
	margin: 0 4px
	font-size: 0
	vertical-align: middle
	border: 1px solid #cfd5e0
	border-radius: 4px
	&.is-table
		display: table
		width: 95%
		margin: 10px auto
		text-align: center
		table-layout: fixed
		.tabs__el
			display: table-cell
			padding: 7.5px 0
	&__el
		display: inline-block
		padding: 7.5px 16px
		font-size: 13px
		color: #6c757a
		vertical-align: middle
		border-right: 1px solid #cfd5e0
		cursor: pointer
		&:last-child
			border-right: none
		&.is-active
			background: #828c92
			color: #FFF

// table
.table
	max-width: 100%
	font-size: 13px
	color: #6c757a
	table-layout: fixed
	background: #FFF
	&.is-top-aligned
		td
			padding: 10.5px 8.5px
			vertical-align: top
		.table__drop
			padding-top: 5px
	&.no-overflow
		.table__text
			white-space: normal
	&__clip
		width: 5%
		text-align: center
		.icon.icon-clip
			font-size: 14px
	&__drop
		width: 50px
		padding: 5px 8.5px
		text-align: center
	&__name
		color: #282828
		+opensans-sb
		.status
			display: inline-block
	&__el
		font-size: 0
		+rmono
		span
			display: inline-block
			max-width: calc(100% - 25px)
			font-size: 13px
			overflow: hidden
			text-overflow: ellipsis
			vertical-align: middle
			white-space: nowrap
		.svg-ico, .icon
			margin-right: 5px
			font-size: 16px
	&__more
		display: inline-block
		font-size: 13px
		vertical-align: middle
		&:first-child
			vertical-align: baseline
	&__pic
		div
			float: left
			width: 60px
			height: 60px
			margin-right: 10px
			background-size: cover
		p, span
			overflow: hidden
	&__text
		max-width: 100%
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		vertical-align: middle
		&.is-info
			color: #f76300
	span.table__text
		display: inline-block
	.table__head
		background: #f7f8f9
		text-align: left
		&.is-full-border
			border: 1px solid #dce0e7
		th
			position: relative
			height: 39px
			text-align: left
			font-size: 13px
			font-weight: normal
			border: 1px solid #dce0e7
			border-width: 1px 1px 1px 0
			cursor: pointer
			vertical-align: middle
			+opensans-sb
			&:before
				display: none
				content: ""
				position: absolute
				top: 19px
				right: 10px
				margin-top: -2px
				+arr(7, 4, #6c757a, b)
			&:hover
				background: rgba(0, 0, 0, 0.05)
			&.is-active
				background: rgba(0, 0, 0, 0.05)
				&:before
					display: block
				p, span
					padding-right: 20px
			&:first-child
				&:not(.label-checkbox) p, span
					padding-left: 17px
			&:last-child
				border-right: 0
			&.table__drop
				background: none
				padding-top: 0
				&:before
					display: none
			&.table__clip
				text-align: center
				vertical-align: baseline
				&.is-active p, span
					padding-right: 17px
				.icon-clip
					position: absolute
					top: 50%
					left: 50%
					margin-top: -7px
					margin-left: -7px
			p, span
				position: relative
				padding: 0 10px
				width: 100%
				height: 100%
				text-overflow: ellipsis
				overflow: hidden
				white-space: nowrap
				line-height: 38px
	tr
		&:first-child
			&:hover
				background: none
		&:hover
			background: darken(#fff, 5%)
		&.is-active
			.description
				color: #097bf2
				+opensans-sb
				~ *:not(.is-info)
					color: #282828
		&.is-pending
			.description
				~ *:not(.is-info)
					color: #96a0a6
			.table__name
				color: #6c757a
				+opensans
		&.table__head
			&:hover
				background: #f7f8f9
		&.is-selected
			background: #FFFAEB
	th
		padding: 0
		font-size: 0
		&.cell-right
			text-align: right
			&.is-active
				padding-right: 20px
		&.cell-center
			text-align: center
			&.is-active
				padding-right: 15px
		&.label-checkbox
			.check__span
				display: inline-block
				&:before
					left: 50%
					margin-left: -7px
				&:after
					left: 50%
					margin-left: -4px
					line-height: 1
			&.is-active
				padding-right: 0
				&:before
					display: none
	td
		padding: 6px 8.5px
		font-size: 13px
		border-top: 1px solid #efefef
		border-bottom: 1px solid #efefef
		vertical-align: middle
		line-height: 18px
		&:first-child
			padding-left: 17px
		&.cell-center
			text-align: center
		&.cell-right
			text-align: right
		&.cell-border-right
			border-right: 1px solid #efefef
		.icon.icon-clip
			font-size: 14px
	.dropdown
		height: 27px
		vertical-align: middle
		&.is-active
			.dropdown__in
				display: block
		&__in
			display: none
			position: absolute
			top: 100%
			right: 0
			margin-top: -3px
			text-align: left
			background: #fff
			border-radius: 4px
			border: 1px solid #dce0e7
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
		&__list
			max-height: 345px
			&.is-top-level
				position: relative
				right: auto
				top: auto
				margin-top: 0
				box-shadow: none
				background: none
				border-radius: 0
				border: none
				opacity: 1
				visibility: visible
		a, a:visited
			color: #282828
		a:hover
			color: #097bf2
	.description
		p, span
			max-width: 100%
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
	.status
		padding-left: 1px
		vertical-align: middle
		white-space: nowrap
		span:not(.status-info)
			display: inline-block
			max-width: calc(100% - 20px)
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
	.svg-ico
		display: inline-block
		width: 16px
		height: 16px
		background-size: 16px 16px
		vertical-align: middle
	.icon
		vertical-align: middle
	.icon-customer2,
	.icon-corp
		font-size: 17px
	.icon-deal-team
		font-size: 16px
	a, a:visited
		color: #6c757a


// sidebar
.sidebar
	position: absolute
	top: 0
	left: 0
	min-height: 300px
	bottom: 13px
	width: 0
	background: #fff
	overflow: hidden
	+tr(width 0.3s)
	&.is-active
		width: 240px
		z-index: 2
		.sidebar__in
			opacity: 1
	&.is-scrollbar
		padding-bottom: 13px
		bottom: 0
		.sidebar__in
			&:before
				display: block
	&.is-fixed
		position: fixed
		left: auto
	&__in
		width: 240px
		height: 100%
		border: 1px solid #dce0e7
		border-width: 1px 1px 1px 0
		&:before
			display: none
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 13px
			background: #f7f8f9
			border: 1px solid #dce0e7
			border-width: 0 1px 1px 0
		&.no-bottom-border
			border-bottom: none
	&__bl
		overflow: hidden
		+tr(height 0.3s)
		&:first-child
			.sidebar__ttl
				border-top-width: 0
		&:last-child
			.sidebar__ttl
				&:after
					display: block
		&.is-active
			.sidebar__ttl
				background: #fff
				&:before
					content: "-"
					font-size: 30px
					margin-top: -18px
				&:after
					display: block
		&.is-disabled
			.sidebar__ttl
				color: #C0C6CF
				&:before
					color: #E4E5E6
	&__content
		position: relative
		height: calc(100% - 38px)
		overflow: hidden
	&__ttl
		position: relative
		height: 39px
		padding: 0 8px 0 24px
		font-size: 0
		background: #f7f8f9
		color: #282828
		border-top: 1px solid #dce0e7
		line-height: 39px
		cursor: pointer
		+opensans-sb
		&:before
			content: "+"
			position: absolute
			top: 50%
			left: 8px
			margin-top: -9px
			width: 16px
			font-size: 18px
			color: #979797
			line-height: 1
		&:after
			display: none
			content: ""
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			height: 1px
			background: #dce0e7
		&.is-two-filter
			span
				max-width: calc(100% - 160px)
		span
			display: inline-block
			max-width: calc(100% - 103px)
			font-size: 13px
			overflow: hidden
			white-space: nowrap
			vertical-align: middle
			text-overflow: ellipsis
			&:only-child
				max-width: 100%
	&__option
		position: relative
		&:hover
			background: rgba(#828C92, 0.5)
			a
				color: #fff
		&.is-active
			background: #828C92
			a
				color: #fff
		&.is-disabled
			color: #BCC6CC
			a
				color: #BCC6CC
			&:hover
				background: none
				a
					cursor: default
					color: #BCC6CC
		a
			position: relative
			display: block
			padding: 4px 20px 4px 33px
			font-size: 13px
			color: #6c757a
			word-break: break-word
			&.is-truncated
				max-width: 100%
				overflow: hidden
				vertical-align: middle
				text-overflow: ellipsis
				white-space: nowrap
		p
			padding: 4px 20px 4px 33px
		.icon
			font-size: 10px
		.svg-ico
			width: 10px
			height: 10px
			background-size: 10px 10px
		.icon, .svg-ico
			position: absolute
			top: 6.5px
			left: 15px
	&__list
		margin: 7px 0
	&__link
		display: block
		margin-bottom: 2px
		font-size: 12px
		color: #6c757a
		+opensans-sb
		&:hover
			text-decoration: underline
	&__search
		position: relative
		margin: 7px 20px
		input
			padding: 4px 12px
			font-size: 12px
		.icon-close
			margin-top: -6px
	&__cancel
		display: inline-block
		padding: 0 6px 0 5px
		background: #6C757A
		vertical-align: middle
		border-radius: 0 18px 18px 0
		.icon-close
			font-size: 5px
			color: #FFF
			vertical-align: middle
	&-task-ico
		position: absolute
		top: 50%
		left: 19px
		margin-top: -4px
		width: 6px
		height: 6px
		background: #F76300
		border-radius: 50%
	.ps-scrollbar-y-rail
		right: 0
		width: 3px
		.ps-scrollbar-y
			width: 3px


.sidebar-filter
	position: absolute
	top: 50%
	right: 10px
	margin-top: -8px
	+opensans
	&__bl
		float: left
		margin: 0 2px
		font-size: 0
		background: #828C92
		color: #fff
		border-radius: 18px
		line-height: 17px
		&:only-child
			float: none
			.sidebar-filter__label
				max-width: 85px
		.sidebar-filter__label
			max-width: 60px
	&__label
		display: inline-block
		padding: 0 4px
		font-size: 10px
		text-overflow: ellipsis
		overflow: hidden
		vertical-align: middle
		white-space: nowrap

.sidebar-dates
	padding: 18px 22px
	font-size: 13px
	color: #282828
	&__bl
		margin-bottom: 12px
	&__ttl
		margin-bottom: 8px
	&__calendar
		position: relative
		cursor: pointer
		&.is-active
			.icon
				color: #FFF
			input
				color: #fff
				background: #828c92
				border-color: #828c92
		.icon
			position: absolute
			top: 50%
			left: 9px
			margin-top: -8px
			color: #282828
		input
			display: block
			padding: 8px 9px 8px 36px
			border: 1px solid #cfd5e0
			border-radius: 4px
			&:focus
				box-shadow: none

// scrolling part of table
.scrollbar
	position: relative
	min-height: 191px
	margin-right: 50px
	padding-bottom: 13px
	background: #FFF
	overflow: hidden
	+tr(0.3s ease)
	&.is-sidebar
		margin-left: 240px
	&.ps-in-scrolling.ps-x
		.ps-scrollbar-x
			&:before, &:after
				background: #eee
	.table
		min-width: 1000px
		margin-bottom: 0
		background: #FFF
		&__head
			opacity: 0
		td
			height: 38px
			padding: 9px 8.5px 8px
			&:first-child
				&:not(.cell-center)
					padding-left: 17px
	.ps-scrollbar-x-rail
		width: 100% !important
		bottom: 0
		height: 14px
		background: #f7f8f9
		opacity: 1 !important
		border-radius: 0
		border-top: 1px solid #dce0e7
		border-bottom: 1px solid #dce0e7
		&:hover
			.ps-scrollbar-x
				&:before, &:after
					background: #eee
	.ps-scrollbar-x-rail > .ps-scrollbar-x
		border-radius: 0
		bottom: 2px
	.ps-scrollbar-x
		&:before,
		&:after
			content: ""
			position: absolute
			top: 0
			bottom: 0
			background: #f7f8f9
			+tr(0.2s linear)
		&:before
			left: 0
			width: 2px
		&:after
			right: 0
			width: 30px
			+tr(0.2s linear)


// scrolling buttons
.btn-prev,
.btn-next
	position: absolute
	top: 0
	bottom: 0
	background: #f7f8f9
	cursor: pointer
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 50%

.btn-prev
	width: 15px
	right: 13px
	border-left: 1px solid #dce0e7
	border-right: 1px solid #dce0e7
	&:before
		margin: -2px 0 0 -3px
		+arr(4, 5, #cacdd3, l)

.btn-next
	width: 13px
	right: 0
	&:before
		margin: -2px 0 0 -2px
		+arr(4, 5, #cacdd3, r)

// sidedrop
.sidedrop
	position: absolute
	top: 0
	right: 0
	bottom: 0
	width: 50px
	text-align: center
	&:after
		display: none
		content: ""
		position: absolute
		bottom: 0
		right: 0
		width: 50px
		height: 14px
		background: #f7f8f9
		border: 1px solid #dce0e7
		border-right: none
	&.is-scrollbar
		border-left: 1px solid #dce0e7
		&:after
			display: block
	&.is-top-aligned
		.table td
			padding-top: 6px
			vertical-align: top
	.table
		position: relative
		margin-bottom: 0
		background: #FFF
		tr
			&.is-selected
				background: #FFFAEB
				.dropdown__bl
					background: #FFFAEB
		td
			height: 38px
			padding: 0
			vertical-align: middle
			&:first-child
				width: auto
				padding-left: 0
	.table__head
		width: auto
		height: 39px
		padding-left: 0
		td
			border-color: #dce0e7


.show-more
	padding: 11px 17px
	font-size: 13px
	border-bottom: 1px solid #efefef
	a
		display: inline-block
		vertical-align: middle
		color: #097bf2


.fake-header
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 1
	&.is-sidebar
		.fake-header__in
			padding-left: 240px
	&.is-fixed
		position: fixed
		width: 100%
		max-width: 1370px
		left: 50%
		padding: 0 20px
		transform: translateX(-50%)
		.fake-header__in
			border-top: 1px solid #dce0e7
			border-left: 1px solid #dce0e7
			&:after
				width: 51px
				border-right-width: 1px
				border-top: 0
		.table
			th
				border-top: #000
	.table
		position: relative
		min-width: 1000px
	.fake-header__in
		position: relative
		padding-right: 50px
		overflow: hidden
		+tr(padding-left 0.3s)
		&:after
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 50px
			background: #f7f8f9
			border: 1px solid #dce0e7
			border-right-width: 0
			z-index: 10
	+r(1300)
		&.is-fixed
			left: 0
			min-width: 1040px
			transform: translateX(0)

.sum
	margin: 10px 0
	text-align: right
	font-size: 0
	&__bl
		display: inline-block
		margin: 0 10px
		font-size: 14px
		color: #6c757a
		vertical-align: middle
		span
			color: #282828