@import table/_table-fakehead
@import table/_table-filters
@import table/_table-sidebar
@import table/_table-sidedrop
@import table/_table-btns
@import table/_table-other

// common wrapper
.tablewrap
	position: relative
	margin: 30px 0 25px
	&.no-top-margin
		margin-top: 0
	&.no-bottom-margin
		margin-bottom: 0
	&.min-bottom-space
		margin-bottom: 0
		.scrollbar
			padding-bottom: 0
	&.is-entry-attachments-table
		.table
			margin-bottom: 0
		.table__head
			opacity: 1
	&__in
		position: relative
		&:before
			display: none
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 1px
			border-bottom: 1px solid #efefef
			z-index: 1
		&_mod
			min-height: 274px 
		&.is-filtered
			&:before
				display: block
			.scrollbar
				min-height: 513px
				&:before
					display: block
				tr:last-child td
					border-bottom: 1px solid #efefef
			.sidebar
				bottom: 0
		&.no-sidedrop
			.scrollbar
				margin-right: 0

// table
.table
	max-width: 100%
	font-size: 13px
	color: #6c757a
	table-layout: fixed
	background: #FFF
	// border-collapse: separate
	&.is-top-aligned
		td
			padding: 10.5px 8.5px
			vertical-align: top
		.table__drop
			padding-top: 5px
	&.no-overflow
		.table__text
			white-space: normal
	&.sm-pad-first-child
		td
			&:first-child
				padding-left: 6px
	&__clip
		width: 5%
		text-align: center
		.icon.icon-clip
			font-size: 14px
	&__drop
		width: 50px
		padding: 5px 8.5px
		text-align: center
	&__el
		font-size: 0
		+rmono
		span
			display: inline-block
			max-width: calc(100% - 25px)
			font-size: 13px
			overflow: hidden
			text-overflow: ellipsis
			vertical-align: middle
			white-space: nowrap
		.svg-ico, .icon
			margin-right: 5px
			font-size: 16px
	&__more
		display: inline-block
		font-size: 13px
		vertical-align: middle
		&:first-child
			vertical-align: baseline
	&__pic
		max-width: 50px
		height: 50px
		background-size: cover
		background-position: center center
	&__text
		max-width: 100%
		color: lighten(#6c757a, 10%)
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		vertical-align: middle
		&.is-info
			color: #f76300
		a
			color: #6c757a
			+opensans_sb
	&__activity a
		text-decoration: underline
		&:hover
			text-decoration: none
	&__bold
		+opensans-sb	
	span.table__text
		display: inline-block
	.table__head
		background: #f7f8f9
		text-align: left
		&.is-full-border
			border: 1px solid #dce0e7
		th
			position: relative
			height: 39px
			min-height: 39px
			text-align: left
			font-size: 13px
			font-weight: normal
			border: 1px solid #dce0e7
			border-width: 1px 0px 0px 0
			cursor: pointer
			vertical-align: middle
			+opensans-sb
			&:before
				display: none
				content: ""
				position: absolute
				top: 19px
				right: 10px
				margin-top: -2px
				+arr(7, 4, #6c757a, b)
			&:after
				content: ""
				position: absolute
				bottom: 0px
				left: 0
				right: 0
				background: #dce0e7 
				height: 1px 
			&:hover
				background: rgba(0, 0, 0, 0.05)
			&.is-active
				background: rgba(0, 0, 0, 0.05)
				&:before
					display: block
				p, span
					padding-right: 20px
			// &:first-child
			// 	&:not(.cell-no-pad p),
			// 	&:not(.cell-no-pad span)
			// 		padding-left: 17px
			&.table__drop
				background: none
				padding-top: 0
				&:before
					display: none
			&.table__clip
				text-align: center
				vertical-align: baseline
				&.is-active p, span
					padding-right: 17px
				.icon-clip
					position: absolute
					top: 50%
					left: 50%
					margin-top: -7px
					margin-left: -7px
			p, span
				&:not(.check__span)
					position: relative
					padding: 0 10px
					width: 100%
					height: 100%
					text-overflow: ellipsis
					overflow: hidden
					white-space: nowrap
					line-height: 38px
					border-right: 1px solid #dce0e7

			&:last-child
				
				p
					border-right-color: transparent
			.check
				display: block
	tr
		&:first-child
			&:hover
				background: none
			
		// &:nth-child(2)
		// 	td 
		// 		position: relative
		// 		&:before 
		// 			content: ""
		// 			bottom: 100%
		// 			height: 100%
		// 			position: absolute
		// 			left: 0
		// 			right: 0  
		// 			z-index: 99999
		// 			user-select: none
		// 			pointer-events: none 
		&:hover
			background: darken(#fff, 5%)
		&.is-active
			.description
				color: #097bf2
				+opensans-sb
				~ *:not(.is-info)
					color: #282828
		&.is-pending
			.description
				~ *:not(.is-info)
					color: #96a0a6
			.table__name
				color: #6c757a
				+opensans
		&.is-archive
			color: #96a0a6
			.description
				~ *:not(.is-info)
					color: #96a0a6
				&.is-bold
					span, p
						color: #96a0a6
				.icon-news
					color: #cfd5e0
			.table__name
				color: #96a0a6
		&.table__head
			&:hover
				background: #f7f8f9
		&.is-total
			&:hover
				background: none
			td
				border-color: transparent
		&.is-selected
			background: #FFFAEB
	th
		padding: 0
		font-size: 0
		&.cell-right
			text-align: right
			&.is-active
				padding-right: 20px
		&.cell-center
			text-align: center
			&.is-active
				padding-right: 15px
		&.label-checkbox
			.check__span
				display: inline-block
				&:before
					left: 50%
					margin-left: -7px
				&:after
					left: 50%
					margin-left: -4px
					line-height: 1
			&.is-active
				padding-right: 0
				&:before
					display: none
	td
		height: 39px
		padding: 6px 8.5px
		font-size: 13px
		// border-top: 1px solid #efefef
		border-bottom: 1px solid #efefef
		vertical-align: middle
		line-height: 18px
		
		&:first-child
			padding-left: 17px
		&.cell-center
			text-align: center
		&.cell-right
			text-align: right
		&.cell-border-right
			border-right: 1px solid #efefef
		.icon.icon-clip
			font-size: 14px
	td,th 
		&:first-child
			.check
				input
					&:checked + .check__span
						&:before
							border-color: #6c757a
	.dropdown
		height: 27px
		vertical-align: middle
		&.is-active
			.dropdown__in
				display: block
		&__in
			display: none
			position: absolute
			top: 100%
			right: 0
			margin-top: -4px
			text-align: left
			background: #fff
			border-radius: 4px
			border: 1px solid #dce0e7
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
		&__list
			max-height: 345px
			&.is-top-level
				position: relative
				right: auto
				top: auto
				margin-top: 0
				box-shadow: none
				background: none
				border-radius: 0
				border: none
				opacity: 1
				visibility: visible
		a, a:visited
			color: #282828
		a:hover
			color: #097bf2
		.upload
			padding: 5px 14px
			font-size: 13px
			color: #282828
			&:hover
				color: #097bf2
				span
					text-decoration: none
			&__in
				display: block
	.description
		p, span
			max-width: 100%
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
	.status
		padding-left: 1px
		vertical-align: middle
		white-space: nowrap
		span:not(.status-info)
			display: inline-block
			max-width: calc(100% - 20px)
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
	.svg-ico
		display: inline-block
		width: 16px
		height: 16px
		background-size: 16px 16px
		vertical-align: middle
	.icon
		vertical-align: middle
	.icon-customer2,
	.icon-corp
		font-size: 17px
	.icon-deal-team
		font-size: 16px
	.upload
		font-size: 13px
		color: #6c757a
		&__in
			padding-left: 22px
		.icon
			top: 0
			font-size: 16px
	a, a:visited
		color: #6c757a


// scrolling part of table
.scrollbar
	position: relative
	min-height: 191px
	margin-right: 50px
	padding-bottom: 13px
	background: #FFF
	overflow: hidden
	+tr(0.3s ease)
	&.is-sidebar
		margin-left: 240px
		.accordion__title, .accordion__content
			width: calc(100% + 240px)
	&.ps-in-scrolling.ps-x
		.ps-scrollbar-x
			&:before, &:after
				background: #eee
	&_nomargin
		margin-right: 0
	.table
		min-width: 1000px
		margin-bottom: 0
		background: #FFF
		&__head
			position: relative
			z-index: 1 
			// opacity: 0
		td
			height: 38px
			padding: 9px 8.5px 8px
			&:first-child
				&.cell-center,
				&.cell-pic
					padding-left: 10px
	.ps-scrollbar-x-rail
		width: 100% !important
		bottom: 0
		height: 14px
		background: #f7f8f9
		opacity: 1 !important
		border-radius: 0
		border-top: 1px solid #dce0e7
		border-bottom: 1px solid #dce0e7
		&:hover
			.ps-scrollbar-x
				&:before, &:after
					background: #eee
	.ps-scrollbar-x-rail > .ps-scrollbar-x
		border-radius: 0
		bottom: 2px
	.ps-scrollbar-x
		&:before,
		&:after
			content: ""
			position: absolute
			top: 0
			bottom: 0
			background: #f7f8f9
			+tr(0.2s linear)
		&:before
			left: 0
			width: 2px
		&:after
			right: 0
			width: 30px
			+tr(0.2s linear)

.tables-line
	display: flex
	flex-flow: row nowrap
	& + .tables-line
		margin-bottom: 200px
		.table-highlight
			th
				border-top: 1px solid #dce0e7

// .table-highlight
// 	table-layout: fixed
// 	&:not(:last-child)
// 		tr
// 			td, th
// 				&:last-child
// 					border-right: 1px solid #dce0e7
// 	&.is-md
// 		max-width: 332px
	
// 	&.is-sm
// 		max-width: 232px   
	

	
		

		   
// 	thead
// 		tr
// 			background: #f7f8f9
// 			border-bottom: 1px solid #dce0e7
// 			&:first-child
// 				&:hover
// 					background: #f7f8f9
// 		th
// 			font-size: 12px
// 			color: #626a6f
// 			height: 38px
// 			vertical-align: middle
// 			text-align: left
// 			padding: 0 8.5px 
// 			+opensans-sb
// 	tbody
// 		tr
// 			background-color: rgba(188, 188, 188, 0.1)
// 			// border-bottom: 1px solid rgba(#efefef, .5)
// 			&:hover
// 				background-color: rgba(188, 188, 188, 0.1)
// 			&:first-child
// 				&:hover
// 					background-color: rgba(188, 188, 188, 0.1)
// 			&.is-active
// 				background: rgba(163, 214, 112, 0.1)
// 				&:hover
// 					background: rgba(163, 214, 112, 0.1)
// 				.icon-checked
// 					color: #00a11e
// 					font-size: 10px
// 			&.is-default
// 				background: #fff
// 				&:hover
// 					background: #fff
// 			&.is-clarify
// 				background: rgba(255, 216, 68, 0.2)
// 				&:hover
// 					background: rgba(255, 216, 68, 0.2)
// 				.icon-hourglass
// 					color: #ebaf7c 
// 					font-size: 11px
// 					vertical-align: middle
// 		td
// 			color: #6c757a
// 			font-size: 13px
// 			.btn
// 				margin: -3px 0 
// 	&_footer:not(:last-child)
// 		tfoot
// 			tr
// 				td
					
// 					&:last-child
// 						border-right: transparent
				 
// 	td.table-highlight__dropdown
// 		padding-top: 0  
// 		padding-bottom: 0
	
// 	.arr-bottom-right
// 		display: inline-block
// 		vertical-align: middle
// 		background-repeat: no-repeat
// 		background-position: 0 0
// 		background-size: contain
// 		width: 14px
// 		height: 23px 
// 		margin: -15px 0 0 15px 
// 		background-image: url('../img/svg-bg/arr-bottom-right.svg') 
				 
// .table-highlight.table-highlight_footer
// 	tfoot
// 		tr
// 			td
// 				height: auto
// 				padding: 14px 8.5px
// 				border-bottom-color: transparent


//test table
.table-highlight-line
	width: 100%
	table-layout: fixed
	&__pull-left
		transform: translateX(-15%)
		max-width: 96px
		overflow: hidden 
		text-overflow: ellipsis
		padding-right: 5px 
	&__margin
		margin-left: 10px
	&__folder
		font-size: 10px
		margin-right: 5px
	&_five
		thead
			th
				&:nth-child(4n), &:first-child
					border-right: 1px solid #dce0e7
				&:first-child
					padding-left: 19px
				&:nth-child(2)
					padding-left: 15px
		tbody
			td
				&:nth-child(4n), &:first-child
					border-right: 1px solid #dce0e7 
				&:nth-child(2)
					padding-left: 15px
				padding-left: 15px
	thead
		tr
			background: #f7f8f9
			border-bottom: 1px solid #dce0e7
			&:first-child
				&:hover
					background: #f7f8f9
		th
			font-size: 12px
			color: #626a6f
			height: 38px
			vertical-align: middle
			text-align: left
			padding: 0 8.5px 
			+opensans-sb
			&:nth-child(4n)
				border-right: 1px solid #dce0e7 
			&:last-child
				border-right: none 
	tbody
		tr
			
			
			&:hover
				background-color: transparent
			// &:first-child
			// 	&:hover
			// 		background-color: rgba(188, 188, 188, 0.1)
			&.is-vertical
				td
					vertical-align: top

		td
			color: #6c757a
			font-size: 13px
			background-color: #f8f8f8
			white-space: nowrap
			&:nth-child(4n)
				border-right: 1px solid #dce0e7 
			&:last-child
				border-right: none 
			&.is-table-in
				position: relative
				min-width: 331px
				// min-width: 318px
				width: 100%
				display: inline-block
				white-space: nowrap
				margin-bottom: -1px
				border: none
				padding: 0
				height: auto
				background: transparent 
				&:before
					content: ""
					position: absolute
					bottom: 0
					left: 0
					right: 0
					background: #efefef 
					height: 1px
				// &:after
				// 	content: ""
				// 	position: absolute
				// 	bottom: 0
				// 	top: 0
				// 	right: 0
				// 	background: #efefef 
				// 	width: 1px 
				&.is-open 
					table
						&[data-attr="child"]
							display: block
			&.is-xs
				max-width: 100px 
				padding-right: 5px
				text-overflow: ellipsis
				overflow: hidden 
				white-space: nowrap
				padding-left: 19px
			.btn
				margin: -3px 0 
			table
				&[data-attr="child"]
					display: none
					tr
						&:first-child
							td
								// border-bottom: 1px solid #efefef
								border-top: 1px dashed #efefef
				&[data-attr="child"], &[data-attr="parent"]
					table-layout: fixed				
				td
					white-space: nowrap
					background: transparent
					border-bottom: 1px dashed #efefef
					// border-bottom-style: none
					&:hover
						background: none 
				tr
					&.is-clarify
						&:hover
							background:  #fff7da
					&.is-default
						&:hover
							background: #fff
					&.is-active
						&:hover
							background: #f6fbf0
					&:last-child
						td
							// border-bottom: 1px solid #efefef
							border-bottom-style: none
					
	
	.is-active
		// background: rgba(163, 214, 112, 0.1)
		background: #f6fbf0 
		&:hover
			background: #f6fbf0
		.icon-checked
			color: #00a11e
			font-size: 10px
	.is-default
		background: #fff
		&:hover
			background: #fff
	.is-clarify
		background: #fff7da
		&:hover
			background:  #fff7da
		.icon-hourglass
			color: #ebaf7c 
			font-size: 11px
			vertical-align: middle
	.number
		font-size: 10px
		color: #9b9b9b
		margin-right: 5px
	.name
		font-size: 12px
		color: #4a4a4a
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		width: 81px
		display: inline-block
		vertical-align: middle
	strong
		font-size: 14px
	.icon-unblock
		display: inline-block
		vertical-align: middle
	.arr-bottom-right
		display: inline-block
		vertical-align: middle
		background-repeat: no-repeat
		background-position: 0 0
		background-size: contain
		width: 14px
		height: 23px 
		margin: -15px 0 0 15px 
		background-image: url('../img/svg-bg/arr-bottom-right.svg') 
	
	.is-disabled
		opacity: .4
		pointer-events: none 

.table-highlight-line .table-highlight-line__footer
	tr
		td
			height: auto
			padding: 14px 8.5px
			border-bottom-color: transparent
			background: #FFF 

.split-icon
	position: relative
	display: inline-block
	vertical-align: middle
	width: 17px
	height: 17px
	border-radius: 50%
	-webkit-transform: translateZ(0)
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%)
	overflow: hidden
	background: #126800 
	margin-right: 7px
	text-align: center
	&:before
		content: ''
		position: absolute
		left: -6px
		right: 0
		bottom: 5px
		width: 21px
		height: 10px 
		transform-origin: 100% 0 
		background: #438234 
		transform: rotate(-45deg)
	&__num
		position: relative
		// padding: 0 6px
		text-align: center
		font-size: 12px
		color: #fff
		line-height: 17px
		
	
.text-grey
	color: #bababa



