					<!-- begin tablewrap  -->
					<div class="tablewrap tablewrap-blotter  js-tablewrap">
						<!-- begin filters  -->
						<div class="filters js-filters">
							<div class="filters__wrap js-fixed">
								<div class="filters__ttl">Customers</div>
								<div class="filters__in">
									<div class="toggle-btn js-toggle-sidebar">
										<i class="icon icon-sidebar"></i>
									</div>
									<div class="toggle-btn js-search-table">
										<input type="search" placeholder="Search table">
										<i class="icon icon-zoom"></i>
										<i class="icon icon-close search-close js-search-clear"></i>
									</div>
									<span class="filters__desc filters__desc--ml-5">View level: </span>
									<div class="tabs">
										<div class="tabs__el js-tab-el is-active">Firm</div>
										<div class="tabs__el js-tab-el">Rep</div>
										<div class="tabs__el js-tab-el">Deal</div>
										<div class="tabs__el js-tab-el">TR</div>
									</div>
									<div class="dropdown js-dropdown">
										<p class="dropdown__item">Filter by status</p>
										<div class="dropdown__in js-inner">
											<ul class="dropdown__list is-top-level js-vert-scroll">
												<li><a href="#" class="is-active">All statuses</a></li>
												<li><a href="#">With tasks</a></li>
												<li><a href="#">Approved</a></li>
												<li><a href="#">Funds received</a></li>
												<li><a href="#">Comission paid</a></li>
											</ul>
										</div>
									</div>
									<div class="dropdown js-dropdown">
										<p class="dropdown__item">Settings</p>
										//=include partials/all-settings.html
									</div>
								</div>
							</div>
						</div>
						<!-- end filters -->
						<div class="tablewrap__in">
							//=include partials/sidebar.html
							<!-- begin scrollbar  -->
							<div class="scrollbar js-scrollbar">
								<!-- begin table  -->
								<table class="table">
									<tr class="table__head js-clone-head">
										<th class="cell-center" title="FIRM" width="380" data-id="id"><p>FIRM</p></th>
										<th class="cell-center" title="REP" width="290" data-id="name"><p>REP</p></th>
										<th class="cell-center" title="DEAL" width="320" data-id="operations"><p>DEAL</p></th>
										<th class="cell-center" title="TR" width="360" data-id="type"><p>TR</p></th>
									</tr>
									<tr>
										<td class="tablewrap-blotter__name-cell">
											<div class="table__justify">
												<strong>Acme</strong>
												<span>4%</span>
												<strong>$199,999.99</strong>
												<a class="tablewrap-blotter__next" href="#">
													<i class="svg-ico icon-arr-right"></i>
												</a>
											</div>
										</td>
										<td class="tablewrap-blotter__cell-spec-padding">
											<div class="table__justify">
												<span>Nicholas Azur</span>
												<strong>$199,999.99</strong>
											</div>
										</td>
										<td></td>
										<td></td>										
									</tr>
									<tr class="table__bottom-row" >
										<td class="tablewrap-blotter__name-cell">
											<div class="table__justify">
												<strong>TOTAL  CR</strong>
												<span>100%</span>
												<strong>$199,999.99</strong>
											</div>
										</td>
									</tr>
								</table>
								<!-- end table -->
							</div>
							<!-- end scrollbar -->

							<!-- begin fake-header  -->
							<div class="fake-header js-fake-head">
								<div class="fake-header__in js-fixed">
									<table class="table"><thead></thead></table>
								</div>
							</div>
							<!-- end fake-header -->
						</div>
					</div>
					<!-- end tablewrap -->