@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], [type="text"].textarea, input[type="email"], [type="email"].textarea, input[type="tel"], [type="tel"].textarea, textarea { -webkit-appearance: none; }

input[type="submit"], [type="submit"].textarea, button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, [type="submit"].textarea::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, .textarea, button { margin: 0; padding: 0; border: 0; }

div, input, .textarea, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { box-sizing: border-box; }

* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"], .steps__icon:before { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-archive:before { content: ""; }

.icon-arr-right:before { content: ""; }

.icon-arr-top:before { content: ""; }

.icon-bell:before { content: ""; }

.icon-check:before { content: ""; }

.icon-clip:before { content: ""; }

.icon-close:before { content: ""; }

.icon-folder:before { content: ""; }

.icon-logo:before { content: ""; }

.icon-pending:before { content: ""; }

.icon-plus:before { content: ""; }

.icon-warn:before { content: ""; }

.icon-zoom:before { content: ""; }

@font-face { font-family: opensans; src: url("fonts/opensans.eot"); src: url("fonts/opensans.eot?#iefix") format("embedded-opentype"), url("fonts/opensans.woff2") format("woff2"), url("fonts/opensans.woff") format("woff"), url("fonts/opensans.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-semibold; src: url("fonts/opensans-semibold.eot"); src: url("fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold.woff2") format("woff2"), url("fonts/opensans-semibold.woff") format("woff"), url("fonts/opensans-semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-light; src: url("fonts/opensans-light.eot"); src: url("fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-light.woff2") format("woff2"), url("fonts/opensans-light.woff") format("woff"), url("fonts/opensans-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: robotomono; src: url("fonts/robotomono.eot"); src: url("fonts/robotomono.eot?#iefix") format("embedded-opentype"), url("fonts/robotomono.woff2") format("woff2"), url("fonts/robotomono.woff") format("woff"), url("fonts/robotomono.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: handwrite; src: url("fonts/handwrite.eot"); src: url("fonts/handwrite.eot?#iefix") format("embedded-opentype"), url("fonts/handwrite.woff2") format("woff2"), url("fonts/handwrite.woff") format("woff"), url("fonts/handwrite.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { min-width: 1000px; font-size: 12px; line-height: 1.4; background: #F3F4F6; overflow: auto !important; font-weight: normal; font-family: "opensans", Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
body.is-overflow { overflow: hidden !important; }

.l { max-width: 1370px; padding: 0 20px; margin: 0 auto; }

a { text-decoration: none; }

input[type="text"], [type="text"].textarea, input[type="email"], [type="email"].textarea, input[type="tel"], [type="tel"].textarea, textarea { -webkit-appearance: none; }

*[data-href] { cursor: pointer; }

input, .textarea { width: 100%; padding: 8px 12px; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.15); font-family: "opensans", Arial, sans-serif; transition: 0.3s; }
input:-moz-placeholder, .textarea:-moz-placeholder, input::-moz-placeholder, .textarea::-moz-placeholder { color: #bcc6cc; opacity: 1; }
input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { color: #bcc6cc; }
input:focus, .textarea:focus { box-shadow: 0 0 6px #097bf2; border-color: transparent; }

.textarea { resize: none; }

.txt-center { text-align: center; }

.btn { display: inline-block; padding: 8px 35px; background-color: #e4e4e4; border-radius: 4px; color: #282828; font-size: 12px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32); background-color: #f0f0f0; background-image: linear-gradient(#f0f0f0, gainsboro 100%); transition: 0.3s; }
.btn:hover { background-color: #E6E6E6; background-color: #E6E6E6; background-image: linear-gradient(#E6E6E6, #f0f0f0); }
.btn.btn-ok { background-color: #025bb7; color: #fff; background-color: #2c83cb; background-image: linear-gradient(#2c83cb, #025bb7); }
.btn.btn-ok:hover { background-color: #3691DB; background-color: #2c83cb; background-image: linear-gradient(#2c83cb, #3691DB); }

.status { display: inline-block; font-size: 13px; color: #f76300; white-space: nowrap; font-family: "opensans-semibold", Arial, sans-serif; }
.status__info { margin-right: 5px; padding: 4px; text-transform: uppercase; font-size: 10px; background: #f76300; color: #fff; border-radius: 2px; }
.status span { display: inline-block; vertical-align: middle; }
.status .icon { font-size: 12px; vertical-align: middle; }

.svg-ico { display: inline-block; background-repeat: no-repeat; background-position: 0 0; vertical-align: top; }

.letter-ico { width: 70px; height: 70px; background-image: url("../img/svg-bg/letter.svg"); background-size: 70px 70px; }

.memo-ico { background-image: url("../img/icons.png"); width: 69px; height: 69px; background-position: 0px 0px; }

.customer-ico { width: 70px; height: 70px; background-image: url("../img/svg-bg/customer.svg"); background-size: 70px 70px; }

.transaction-ico { width: 70px; height: 70px; background-image: url("../img/svg-bg/transaction.svg"); background-size: 70px 70px; }

.getpaid-ico { width: 110px; height: 106px; background-image: url("../img/svg-bg/getpaid.svg"); background-size: 110px 106px; }

.back-to-top { margin: 23px 0 23px 20px; }
.back-to-top a { font-size: 13px; color: #bcc6cc; }
.back-to-top span { display: inline-block; vertical-align: middle; }
.back-to-top .icon { font-size: 9px; margin-right: 14px; vertical-align: middle; }

.tooltipster-base { color: #282828; background-color: #fff6e6; border: 1px solid #e8e0cf; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
.tooltipster-base .tooltipster-content { padding: 18px 10px 19px; font-size: 13px; font-family: "opensans", Arial, sans-serif; }
.tooltipster-base .tooltipster__link { display: inline-block; margin-top: 5px; font-size: 13px; color: #097bf2; }
.tooltipster-base .tooltipster__link:hover { text-decoration: underline; }

.dropit { position: absolute; min-width: 160px; padding: 15px; background: #fff; border: 1px solid #dce0e7; border-radius: 4px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); z-index: 1; opacity: 0; visibility: hidden; transition: 0.3s; }
.dropit.is-visible { opacity: 1; visibility: visible; }
.dropit__option { margin-bottom: 9px; }
.dropit__option:last-child { margin-bottom: 0; }
.dropit a { font-size: 13px; color: #282828; }
.dropit a:hover { text-decoration: underline; }

.header { min-height: 153px; background-color: #474e52; }
.header__in { padding: 15px 0; *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
.header__logo { float: left; margin-top: 10px; color: #fff; }

.menu { float: left; margin: 10px 0 0 20px; *zoom: 1; }
.menu:after { content: " "; display: table; clear: both; }
.menu__option { position: relative; float: left; margin: 0 13.5px; }
.menu__link { position: relative; text-transform: uppercase; color: #93988f; letter-spacing: 0.5px; }
.menu__link:after { display: none; content: ""; position: absolute; top: 100%; left: 50%; margin: 12px 0 0 -10px; width: 0px; height: 0px; border-style: solid; border-width: 0 10px 12px 10px; border-color: transparent transparent #f7f8f9 transparent; }
.menu__link:hover { color: #fff; }
.menu__link.is-active { color: #fff; font-family: "opensans-semibold", Arial, sans-serif; }
.menu__link.is-active:after { display: block; }
.menu .dropit { left: -15px; }

.notification { position: absolute; top: 0; left: 100%; margin: -6.5px 0 0 1px; font-size: 11px; text-align: center; padding: 2px 3px 1px 2px; background: #f76300; line-height: 1; color: #FFF; }
.notification span { display: inline-block; max-width: 19px; overflow: hidden; white-space: nowrap; }

.helpers { position: relative; float: right; font-size: 0; }
.helpers__info { display: inline-block; width: 18px; height: 18px; text-decoration: none; text-align: center; font-size: 13px; background: #6c757a; color: #474e52; border-radius: 50%; vertical-align: middle; font-family: "robotomono", Arial, sans-serif; }
.helpers__info:hover { background: #fff; }
.helpers__bell { display: inline-block; margin-left: 16px; font-size: 19px; color: #6c757a; vertical-align: middle; }
.helpers__bell.is-active { color: #f76300; }
.helpers__bell:hover { color: #fff; }
.helpers__bell .icon { vertical-align: middle; }
.helpers__message { position: relative; display: inline-block; padding: 2px 5px 3px 4px; font-size: 11px; color: #fff; background: #f76300; line-height: 1; vertical-align: middle; font-family: "opensans-semibold", Arial, sans-serif; }
.helpers__message:before { content: ""; position: absolute; top: 50%; left: 0; margin: -3px 0 0 -4px; width: 0px; height: 0px; border-style: solid; border-width: 3px 4px 3px 0; border-color: transparent #f76300 transparent transparent; }

.search { position: relative; display: inline-block; max-width: 225px; margin-left: 15px; vertical-align: middle; }
.search input, .search .textarea { width: 100%; padding: 8px 8px 8px 40px; border: 1px solid #6c757a; border-radius: 40px; font-size: 13px; background: none; color: #fff; }
.search input:-moz-placeholder, .search .textarea:-moz-placeholder, .search input::-moz-placeholder, .search .textarea::-moz-placeholder { color: #757a7d; opacity: 1; }
.search input::-webkit-input-placeholder, .search .textarea::-webkit-input-placeholder { color: #757a7d; }
.search input:focus, .search .textarea:focus { box-shadow: none; }
.search .icon-zoom { position: absolute; top: 50%; left: 15px; margin-top: -7px; font-size: 14px; color: #757A7D; }

.footer { margin: 15px 0; opacity: 0.2; font-size: 12px; }

.main { margin-top: -90px; }
.main__in { min-height: 400px; background: #fff; border: 1px solid #dce0e7; border-radius: 6px; }

.upper { position: relative; min-height: 90px; padding: 18px 18px 8px; background: #f7f8f9; border-bottom: 1px solid #dce0e7; }
.upper__ttl { margin-bottom: 12px; color: #282828; font-size: 20px; font-family: "opensans-semibold", Arial, sans-serif; }
.upper__ttl .icon-folder { margin-right: 10px; font-size: 16px; color: #899bac; }
.upper__list { *zoom: 1; }
.upper__list:after { content: " "; display: table; clear: both; }
.upper__option { float: left; margin-left: 30px; }
.upper__option:first-child { margin-left: 0; }
.upper__link { position: relative; color: #097bf2; font-size: 14px; }
.upper__link:before, .upper__link:after { display: none; content: ""; position: absolute; top: 100%; left: 50%; }
.upper__link:before { margin: 3px 0 0 -6px; width: 0px; height: 0px; border-style: solid; border-width: 0 9px 10px 9px; border-color: transparent transparent #dce0e7 transparent; }
.upper__link:after { margin: 4px 0 0 -5px; width: 0px; height: 0px; border-style: solid; border-width: 0 8.5px 10px 8.5px; border-color: transparent transparent #fff transparent; }
.upper__link:hover { color: #000; }
.upper__link.is-active { color: #000; font-family: "opensans-semibold", Arial, sans-serif; }
.upper__link.is-active:before, .upper__link.is-active:after { display: block; }
.upper .add-btn { position: absolute; right: 23px; bottom: 0; margin-bottom: -25px; }

.start { position: relative; margin: 35px 0 110px; text-align: center; font-size: 16px; color: #6c757a; z-index: 0; overflow: hidden; }
.start:after { content: ""; position: absolute; top: 22px; right: 0; bottom: 0; width: 47px; background: #fff; z-index: 1; }
.start.no-b-margin { margin-bottom: 0; }
.start__in { position: relative; max-width: 620px; margin: 0 auto; z-index: 0; }
.start__ttl { margin-bottom: 10px; font-size: 26px; color: #282828; }
.start__folder { position: relative; margin-bottom: 30px; line-height: 1; }
.start__folder .icon-folder { position: relative; }
.start__folder .icon-folder:after { content: ""; position: absolute; width: 1000px; height: 1000px; top: 50%; left: 100%; margin: -1px 0 0 20px; border-top: 2px solid #899bac; background: #FFF; z-index: -1; }
.start__callfor { position: relative; margin-top: 12px; color: #6c757a; line-height: 1.15; font-family: "handwrite", Arial, sans-serif; }
.start__callfor span { position: relative; display: inline-block; padding: 0 20px; background: #fff; z-index: 1; }
.start__linkwrap { margin-top: 10px; font-size: 0; }
.start__link { position: relative; display: inline-block; text-decoration: underline; font-size: 13px; color: #bcc6cc; vertical-align: middle; }
.start__link:first-child { margin-right: 28px; }
.start__link:hover { text-decoration: none; }
.start .icon-folder { font-size: 122px; color: #899bac; }
.start .icon-plus { position: absolute; top: 50%; left: 50%; margin: -15px 0 0 -15px; font-size: 30px; color: #FFF; }

.add-btn { width: 50px; height: 50px; border-radius: 50%; background: #2C83CB; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.31); }
.add-btn:before, .add-btn:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 50%; will-change: opacity; transition: 0.2s; }
.add-btn:before { background-color: #2c83cb; background-image: linear-gradient(#2c83cb, #025bb7); }
.add-btn:after { opacity: 0; background-color: #025bb7; background-image: linear-gradient(#025bb7, #2c83cb); }
.add-btn:hover:before { opacity: 0; }
.add-btn:hover:after { opacity: 1; }
.add-btn .icon-plus { position: relative; font-size: 15px; color: #FFF; z-index: 1; }

.steps { max-width: 850px; margin: 40px auto 0; font-size: 0; text-align: center; }
.steps__bl { display: inline-block; width: 15%; margin-bottom: 30px; padding: 0 17px; font-size: 13px; color: #6c757a; vertical-align: top; font-family: "opensans-light", Arial, sans-serif; }
.steps__bl:last-child .steps__icon:before { display: none; }
.steps__icon { position: relative; display: inline-block; min-width: 70px; min-height: 80px; }
.steps__icon:before { content: ""; position: absolute; top: 50%; left: 100%; font-size: 16px; margin: -8px 0 0 20px; color: #bcc6cc; }
.steps__paid { position: absolute; top: 0; left: 0; right: 0; margin-top: 20px; text-align: center; font-size: 36px; color: #c374d3; line-height: 0.9; font-family: "handwrite", Arial, sans-serif; }
.steps__paid p:first-child { color: #4a90e2; -webkit-transform: rotate(8deg) translateX(-3px); -ms-transform: rotate(8deg) translateX(-3px); transform: rotate(8deg) translateX(-3px); }
.steps__dollar { position: absolute; top: 10px; left: 50%; margin-left: -15px; color: #2caf24; font-size: 67px; line-height: 1; font-family: "handwrite", Arial, sans-serif; }
.steps__dollar:first-child { font-size: 35px; left: 15px; }
.steps__dollar:last-child { top: 0; left: initial; right: 0; font-size: 40px; }

.arrow-block { position: absolute; top: 0; bottom: 0; right: 47px; margin-top: 15px; border-right: 2px solid #899bac; z-index: 0; }
.arrow-block:after { content: ""; position: absolute; top: 0; right: 0; margin: -7px -10.5px 0 0; width: 0px; height: 0px; border-style: solid; border-width: 0 10.5px 14px 10.5px; border-color: transparent transparent #899bac transparent; }

.line-block { position: absolute; top: 50%; left: 100%; margin: -1px 0 0 20px; width: 1000px; height: 1000px; border-top: 2px solid #899bac; background: #FFF; }

.dropdown { line-height: 1; }
.dropdown__bl { position: relative; display: inline-block; width: 30px; height: 27px; border: 1px solid #e4e4e4; border-radius: 4px; cursor: pointer; background: #FFF; }
.dropdown__bl:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -3px 0 0 -4px; width: 0px; height: 0px; border-style: solid; border-width: 6px 4.5px 0 4.5px; border-color: #d8d8d8 transparent transparent transparent; }

.tooltip { margin-bottom: 10px; font-size: 17px; color: #282828; }
.tooltip p { display: inline-block; vertical-align: middle; }
.tooltip__ico { display: inline-block; width: 14px; height: 14px; border: 1px solid #cfd5e0; border-radius: 50%; vertical-align: middle; cursor: pointer; font-family: "opensans-semibold", Arial, sans-serif; text-align: center; font-size: 0; }
.tooltip__ico:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.tooltip__ico span { display: inline-block; font-size: 8px; color: #a6acb8; vertical-align: middle; }

.deal { padding: 10px 17px; font-size: 13px; color: #738496; }
.deal.m-top { margin-top: 30px; }
.deal__active { margin: 2px 0; color: #282828; font-family: "opensans-semibold", Arial, sans-serif; }
.deal__status-change { color: #097bf2; }
.deal__status-delete { color: #ff4159; }
.deal__status a { display: inline-block; margin-right: 12px; vertical-align: middle; }
.deal__status a:hover { text-decoration: underline; }
.deal small { font-size: 13px; color: #bcc6cc; }
.deal .tooltip:only-child { margin-bottom: 0; }

.activity { margin: 10px 17px 26px; font-size: 13px; color: #6c757a; }
.activity__ttl { margin-bottom: 10px; font-size: 17px; color: #282828; }
.activity__table { display: table; margin-bottom: 8px; }
.activity__table small { padding-right: 10px; font-size: 13px; color: #282828; }
.activity__table span, .activity__table small { display: table-cell; vertical-align: middle; }
.activity__row { display: table-row; }
.activity a { text-decoration: underline; color: #bcc6cc; }
.activity a:hover { text-decoration: none; }
.activity .activity__link { color: #6c757a; }

.task { max-width: 700px; margin: 15px auto 0; }
.task__num { color: #6c757a; }
.task__num a { color: #097bf2; }
.task__in { margin-top: 20px; }
.task__info { margin: 5px 0 10px; color: #6c757a; font-size: 13px; }
.task__info span { color: #f76300; }
.task__text { margin: 5px 0; font-size: 14px; }
.task__el { margin: 15px 0 30px; }
.task__el .svg-ico { margin-right: 20px; vertical-align: middle; }
.task__name { display: inline-block; font-size: 14px; vertical-align: middle; }
.task__name a { color: #097bf2; }
.task__name a:hover { text-decoration: underline; }
.task .status { display: block; }

.comments__head { margin-bottom: 20px; border-bottom: 1px solid #efefef; *zoom: 1; }
.comments__head:after { content: " "; display: table; clear: both; }
.comments__post { *zoom: 1; }
.comments__post:after { content: " "; display: table; clear: both; }
.comments__post .btn { margin-top: 10px; float: right; }

.table { margin-bottom: 45px; font-size: 13px; color: #6c757a; border-collapse: collapse; border-top: 1px solid #efefef; border-bottom: 1px solid #efefef; }
.table__head { background: #f7f8f9; text-align: left; border-bottom: 1px solid #efefef; }
.table__name { width: 34.5%; }
.table__name span { color: #282828; font-family: "opensans-semibold", Arial, sans-serif; }
.table__info { width: 71%; color: #282828; }
.table__clip { text-align: center; font-size: 15px; color: #bcc6cc; }
.table__clip .icon { vertical-align: -1px; }
.table__desc { display: inline-block; font-size: 0; margin-bottom: 6px; color: #097bf2; text-transform: capitalize; white-space: nowrap; }
.table__desc:only-child { margin: 0; }
.table__desc .ico { margin-right: 8px; }
.table__desc span { display: inline-block; font-size: 13px; vertical-align: middle; }
.table__el { font-family: "robotomono", Arial, sans-serif; }
.table__el span { display: inline-block; vertical-align: middle; }
.table__pending { *zoom: 1; }
.table__pending:after { content: " "; display: table; clear: both; }
.table__pending i { float: left; margin-top: 2px; }
.table__pending span { display: block; overflow: hidden; }
.table tr:hover { background: #f2f2f2; }
.table tr.is-pending .table__info { color: #9AA4A6; }
.table tr.is-pending .table__desc { color: #6C757A; }
.table tr.table__head:hover { background: #f7f8f9; }
.table th { position: relative; padding: 10px; border-right: 1px solid #dce0e7; cursor: pointer; vertical-align: middle; }
.table th:before { display: none; content: ""; position: absolute; top: 50%; right: 10px; margin-top: -2px; width: 0px; height: 0px; border-style: solid; border-width: 4px 3.5px 0 3.5px; border-color: #6c757a transparent transparent transparent; }
.table th:hover { background: rgba(0, 0, 0, 0.05); }
.table th.is-active { padding-right: 20px; background: rgba(0, 0, 0, 0.05); }
.table th.is-active:before { display: block; }
.table th:first-child { padding-left: 17px; }
.table th:last-child { border-right: 0; }
.table th.table__drop { background: none; }
.table th.table__drop:before { display: none; }
.table td { max-width: 627px; padding: 10px 8.5px; border-bottom: 1px solid #efefef; vertical-align: top; }
.table td:first-child { width: 115px; padding-left: 17px; }
.table td.table__drop { width: 50px; padding: 5px 8.5px; }
.table .ico { display: inline-block; width: 16px; height: 16px; background-size: 16px 16px; vertical-align: middle; }
.table .ico.memo-ico { background-size: initial; background-image: url("../img/icons.png"); width: 16px; height: 16px; background-position: 0px -82px; }
.table .icon-pending { margin-right: 10px; }
.table .txt-right { text-align: right; padding-right: 10px; }

.overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 10px; text-align: center; background: rgba(243, 244, 246, 0.6); opacity: 0; visibility: hidden; overflow: auto; z-index: 10; white-space: nowrap; transition: opacity 0.4s, visibility 0.4s; text-align: center; font-size: 0; }
.overlay:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.overlay.is-active { opacity: 1; visibility: visible; }

.suggest { position: absolute; top: 0; right: 0; margin-top: 43px; min-width: 390px; padding: 20px 23px 20px 26px; font-size: 0; background: #FFF; border-radius: 4px; box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.5); opacity: 0; visibility: hidden; z-index: 11; transition: 0.4s; }
.suggest.is-active { opacity: 1; visibility: visible; }
.suggest__head { *zoom: 1; }
.suggest__head:after { content: " "; display: table; clear: both; }
.suggest__close { float: right; width: 50px; height: 50px; background-color: #097bf2; border-radius: 50%; color: #FFF; vertical-align: middle; cursor: pointer; text-align: center; font-size: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.suggest__close:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.suggest__txt { display: inline-block; color: #097bf2; font-size: 14px; vertical-align: middle; }
.suggest__txt:first-child { margin-top: 14px; font-size: 16px; color: #282828; }
.suggest__folder { position: relative; display: inline-block; margin-right: 23px; font-size: 44px; color: #899bac; line-height: 1; vertical-align: middle; cursor: pointer; }
.suggest__folder .icon-plus { position: absolute; top: 50%; left: 50%; margin: -7.5px 0 0 -7.5px; }
.suggest__menu { margin-top: 10px; }
.suggest__bl { display: block; font-size: 12px; margin-bottom: 15px; color: #097bf2; }
.suggest__bl.is-disabled { color: #cfd5e0; }
.suggest__bl.is-disabled .transaction-ico { background-image: url("../img/svg-bg/transaction-disabled.svg"); }
.suggest__bl.is-disabled .customer-ico { background-image: url("../img/svg-bg/customer-disabled.svg"); }
.suggest__bl p:first-child { margin-bottom: 5px; font-size: 14px; }
.suggest__in { display: inline-block; max-width: 250px; margin-left: 20px; vertical-align: middle; }
.suggest .svg-ico { width: 55px; height: 55px; background-size: 55px 55px; vertical-align: middle; }
.suggest .svg-ico.memo-ico { display: inline-block; background-size: initial; background-image: url("../img/icons.png"); width: 55px; height: 55px; background-position: -73px 0px; }
.suggest .icon-plus { font-size: 15px; color: #FFF; vertical-align: middle; }

.sysmessage { position: absolute; top: 100%; margin-top: 12px; right: 0; width: 380px; font-size: 13px; background: #fff; border: 1px solid #dce0e7; border-radius: 4px; box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5); z-index: 11; opacity: 0; visibility: hidden; transition: 0.4s; }
.sysmessage:before, .sysmessage:after { content: ""; position: absolute; }
.sysmessage:before { top: -14px; left: 105px; width: 0px; height: 0px; border-style: solid; border-width: 0 11px 14px 11px; border-color: transparent transparent #dde2e7 transparent; }
.sysmessage:after { top: -12px; left: 106px; width: 0px; height: 0px; border-style: solid; border-width: 0 10px 12px 10px; border-color: transparent transparent #f7f8f9 transparent; }
.sysmessage.is-active { opacity: 1; visibility: visible; }
.sysmessage__head { position: relative; padding: 10px 17px; background: #f7f8f9; }
.sysmessage__ttl { max-width: 320px; font-size: 13px; color: #f76300; font-family: "opensans-semibold", Arial, sans-serif; }
.sysmessage__el { padding: 10px 17px; background: #f7f8f9; border-top: 1px solid #dce0e7; border-bottom: 1px solid #dce0e7; }
.sysmessage__el:last-child { border-bottom: none; }
.sysmessage__name { margin-top: 3px; }
.sysmessage__bl { padding: 10px 17px; *zoom: 1; }
.sysmessage__bl:after { content: " "; display: table; clear: both; }
.sysmessage__img { width: 100%; max-width: 40px; float: left; margin-right: 12px; border-radius: 50%; }
.sysmessage__info { overflow: hidden; }
.sysmessage__info p { margin: 10px 0; }
.sysmessage__name h4 { color: #282828; font-family: "opensans-semibold", Arial, sans-serif; }
.sysmessage__name span { display: inline-block; vertical-align: middle; }
.sysmessage__date { display: block; font-size: 13px; color: #6c757a; }
.sysmessage__list { margin: 17px 0; }
.sysmessage__filter { font-size: 0; }
.sysmessage__filter li { position: relative; display: inline-block; font-size: 13px; vertical-align: middle; }
.sysmessage__filter li:after { content: "|"; display: inline-block; margin: 0 5px; color: #b1d3d5; vertical-align: middle; }
.sysmessage__filter li:last-child:after { display: none; }
.sysmessage__link { display: inline-block; color: #097bf2; vertical-align: middle; }
.sysmessage__link:hover { text-decoration: underline; }
.sysmessage .icon-close { position: absolute; top: 11px; right: 10px; cursor: pointer; }
.sysmessage .icon-close:hover { color: red; }
.sysmessage .icon-check { color: #2caf24; margin-right: 5px; vertical-align: middle; }

.popup { display: none; width: 100%; min-width: 768px; text-align: left; font-size: 13px; background: #fff; box-shadow: 0 2px 19px 4px rgba(0, 0, 0, 0.5); border-radius: 4px; vertical-align: middle; z-index: -1; white-space: normal; }
.popup.is-active { display: inline-block; }
.popup.is-newdeal { margin-top: 30px; max-width: 460px; vertical-align: top; }
.popup.is-dealflow { max-width: 820px; margin: 0; vertical-align: middle; }
.popup__head { position: relative; padding: 14px 21px; color: #282828; font-size: 16px; background: #f7f8f9; border-bottom: 1px solid #dce0e7; }
.popup__head.no-bg { background: none; border: none; *zoom: 1; }
.popup__head.no-bg:after { content: " "; display: table; clear: both; }
.popup__ttl { text-align: center; font-size: 26px; color: #282828; line-height: 36px; }
.popup__body { padding: 15px 20px 20px; }
.popup__body.no-padding { padding: 0; }
.popup__form-ttl { margin-bottom: 8px; font-size: 14px; line-height: 19px; font-family: "opensans-semibold", Arial, sans-serif; }
.popup__btn { margin-top: 60px; text-align: right; font-size: 0; }
.popup__btn .btn { margin-left: 8px; vertical-align: middle; }
.popup .icon-close { position: absolute; top: 50%; right: 20px; margin-top: -7.5px; font-size: 13px; color: #6c757a; cursor: pointer; transition: color 0.3s; }
.popup .icon-close:only-child { position: static; float: right; margin-top: 0; }
.popup .icon-close:hover { color: red; }
.popup .steps { margin-top: 15px; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }
@media print{
 .start .icon-folder:after{ display: none; }
 .arrow-block{ display: none; }
 .line-block{ display: none; } }



/*# sourceMappingURL=screen.css.map */
