<div class="dropdown__list js-inner js-check">
	<div class="dropdown__check">
		<label class="check" data-attr="letter">
			<input type="checkbox" checked>
			<span class="check__span">Engagement Letter</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="deal">
			<input type="checkbox" checked>
			<span class="check__span">Deal Memo</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="customers">
			<input type="checkbox" checked>
			<span class="check__span">Customers</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="transactions">
			<input type="checkbox" checked>
			<span class="check__span">Transactions</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="tasks">
			<input type="checkbox" checked>
			<span class="check__span">Tasks</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="letterNum">
			<input type="checkbox">
			<span class="check__span">Number of engag. letters</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="customersNum">
			<input type="checkbox">
			<span class="check__span">Number of customers</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="transactionNum">
			<input type="checkbox">
			<span class="check__span">Number of transactions</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="transactionTotal">
			<input type="checkbox">
			<span class="check__span">Transactions total</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="fundsTotal">
			<input type="checkbox">
			<span class="check__span">Funds received total</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="latestfunds">
			<input type="checkbox">
			<span class="check__span">Latest funds received date</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="comissionTotal">
			<input type="checkbox">
			<span class="check__span">My commission total</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="latestCommisionPaid">
			<input type="checkbox">
			<span class="check__span">Latest comission paid</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="latestCommisionDate">
			<input type="checkbox">
			<span class="check__span">Latest comission paid date</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="gcs">
			<input type="checkbox">
			<span class="check__span">GCS commision total</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="dateCreated">
			<input type="checkbox">
			<span class="check__span">Date created</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="update">
			<input type="checkbox" checked>
			<span class="check__span">Last update</span>
		</label>
	</div>
</div>