<div class="dropdown__list is-top-level js-inner">
	<div class="dropdown__check">
		<label class="check" data-attr="id">
			<input type="checkbox" checked>
			<span class="check__span">ID</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="seller">
			<input type="checkbox" checked>
			<span class="check__span">Seller</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="buyer">
			<input type="checkbox" checked>
			<span class="check__span">Buyer</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="status">
			<input type="checkbox" checked>
			<span class="check__span">Status</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="statusdate">
			<input type="checkbox">
			<span class="check__span">Status date</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="amount">
			<input type="checkbox" checked>
			<span class="check__span">Amount</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="funds">
			<input type="checkbox" checked>
			<span class="check__span">Funds received</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="fundsdate">
			<input type="checkbox">
			<span class="check__span">Funds received date</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="commission">
			<input type="checkbox" checked>
			<span class="check__span">Commission</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="commissionpaid">
			<input type="checkbox" checked>
			<span class="check__span">Commission paid</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="commissiondate">
			<input type="checkbox">
			<span class="check__span">Commission paid date</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="gcs">
			<input type="checkbox">
			<span class="check__span">GCS comission</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="transactionsum">
			<input type="checkbox">
			<span class="check__span">Engagement letter</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="date">
			<input type="checkbox" checked>
			<span class="check__span">Date created</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="update">
			<input type="checkbox">
			<span class="check__span">Last update</span>
		</label>
	</div>
</div>