<div class="dropdown__list js-inner js-check">
	<div class="dropdown__check">
		<label class="check" data-attr="id">
			<input type="checkbox" checked>
			<span class="check__span">ID</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="name">
			<input type="checkbox" checked>
			<span class="check__span">Name</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="type">
			<input type="checkbox" checked>
			<span class="check__span">Type</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="status">
			<input type="checkbox" checked>
			<span class="check__span">Status</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="customersnum">
			<input type="checkbox">
			<span class="check__span">Number of customers</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="transactionnum">
			<input type="checkbox">
			<span class="check__span">Number of transactions</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="">
			<input type="checkbox">
			<span class="check__span">Latest transaction date</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="latestid">
			<input type="checkbox">
			<span class="check__span">Latest transaction ID</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="lateststat">
			<input type="checkbox">
			<span class="check__span">Latest transaction status</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="transactionsum">
			<input type="checkbox">
			<span class="check__span">Transactions total</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="comissionsum">
			<input type="checkbox">
			<span class="check__span">My comission total</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="gcs">
			<input type="checkbox">
			<span class="check__span">GCS comission total</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="funds">
			<input type="checkbox">
			<span class="check__span">Latest funds arrived date</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="date">
			<input type="checkbox">
			<span class="check__span">Date created</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="update">
			<input type="checkbox" checked>
			<span class="check__span">Last update</span>
		</label>
	</div>
</div>