<!-- begin header  -->
<div class="header is-form js-fixed">
	<div class="l-head">
		<div class="header__in">
			<div class="header__group">
				<a href="#" class="header__close"><i class="icon icon-close"></i></a>
				<div class="header__bl">
					<p><i class="svg-ico letter-ico"></i><span>Engagement Letter Steve Buscemi</span></p>
					<div class="header__small"><a href="#">Space X</a></div>
				</div>
			</div>
			<div class="btn-group">
				<button class="btn btn-no s-pad btn-txt-gray" type="button">Save as draft</button>
				<button class="btn btn-ok s-pad" type="submit">Submit for review</button>
			</div>
		</div>
		<div class="header__in">
			<ul class="header__list">
				<li><a href="#" class="header__option">Current task</a></li>
				<li><a href="#" class="header__option">Form Info</a></li>
				<li><a href="#" class="header__option">Attachments</a></li>
				<li>
					<a href="#" class="header__option">
						Help
						<p class="notification">
							<span>5</span>
						</p>
					</a>
				</li>
			</ul>
			<div class="header__fields">
				<div class="calendar">
					<input type="text" id="calendar" placeholder="Select date" readonly>
					<i class="icon icon-calendar"></i>
				</div>
				<div class="header__textarea">
					<textarea class="textarea js-expand-area" placeholder="Review notes"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->