	<!-- begin header  -->
	<div class="header formbuilder is-form js-fixed">
		<div class="l-lg">
			<div class="header__in">
				<div class="header__group">
					<a href="#" class="header__close"><i class="icon icon-close"></i></a>
					<div class="header__bl">
						<p><span>Form</span></p>
						<div class="header__small header__small--gray">Last Edited 12.06.18, 3:45 PM</div>
					</div>
				</div>
				<div class="btn-group">
					<button class="btn btn-ok" type="button">Save</button>
				</div>
			</div>
			<div class="header__in js-hide">
				<div class="header__btns">
					<button class="btn btn_md">Collapse All</button>
					<button class="btn btn_md">Expand All</button>
				</div>
				<ul class="header__list header__list--sm">
					<li><a href="#" class="header__option header__option--blue is-active">Settings</a></li>
					<li><a href="#" class="header__option header__option--blue">Layout</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end header -->