<!-- begin header  -->
<div class="header">
	<div class="l">
		<div class="header__in">
			<a href="#" class="header__logo"><i class="icon icon-logo"></i></a>
			<ul class="menu">
				<li class="menu__option"><a class="menu__link" href="#">Tasks <p class="notification"><span>2</span></p></a></li>
				<li class="menu__option is-active"><a class="menu__link" href="#">Deals</a></li>
				<li class="menu__option"><a class="menu__link" href="#">Entries</a></li>
				<li class="menu__option"><a class="menu__link" href="#">Library</a></li>
				<li class="menu__option">
					<div class="dropdown is-menu js-dropdown">
						<p class="dropdown__item">Me</p>
						<ul class="dropdown__list is-top-level js-inner">
							<li><a href="#">Profile</a></li>
							<li><a href="#">My Team</a></li>
							<li><a href="#">Messages</a></li>
							<li><a href="#">Activity Log</a></li>
							<li><a href="#">Settings</a></li>
							<li><a href="#">Log Out</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<div class="helpers">
				<a href="#" class="helpers__info">?</a>
				<a href="#" class="helpers__bell icon icon-bell"></a>
				<label class="search js-search">
					<i class="icon icon-zoom"></i>
					<input type="search" placeholder="Search">
					<i class="icon icon-close js-search-clear"></i>
				</label>
				//= ../partials/search-results.html
			</div>
		</div>
	</div>
</div>
<!-- end header -->