<!-- begin suggest for new deal -->
	<div class="suggest js-popup js-avoid-overflow" id="suggest">
		<div class="suggest__head">
			<p class="suggest__txt">Submit Deal Memo</p>
			<div class="suggest__close js-close"><i class="icon icon-plus"></i></div>
		</div>
		<div class="suggest__menu">
			<a href="#" class="suggest__bl">
				<i class="svg-ico letter-ico"></i>
				<div class="suggest__in">
					<p>Add Engagement Letter</p>
				</div>
			</a>
			<a href="#" class="suggest__bl" data-popup="popup-deal-memo-info">
				<i class="svg-ico memo-ico"></i>
				<div class="suggest__in">
					<p>Add Deal memo</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="svg-ico customer-ico"></i>
				<div class="suggest__in">
					<p>Add Customer</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="svg-ico transaction-ico"></i>
				<div class="suggest__in">
					<p>Add Transaction Report</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="svg-ico library-ico"></i>
				<div class="suggest__in">
					<p>Add Marketing Materials</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="svg-ico library-ico"></i>
				<div class="suggest__in">
					<p>Add from Templates or Other</p>
				</div>
			</a>
		</div>
	</div>
<!-- end suggest for new deal -->