<!-- begin suggest -->
<div class="suggest is-staff js-popup js-avoid-overflow" id="suggest">
	<div class="suggest__head">
		<div class="suggest__close js-close"><i class="icon icon-plus"></i></div>
	</div>
	<div class="suggest__menu">
		<div class="suggest__side">
			<a href="#" class="suggest__bl" data-popup="popup-start-deal">
				<div class="suggest__folder">
					<i class="icon icon-folder"></i>
					<i class="icon icon-plus"></i>
				</div>
				<div class="suggest__in">
					<p>Start a New Deal Folder</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="svg-ico add-task-ico"></i>
				<div class="suggest__in">
					<p>Assign a new task</p>
				</div>
			</a>
			<p class="suggest__txt">Submit to Space X</p>
			<a href="#" class="suggest__bl" data-popup="popup-add-letter">
				<i class="svg-ico letter-ico"></i>
				<div class="suggest__in">
					<p>Add Engagement Letter</p>
				</div>
			</a>
			<a href="#" class="suggest__bl" data-popup="popup-deal-memo-info">
				<i class="svg-ico memo-ico"></i>
				<div class="suggest__in">
					<p>Add Deal memo</p>
					<div class="status">
						<i class="icon icon-warn"></i>
						<span>Task</span>
					</div>
				</div>
			</a>
			<a href="#" class="suggest__bl" data-popup="popup-add-customer">
				<i class="svg-ico customer-ico"></i>
				<div class="suggest__in">
					<p>Add Customer</p>
				</div>
			</a>
			<a href="#" class="suggest__bl" data-popup="popup-add-transaction">
				<i class="svg-ico transaction-ico"></i>
				<div class="suggest__in">
					<p>Add Transaction Report</p>
					<p>Preferebly submit after engagement letter and deal memo approval</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="svg-ico library-ico"></i>
				<div class="suggest__in">
					<p>Add Marketing Materials</p>
				</div>
			</a>
			<a href="#" class="suggest__bl" data-popup="popup-entries-submit">
				<i class="svg-ico library-ico"></i>
				<div class="suggest__in">
					<p>Add from Templates or Other</p>
				</div>
			</a>
			<a href="#" class="suggest__bl" data-popup="popup-entries-submit">
				<i class="svg-ico att-ico"></i>
				<div class="suggest__in">
					<p>Add Attachment to Deal</p>
				</div>
			</a>
		</div>
		<div class="suggest__side">
			<a href="#" class="suggest__bl">
				<i class="svg-ico cash-ico"></i>
				<div class="suggest__in">
					<p>Add Payment</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="svg-ico add-report-ico"></i>
				<div class="suggest__in">
					<p>Generate Report</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="svg-ico add-team-ico"></i>
				<div class="suggest__in">
					<p>Add team</p>
				</div>
			</a>
			<a href="#" class="suggest__bl">
				<i class="icon icon-firm"></i>
				<div class="suggest__in">
					<p>Add firm</p>
				</div>
			</a>
			<a href="#" class="suggest__bl" data-popup="popup-add-to-library">
				<i class="icon icon-add-library"></i>
				<div class="suggest__in">
					<p>Add to library</p>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- end suggest -->