<div class="news">
	<div class="news__bl js-news-bl">
		<p class="news__ttl js-news-target">bla bla bla</p>
		<div class="news__txt js-news-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, reprehenderit provident amet non tempora dolor numquam neque voluptas inventore, distinctio illo illum sapiente consequuntur explicabo eaque ratione magnam cumque.</p>
			<div class="news__more">
				<a href="#" class="news__link">View details</a>
				<button class="btn btn-ok js-news-remove" type="button">Mark read</button>
			</div>
		</div>
	</div>
	<div class="news__bl js-news-bl">
		<p class="news__ttl js-news-target">yeth</p>
		<div class="news__txt js-news-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, reprehenderit provident amet non tempora dolor numquam neque voluptas inventore, distinctio illo illum sapiente consequuntur explicabo eaque ratione magnam cumque.</p>
			<div class="news__more">
				<a href="#" class="news__link">View details</a>
				<button class="btn btn-ok js-news-remove" type="button">Mark read</button>
			</div>
		</div>
	</div>
	<div class="news__bl js-news-bl">
		<p class="news__ttl js-news-target">bla bla bla</p>
		<div class="news__txt js-news-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, reprehenderit provident amet non tempora dolor numquam neque voluptas inventore, distinctio illo illum sapiente consequuntur explicabo eaque ratione magnam cumque.</p>
			<div class="news__more">
				<a href="#" class="news__link">View details</a>
				<button class="btn btn-ok js-news-remove" type="button">Mark read</button>
			</div>
		</div>
	</div>
</div>
