<div class="popup is-top js-popup" id="popup-create-error">
	<div class="popup__head">
		<p>Start a New Deal Folder</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<form class="form is-full-w">
			<label for="google" class="form__subttl">Deal Name</label>
			<div class="form__bl has-error">
				<input id="google" type="text" value="Google">
				<ul class="errorlist">
					<li>You already have another deal with the same name</li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn btn-ok" type="submit">Create deal</button>
				<button class="btn btn-no" type="button">Cancel</button>
			</div>
		</form>
	</div>
</div>