<div class="popup js-popup" id="popup-sign-in">
	<div class="popup__head">
		<p>Sign in as...</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__scroll js-popup-scroll">
		<div class="popup__body no-b-pad">
			<div class="popup__bl">
				<div class="popup__label">
					<input type="text" placeholder="Search">
				</div>
			</div>
		</div>
		<ul class="popup-list js-popup-list">
			<li class="popup-list__option">
			 	<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Aaron Siwoku</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Brian Dunn</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Clifford Simak</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Dilan Brocksson</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Diana Tailor</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Brian Dunn</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Clifford Simak</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Dilan Brocksson</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Diana Tailor</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
			 	<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Aaron Siwoku</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Brian Dunn</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Clifford Simak</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Dilan Brocksson</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Diana Tailor</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Brian Dunn</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Clifford Simak</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Dilan Brocksson</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Diana Tailor</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>