<div class="popup popup_md js-popup" id="popup-add-letter"> 
	<div class="popup__head">
		<p>Add Engagement Letter to Deal...</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__scroll js-popup-scroll">
		<div class="popup__body no-b-pad">
			<label for="search-letter" class="popup__gray">Select deal to submit engagement letter to:</label>
			<div class="popup__bl">
				<input id="search-letter" type="text" placeholder="Search">
			</div>
		</div>
		<ul class="popup-list">
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Alphabet</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Deal With a Really Lond Name User Can Create if He Really Wants</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Foursquare Inc.</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Google</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Space X</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Samsung – Round A Search For People</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Twitter S</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Twitter Z</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" data-popup="popup-lorem">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Xero</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>