<div class="popup js-popup" id="popup-affiliate">
	<div class="popup__head">
		<p>Add Affiliate</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<form class="form is-full-w">
			<div class="form__bl">
				<p class="form__subttl"><label for="">First Name</label></p>
				<div class="form__el">
					<input type="text" placeholder="Type first name">
				</div>
			</div>
			<div class="form__bl">
				<p class="form__subttl"><label for="">Last Name</label></p>
				<div class="form__el">
					<input type="text" placeholder="Type last name">
				</div>
			</div>
			<div class="form__bl">
				<p class="form__subttl"><label for="">E-mail</label></p>
				<div class="form__el">
					<input type="text" placeholder="Type e-mail address">
				</div>
			</div>
			<div class="form__bl">
				<p class="form__subttl"><label for="">Password</label></p>
				<div class="form__el">
					<input type="text" placeholder="Type password">
				</div>
			</div>
			<div class="form__bl">
				<p class="form__subttl no-margin">Password confirmation</p>
				<label>Enter the dame password as above for verification</label>
				<div class="form__el">
					<input type="text" placeholder="Re-type same password">
				</div>
			</div>
			<div class="form__bl">
				<p class="form__subttl">Permissions</p>
				<div class="dropdown is-small js-dropdown">
					<p class="dropdown__item is-chosen">Read only</p>
					<ul class="dropdown__list is-top-level js-inner">
						<li><a href="#">Read only</a></li>
						<li><a href="#">Write only</a></li>
						<li><a href="#">Read / write</a></li>
					</ul>
				</div>
			</div>
			<div class="form__bl">
				<p class="form__subttl">Modules</p>
				<div>
					<label class="check is-light-border">
						<input type="checkbox">
						<span class="check__span">Memberhip</span>
					</label>
					<label class="check is-light-border">
						<input type="checkbox">
						<span class="check__span">Compliance</span>
					</label>
					<label class="check is-light-border">
						<input type="checkbox">
						<span class="check__span">Deal</span>
					</label>
					<label class="check is-light-border">
						<input type="checkbox">
						<span class="check__span">Transactions</span>
					</label>
				</div>
			</div>
			<div class="upload">
				<div class="upload__in">
					<input type="file" name="id">
					<i class="icon icon-upload"></i>
					<span>Upload photo</span>
				</div>
			</div>
			<div class="popup__btn xs-margin">
				<button class="btn btn-ok" type="submit">Add</button>
				<button class="btn btn-no" type="button">Cancel</button>
			</div>
		</form>
	</div>
</div>