<div class="popup is-attach js-popup" id="popup-entries-submit">
	<div class="popup__head">
		<p>Submit From Library Template</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<p>Quickly find a template:</p>
		<div class="popup__bl">
			<div class="popup__el is-search">
				<div class="popup__label">
					<label></label>
					<input type="text" placeholder="Search">
				</div>
			</div>
			<div class="dropdown js-dropdown">
				<p class="dropdown__item">Filter by type:</p>
				<ul class="dropdown__list js-inner">
					<li><a href="#" class="is-active">All types</a></li>
					<li><a href="#">Attachment</a></li>
					<li><a href="#">Deal</a></li>
					<li><a href="#">Task</a></li>
					<li><a href="#">Engagement letter</a></li>
					<li><a href="#">Deal Memo</a></li>
					<li><a href="#">Customer</a></li>
					<li><a href="#">GCS Form</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- begin table  -->
	<table class="table">
		<tr class="table__head">
			<th width="107"><p>ID</p></th>
			<th width="360"><p>Name</p></th>
			<th width="136" class="is-active"><p>Type</p></th>
			<th class="table__drop"><p>&nbsp;</p></th>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>FT12522</span>
				</div>
			</td>
			<td>
				<p>Advertising & Marketing Materials</p>
			</td>
			<td>
				<p>Compliance form</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>FT12522</span>
				</div>
			</td>
			<td>
				<p>Background Check</p>
			</td>
			<td>
				<p>Compliance form</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>FT12522</span>
				</div>
			</td>
			<td>
				<p>Brokerage Account Disclosure or Request</p>
			</td>
			<td>
				<p>Compliance form</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>FT12522</span>
				</div>
			</td>
			<td>
				<p>Brokerage Account Statements for Supervisory Review</p>
			</td>
			<td>
				<p>Compliance form</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>FT12522</span>
				</div>
			</td>
			<td>
				<p>Co-Marketing Agreement Request</p>
			</td>
			<td>
				<p>Compliance form</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>FT12522</span>
				</div>
			</td>
			<td>
				<p>Communications Log for Reps</p>
			</td>
			<td>
				<p>Compliance form</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>FT12522</span>
				</div>
			</td>
			<td>
				<p>Customer Identification Form - Entity: GCS Verification</p>
			</td>
			<td>
				<p>Compliance form</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>FT12522</span>
				</div>
			</td>
			<td>
				<p>Disclosure - Customer Complaint</p>
			</td>
			<td>
				<p>Compliance form</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
	<!-- end table -->
</div>