<div class="popup is-top js-popup" id="upload-photo">
	<div class="popup__head">
		<p>Give a proper file name</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<form class="popup__form">
			<p class="popup__form-ttl">File Name</p>
			<p class="popup__form-subttl">Keep names understandable for you and staff</p>
			<label>
				<input type="text" value="my_photo">
			</label>
			<div class="popup__btn s-margin">
				<button class="btn btn-ok" type="submit">Upload</button>
				<button class="btn btn-no" type="button">Cancel</button>
			</div>
		</form>
	</div>
</div>