<div class="popup js-popup" id="popup-user">
	<div class="popup__head">
		<p>Active Rep</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<div class="popup__card">
			<div class="popup__img">
				<div class="popup__wrap">
					<img src="img/profile5.jpg" alt="">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</div>
			</div>
			<div class="popup__info">
				<h3 class="popup__subttl">Brian Dunn</h3>
				<table class="popup__table">
					<tr>
						<td>Roles:</td>
						<td>Auditor, Prospect</td>
					</tr>
					<tr>
						<td>Supervisor:</td>
						<td>Amanda Brown</td>
					</tr>
					<tr>
						<td>Deal sup:</td>
						<td>Amanda Brown</td>
					</tr>
					<tr>
						<td>Firm</td>
						<td><a href="#">Chasels&Co</a></td>
					</tr>
					<tr>
						<td>E-mail:</td>
						<td><a href="mailto: alixvanessa@gmail.com">alixvanessa@gmail.com</a></td>
					</tr>
				</table>
			</div>
		</div>
		<ul class="reaction">
			<li><a class="reaction__link" href="#">Assign task</a></li>
			<li><a class="reaction__link" href="#">Send message</a></li>
			<li><a class="reaction__link" href="#">View as user</a></li>
			<li><a class="reaction__link" href="#">Edit</a></li>
		</ul>
	</div>
	<ul class="popup-list">
		<li class="popup-list__option">
		 	<a href="#">
		 		<div class="popup-list__more">
					<div class="popup-list__info">
						<p>My: <span>2</span></p>
						<p>User: 4</p>
					</div>
		 			<i class="icon icon-square-arr"></i>
		 		</div>
				<div class="popup-list__el">
					<i class="icon icon-warn"></i><span class="popup-list__span">Tasks</span>
				</div>
			</a>
		</li>
		<li class="popup-list__option">
			<a href="#">
				<div class="popup-list__more">
					<i class="icon icon-square-arr"></i>
				</div>
				<div class="popup-list__el">
					<i class="svg-ico entry-ico"></i><span class="popup-list__span">Entries</span>
				</div>
			</a>
		</li>
		<li class="popup-list__option">
			<a href="#">
				<div class="popup-list__more">
					<i class="icon icon-square-arr"></i>
				</div>
				<div class="popup-list__el">
					<i class="icon icon-folder"></i><span class="popup-list__span">Deals</span>
				</div>
			</a>
		</li>
		<li class="popup-list__option">
			<a href="#">
				<div class="popup-list__more">
					<i class="icon icon-square-arr"></i>
				</div>
				<div class="popup-list__el">
					<i class="svg-ico library-ico"></i><span class="popup-list__span">Compliance</span>
				</div>
			</a>
		</li>
		<li class="popup-list__option">
			<a href="#">
				<div class="popup-list__more">
					<i class="icon icon-square-arr"></i>
				</div>
				<div class="popup-list__el">
					<i class="svg-ico letter-ico"></i><span class="popup-list__span">Engagement Letters</span>
				</div>
			</a>
		</li>
		<li class="popup-list__option">
			<a href="#">
				<div class="popup-list__more">
					<i class="icon icon-square-arr"></i>
				</div>
				<div class="popup-list__el">
					<i class="svg-ico memo-ico"></i><span class="popup-list__span">Deal Memos</span>
				</div>
			</a>
		</li>
		<li class="popup-list__option">
			<a href="#">
				<div class="popup-list__more">
					<i class="icon icon-square-arr"></i>
				</div>
				<div class="popup-list__el">
					<i class="svg-ico customer-ico"></i><span class="popup-list__span">Customers</span>
				</div>
			</a>
		</li>
		<li class="popup-list__option">
			<a href="#">
				<div class="popup-list__more">
					<i class="icon icon-square-arr"></i>
				</div>
				<div class="popup-list__el">
					<i class="svg-ico transaction-ico"></i><span class="popup-list__span">Transactions</span>
				</div>
			</a>
		</li>
		<li class="popup-list__option">
			<a href="#">
				<div class="popup-list__more">
					<i class="icon icon-square-arr"></i>
				</div>
				<div class="popup-list__el">
					<i class="icon icon-team"></i><span class="popup-list__span">Team</span>
				</div>
			</a>
		</li>
	</ul>
</div>