<div class="popup is-attach js-popup" id="library-submission">
	<div class="popup__head">
		<p>Submissions With This Template</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<p>Below are submissions made out of form template:</p>
		<div class="popup__bl">
			<div class="popup__el">
				<i class="svg-ico library-ico"></i>
				<span class="popup__num">FT12522</span>
				<span class="txt-bold">Advertising & Marketing Materials</span>
			</div>
			<a href="#" class="popup__more">Make a new submission</a>
		</div>
	</div>
	<!-- begin table  -->
	<table class="table">
		<tr class="table__head">
			<th width="107"><p>ID</p></th>
			<th width="401"><p>Name</p></th>
			<th width="98" class="is-active"><p>Submitted</p></th>
			<th class="table__drop"><p>&nbsp;</p></th>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>CF12522</span>
				</div>
			</td>
			<td>
				<p>Aspernatur numquam in et in dolores odio quisquam fundamental</p>
			</td>
			<td>
				<p>Aug 10, 2015</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>CF12522</span>
				</div>
			</td>
			<td>
				<p>Testing ampersand in subject October 06, 2015</p>
			</td>
			<td>
				<p>Aug 10, 2015</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="js-link" data-href="http://www.google.com">
			<td>
				<div class="table__el">
					<i class="svg-ico library-ico"></i>
					<span>CF12522</span>
				</div>
			</td>
			<td>
				<p>Dolore non hic in dolor odio pariatur Voluptatem ea Name of t…</p>
			</td>
			<td>
				<p>Aug 10, 2015</p>
			</td>
			<td class="table__drop">
				<div class="dropdown js-dropdown">
					<span class="dropdown__bl"></span>
					<ul class="dropdown__list js-inner">
						<li><a href="#">Open in new window</a></li>
						<li><a href="#">Show submissions</a></li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
	<!-- end table -->
</div>