<div class="popup is-top js-popup" id="create">
	<div class="popup__head">
		<p>Start a New Deal Folder</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<form class="popup__form">
			<p class="popup__form-ttl">Deal Name</p>
			<div class="popup__label">
				<label></label>
				<input type="text" placeholder="Please keep this short and informal">
			</div>
			<div class="popup__btn">
				<button class="btn btn-ok" type="submit">Create deal</button>
				<button class="btn btn-no" type="button">Cancel</button>
			</div>
		</form>
	</div>
</div>