<div class="popup js-popup" id="popup-commission-payment">
	<div class="popup__head">
		<p>Select user for commission payment</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__scroll js-popup-scroll">
		<div class="popup__body">
			<div class="report is-margin-bottom">
				<p>Please pay attention, in case changing of the user, all data will be recalculated.</p>
			</div>
			<small class="popup__gray">Select user to submit form entry:</small>
			<div class="popup__bl">
				<input type="text" placeholder="Search by user name" class="js-popup-search">
			</div>
		</div>
		<ul class="popup-list is-hidden js-popup-list">
			<li class="popup-list__option">
			 	<a href="#" class="popup__username js-username">
			 		<div class="popup-list__more">
			 			<i class="icon icon-square-arr"></i>
			 		</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Albert June</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
			 	<a href="#" class="popup__username js-username">
			 		<div class="popup-list__more">
			 			<i class="icon icon-square-arr"></i>
			 		</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Albert June</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
			 	<a href="#" class="popup__username js-username">
			 		<div class="popup-list__more">
			 			<i class="icon icon-square-arr"></i>
			 		</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Albert June</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" class="popup__username js-username">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Brian Adams</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" class="popup__username js-username">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Brothers Corp</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" class="popup__username js-username">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Clint Eastwood</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" class="popup__username js-username">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Jack Dorsey</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" class="popup__username js-username">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Jack Dorsey</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" class="popup__username js-username">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Jack Dorsey</span>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#" class="popup__username js-username">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<i class="svg-ico user-gray-ico"></i><span class="popup-list__span">Jack Dorsey</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="popup__body js-deal-currency">
		<small class="popup__gray">Select a currency for payment:</small>
		<div class="popup__choose">
			<a href="#" class="popup__el">
				<div class="popup__currency">
					<i class="icon icon-dollar"></i>
				</div>
				<div>
					<div class="popup__definition">USD</div>
				</div>
			</a>
			<a href="#" class="popup__el">
				<div class="popup__currency">
					<i class="icon icon-euro"></i>
				</div>
				<div>
					<div class="popup__definition">EUR</div>
				</div>
			</a>
			<a href="#" class="popup__el">
				<div class="popup__currency">
					<i class="icon icon-pound"></i>
				</div>
				<div>
					<div class="popup__definition">GBP</div>
				</div>
			</a>
		</div>
	</div>
</div>