<div class="popup js-popup" id="popup-affiliate-error">
	<div class="popup__head">
		<p>Add Affiliate</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<form class="form is-full-w">
			<div class="form__bl has-error">
				<label class="form__subttl" for="firstname">First Name</label>
				<input id="firstname" type="text" placeholder="Type first name">
				<ul class="errorlist">
					<li>nononono! no can do</li>
				</ul>
			</div>
			<div class="form__bl has-error">
				<label class="form__subttl" for="lastname">Last Name</label>
				<input id="lastname" type="text" placeholder="Type last name">
			</div>
			<div class="form__bl has-error">
				<label class="form__subttl" for="email">E-mail</label>
				<input id="email" type="email" placeholder="Type e-mail address">
			</div>
			<div class="form__bl has-error">
				<label for="pass" class="form__subttl">Password</label>
				<input id="pass" type="password" placeholder="Type password">
			</div>
			<div class="form__bl has-error">
				<label for="pass-again" class="form__subttl no-margin">Password confirmation</label>
				<p class="form__hint">Enter the dame password as above for verification</p>
				<input id="pass-again" type="text" placeholder="Re-type same password">
			</div>
			<div class="form__bl">
				<p class="form__subttl">Permissions</p>
				<div class="dropdown is-small js-todrop js-dropdown">
					<p class="dropdown__item is-chosen">Read only</p>
					<ul class="dropdown__list is-top-level js-inner">
						<li><a href="#">Read only</a></li>
						<li><a href="#">Write only</a></li>
						<li><a href="#">Read / write</a></li>
					</ul>
				</div>
			</div>
			<div class="form__bl has-error">
				<p class="form__subttl no-margin">Modules</p>
				<ul class="form__list">
					<li class="form__choice">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span">Memberhip</span>
						</label>
					</li>
					<li class="form__choice">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span">Compliance</span>
						</label>
					</li>
					<li class="form__choice">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span">Deal</span>
						</label>
					</li>
					<li class="form__choice">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span">Deal</span>
						</label>
					</li>
					<li class="form__choice">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span">Transactions</span>
						</label>
					</li>
				</ul>
			</div>
			<div class="form__bl has-error">
				<div class="upload">
					<div class="upload__in">
						<input type="file" name="id">
						<i class="icon icon-upload"></i>
						<span>Upload photo</span>
					</div>
				</div>
			</div>
			<div class="report is-full-w">
				<p>Affiliate cannot be saved cause not all fields are filled in. See those are marked above with pink outline and fill them in.</p>
			</div>
			<div class="btn-group">
				<button class="btn btn-ok" type="submit">Add</button>
				<button class="btn btn-no" type="button">Cancel</button>
			</div>
		</form>
	</div>
</div>