<div class="popup is-top js-popup" id="popup-upload-el">
	<div class="popup__head">
		<p>Give a proper file name</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<form class="form is-full-w">
			<div class="form__bl">
				<label for="file-name" class="form__subttl no-margin">File Name</label>
				<p class="form__hint">Keep names understandable for you and staff</p>
				<input id="file-name" type="text" value="Engagement Letter">
			</div>
			<div class="btn-group">
				<button class="btn btn-ok" type="submit">Upload</button>
				<button class="btn btn-no" type="button">Cancel</button>
			</div>
		</form>
	</div>
</div>