<div class="popup is-new-customer js-popup" id="popup-new-customer">
	<div class="popup__head">
		<p>Add Customer</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__scroll js-popup-scroll">
		<div class="popup__body">
			<p class="popup__form-ttl">Create new customer</p>
			<div class="popup__choose">
				<a href="#" class="popup__el">
					<i class="svg-ico customer-ico"></i>
					<span>New Individual</span>
				</a>
				<a href="#" class="popup__el">
					<i class="svg-ico build-ico"></i>
					<span>New Entity</span>
				</a>
				<a href="#" class="popup__el">
					<i class="svg-ico build-ico"></i>
					<span>New Institutional</span>
				</a>
			</div>
			<p class="popup__form-ttl">Import existing customers from other deals</p>
			<small class="popup__gray">Exisiting customers will be re-submitted to this deal</small>
			<div class="popup__bl">
				<div class="popup__label">
					<input type="text" placeholder="Search by customer or deal name" class="js-popup-search">
				</div>
			</div>
			<p class="popup__no-result">Search returned no result</p>
		</div>
		<ul class="popup-list is-hidden js-popup-list">
			<li class="popup-list__option">
			 	<a href="#">
			 		<div class="popup-list__more">
			 			<i class="icon icon-square-arr"></i>
			 		</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="svg-ico customer-ico"></i><span class="popup-list__span">Albert June</span></span>
						</label>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="svg-ico customer-ico"></i><span class="popup-list__span">Brian Adams</span></span>
						</label>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="icon icon-corp"></i><span class="popup-list__span">Brothers Corp</span></span>
						</label>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="svg-ico customer-ico"></i><span class="popup-list__span">Clint Eastwwod</span></span>
						</label>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="svg-ico customer-ico"></i><span class="popup-list__span">Jack Dorsey</span></span>
						</label>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="svg-ico customer-ico"></i><span class="popup-list__span">Albert June</span></span>
						</label>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="svg-ico customer-ico"></i><span class="popup-list__span">Brian Adams</span></span>
						</label>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="icon icon-corp"></i><span class="popup-list__span">Brothers Corp</span></span>
						</label>
					</div>
				</a>
			</li>
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__more">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="popup-list__el">
						<label class="check is-light-border">
							<input type="checkbox">
							<span class="check__span"><i class="svg-ico customer-ico"></i><span class="popup-list__span">Clint Eastwwod</span></span>
						</label>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="popup__btn is-hidden is-absolute js-popup-btn">
		<button class="btn btn-ok s-pad" type="submit">Import selected</button>
		<button class="btn btn-no" type="button">Cancel</button>
	</div>
</div>