<div class="popup is-dealflow js-popup" id="deal-flow">
	<div class="popup__head no-bg">
		<i class="icon icon-close js-close"></i>
	</div>
	<p class="popup__ttl">How to submit documentation to get paid</p>
	<div class="popup__body">
		<div class="steps">
			<div class="steps__bl">
				<div class="steps__icon">
					<i class="svg-ico letter-ico"></i>
				</div>
				<p>Submit</p>
				<p>Engagement Letter</p>
			</div>
			<div class="steps__bl">
				<div class="steps__icon">
					<i class="svg-ico memo-ico"></i>
				</div>
				<p>Submit</p>
				<p>Deal Memo</p>
			</div>
			<div class="steps__bl">
				<div class="steps__icon">
					<i class="svg-ico customer-ico"></i>
				</div>
				<p>Submit</p>
				<p>Customers</p>
			</div>
			<div class="steps__bl">
				<div class="steps__icon">
					<i class="svg-ico transaction-ico"></i>
				</div>
				<p>Submit</p>
				<p>Transaction Reports</p>
			</div>
			<div class="steps__bl">
				<i class="svg-ico funds-ico"></i>
				<p>Receive Funds</p>
			</div>
			<div class="steps__bl">
				<div class="steps__icon">
					<i class="svg-ico paid-ico"></i>
				</div>
			</div>
		</div>
	</div>
</div>