<div class="popup js-popup" id="popup-add-letter">
	<div class="popup__head">
		<p>Add Engagement Letter to Deal...</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__scroll js-popup-scroll">
		<div class="popup__body no-b-pad">
			<small class="popup__gray">Select deal to submit engagement letter to:</small>
			<div class="popup__bl">
				<div class="popup__label">
					<label></label>
					<input type="text" placeholder="Search">
				</div>
			</div>
		</div>
		<ul class="folder-list">
			<li class="folder-list__option">
			 	<a href="#">
			 		<div class="folder-list__ico">
			 			<i class="icon icon-square-arr"></i>
			 		</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Alphabet</span>
					</div>
				</a>
			</li>
			<li class="folder-list__option">
				<a href="#">
					<div class="folder-list__ico">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Deal With a Really Lond Name User Can Create if He Really Wants</span>
					</div>
				</a>
			</li>
			<li class="folder-list__option">
				<a href="#">
					<div class="folder-list__ico">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Foursquare Inc.</span>
					</div>
				</a>
			</li>
			<li class="folder-list__option">
				<a href="#">
					<div class="folder-list__ico">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Google</span>
					</div>
				</a>
			</li>
			<li class="folder-list__option">
				<a href="#">
					<div class="folder-list__ico">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Space X</span>
					</div>
				</a>
			</li>
			<li class="folder-list__option">
				<a href="#">
					<div class="folder-list__ico">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Samsung – Round A Search For People</span>
					</div>
				</a>
			</li>
			<li class="folder-list__option">
				<a href="#">
					<div class="folder-list__ico">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Twitter S</span>
					</div>
				</a>
			</li>
			<li class="folder-list__option">
				<a href="#">
					<div class="folder-list__ico">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Twitter Z</span>
					</div>
				</a>
			</li>
			<li class="folder-list__option">
				<a href="#">
					<div class="folder-list__ico">
						<i class="icon icon-square-arr"></i>
					</div>
					<div class="folder-list__el">
						<i class="icon icon-folder"></i><span>Xero</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>