<div class="popup js-popup" id="popup-transaction-report">
	<div class="popup__head">
		<p>Submit Transaction Report</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<form class="form is-full-w">
			<div class="form__bl">
				<p class="form__subttl">Seller</p>
				<div class="dropdown is-disabled js-dropdown">
					<p class="dropdown__item">Choose seller</p>
					<ul class="dropdown__list is-top-level js-inner">
						<li><a href="#">USA</a></li>
						<li><a href="#">Ukraine</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">Japan</a></li>
						<li><a href="#">UK</a></li>
					</ul>
				</div>
			</div>
			<div class="form__bl">
				<p class="form__subttl">Buyer</p>
				<div class="dropdown is-disabled js-dropdown">
					<p class="dropdown__item">Choose seller</p>
					<ul class="dropdown__list is-top-level js-inner">
						<li><a href="#">USA</a></li>
						<li><a href="#">Ukraine</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">Japan</a></li>
						<li><a href="#">UK</a></li>
					</ul>
				</div>
				<label class="check is-light-border">
					<input type="checkbox">
					<span class="check__span">ROFR transaction</span>
				</label>
			</div>
			<small class="popup__gray">Don't see your customer in the dropdown lists?</small>
			<a href="#" class="popup__link" data-popup="popup-new-customer">Add new customer</a>
			<div class="popup__btn xs-margin">
				<button class="btn btn-ok" type="submit">Proceed</button>
				<button class="btn btn-no" type="button">Cancel</button>
			</div>
		</form>
	</div>
</div>