<div class="popup js-popup" id="popup-submitted-cif">
	<div class="popup__head">
		<p>Submitted CIF forms</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<div class="popup-icons">
			<!-- begin icon -->
			<div class="popup-icon">
				<div class="st-icon is-approved">
					<i class="svg-ico customer-ico"></i>
					<a href="" class="st-icon__btn"></a>
				</div>
				<div class="popup-icon__text">John Doe</div>
			</div>
			<!-- end icon -->

			<!-- begin icon -->
			<div class="popup-icon">
				<div class="st-icon is-invalid">
					<i class="svg-ico customer-ico"></i>
					<a href="" class="st-icon__btn"></a>
				</div>
				<div class="popup-icon__text">John Doe</div>
			</div>
			<!-- end icon -->

			<!-- begin icon -->
			<div class="popup-icon">
				<div class="st-icon is-processed">
					<i class="svg-ico customer-ico"></i>
					<a href="" class="st-icon__btn"></a>
				</div>
				<div class="popup-icon__text">John Doe</div>
			</div>
			<!-- end icon -->

			<!-- begin icon -->
			<div class="popup-icon">
				<div class="st-icon is-editable">
					<i class="svg-ico customer-ico"></i>
					<a href="" class="st-icon__btn"></a>
				</div>
				<div class="popup-icon__text">John Doe</div>
			</div>
			<!-- end icon -->
		</div>

		<!-- begin more-trans -->
		<div class="more-trans">To see all your Transactions <a href="" class="more-trans__link">go to the Transactions Tab.</a></div>
		<!-- end more-trans -->
	</div>
</div>