<div class="popup is-530-w js-popup" id="popup-customer-identification">
	<div class="popup__head">
		<p>New Customer Identification Form</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body popup__body--padding-none">
		<!--begin popup__two-col-->
		<div class="popup__two-col">
			<!--begin popup__two-col-left-->
			<div class="popup__two-col-left">
				<a href="#" class="deal-steps__link">
					<span class="complicated-icon  ">
						<i class="svg-ico customer-ico"></i>
					</span>
				</a>
				<p class="popup__two-col-text">
					Create a new Client Identifaication Form and fill it in by yourself. 
				</p>
				<button type="submit" class="btn btn-ok">Create CIF</button>
			</div>
			<!--end popup__two-col-left-->
			<!--begin popup__two-col-right-->
			<div class="popup__two-col-right">
				<a href="#" class="deal-steps__link">
					<span class="complicated-icon ">
						<span class="complicated-icon__status-hint">Create an entry</span>
						<i class="svg-ico cif-pub-link-ico"></i>	
					</span>
				</a>
				<p class="popup__two-col-text">
					Send the link to the new Client Identification Form so the Client could fill it in autonomously.
				</p>
				<button type="submit" class="btn btn-ok">Send Link</button>
			</div>
			<!--end popup__two-col-right-->


		</div>
		<!--end popup__two-col-->
		
	</div>
</div>