<div class="popup js-popup" id="popup-news-view">
	<div class="popup__head">
		<p>News</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<p class="popup__form-ttl">News title</p>
		<p class="popup__news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo vero incidunt doloribus veritatis minus, qui officia corrupti dicta a! Expedita, in reiciendis blanditiis sunt assumenda culpa sint modi quis nesciunt doloremque distinctio! Enim vitae velit, pariatur odit et tenetur dolores amet tempora facilis debitis alias commodi, assumenda autem laborum eos necessitatibus sed at cumque, totam unde itaque! Assumenda autem officiis velit voluptate, eaque modi odio perspiciatis, sint dignissimos nostrum at iusto quidem magni illo quis consectetur. Error tempore quae, explicabo magnam, sunt natus aspernatur tenetur, minus minima illum vero corporis temporibus eveniet quod laudantium quis. Nam velit magni error maiores.</p>
		<div class="popup__upload">
			<p><a href="http://www.google.com">http://www.google.com</a></p>
			<p><a href="http://www.google.com">http://www.google.com</a></p>
		</div>
	</div>
</div>