<div class="popup js-popup" id="popup-user-team">
	<div class="popup__head">
		<p>Active Rep</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__scroll js-popup-scroll">
		<div class="popup__body">
			<div class="popup__card">
				<div class="popup__img">
					<img src="img/team-profile.jpg" alt="">
				</div>
				<div class="popup__info">
					<h3 class="popup__subttl">A-Team</h3>
					<ul class="reaction">
						<li><a class="reaction__link" href="#">Edit team</a></li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="popup-list">
			<li class="popup-list__option">
				<a href="#">
					<div class="popup-list__el">
						<i class="icon icon-folder"></i><span class="popup-list__span">Team deals</span>
					</div>
				</a>
			</li>
		</ul>
		<div class="popup__body">
			<p>Team Members</p>
			<div class="popup__card">
				<div class="popup__img">
					<img src="img/profile6.jpg" alt="">
					<div class="popup__owner">
						<i class="icon icon-star"></i>
					</div>
				</div>
				<div class="popup__info">
					<div class="dropdown js-dropdown">
						<span class="dropdown__bl"></span>
						<ul class="dropdown__list is-top-level js-inner">
							<li><a href="#">Open user</a></li>
							<li><a href="#">Assign task</a></li>
							<li><a href="#">Send message</a></li>
							<li><a href="#">Sign in as user</a></li>
							<li><a href="#">Edit</a></li>
							<li><hr></li>
							<li><a href="#">My tasks</a></li>
							<li><a href="#">User tasks</a></li>
							<li><a href="#">Entries</a></li>
							<li><a href="#">Deals</a></li>
							<li><a href="#">Compliance</a></li>
							<li><a href="#">Engagement letters</a></li>
							<li><a href="#">Deal memos</a></li>
							<li><a href="#">Customers</a></li>
							<li><a href="#">Transactions</a></li>
							<li><a href="#">Team</a></li>
						</ul>
					</div>
					<h3 class="popup__subttl">Andrew Thornton</h3>
					<table class="popup__table">
						<tr>
							<td>Roles:</td>
							<td>Auditor, Prospect</td>
						</tr>
						<tr>
							<td>Supervisor:</td>
							<td>Amanda Brown</td>
						</tr>
						<tr>
							<td>Deal sup:</td>
							<td>Amanda Brown</td>
						</tr>
						<tr>
							<td>Firm</td>
							<td><a href="#">Chasels&Co</a></td>
						</tr>
						<tr>
							<td>E-mail:</td>
							<td><a href="mailto: alixvanessa@gmail.com">alixvanessa@gmail.com</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="popup__card">
				<div class="popup__img">
					<img src="img/profile.jpg" alt="">
				</div>
				<div class="popup__info">
					<div class="dropdown js-dropdown">
						<span class="dropdown__bl"></span>
						<ul class="dropdown__list is-top-level js-inner">
							<li><a href="#">Open user</a></li>
							<li><a href="#">Assign task</a></li>
							<li><a href="#">Send message</a></li>
							<li><a href="#">Sign in as user</a></li>
							<li><a href="#">Edit</a></li>
							<li><hr></li>
							<li><a href="#">My tasks</a></li>
							<li><a href="#">User tasks</a></li>
							<li><a href="#">Entries</a></li>
							<li><a href="#">Deals</a></li>
							<li><a href="#">Compliance</a></li>
							<li><a href="#">Engagement letters</a></li>
							<li><a href="#">Deal memos</a></li>
							<li><a href="#">Customers</a></li>
							<li><a href="#">Transactions</a></li>
							<li><a href="#">Team</a></li>
						</ul>
					</div>
					<h3 class="popup__subttl">Alix Vanessa</h3>
					<table class="popup__table">
						<tr>
							<td>Roles:</td>
							<td>Auditor, Prospect</td>
						</tr>
						<tr>
							<td>Supervisor:</td>
							<td>Amanda Brown</td>
						</tr>
						<tr>
							<td>Deal sup:</td>
							<td>Amanda Brown</td>
						</tr>
						<tr>
							<td>Firm</td>
							<td><a href="#">Chasels&Co</a></td>
						</tr>
						<tr>
							<td>E-mail:</td>
							<td><a href="mailto: alixvanessa@gmail.com">alixvanessa@gmail.com</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>