<div class="popup js-popup" id="popup-news-view">
	<div class="popup__head">
		<p>News</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="popup__body">
		<p class="popup__form-ttl">News title</p>
		<div class="popup__news">
			<p>A mollit laudantium, accusantium laboriosam, voluptate veritatis ut molestias animi, voluptate eu porro occaecat et. Voluptate ut voluptates magnam magna nihil optio, cupidatat assumenda voluptatibus consequaswerstur. A mollit laudantium, accusantium </p>
			<ul>
				<li><em>laboriosam, voluptate veritatis u</em>t</li>
				<li><strong>molestias animi, voluptate eu porro</strong></li>
				<li><u>occaecat et. Voluptate ut voluptates</u></li>
				<li><del>magnam magna nihil optio, cupidatat</del></li>
			</ul>
			<p>Аssumenda voluptatibus consequaswerstur. A mollit laudantium, accusantium laboriosam, voluptate veritatis ut molestias animi, voluptate eu porro occaecat et.</p>
			<ol>
				<li>Voluptate ut voluptates magnam magna nihil optio, cupidatat assumenda voluptatibus consequaswerstur. </li>
				<li>A mollit laudantium, accusantium laboriosam, voluptate veritatis ut molestias animi, voluptate eu porro occaecat et. </li>
				<li>Voluptate ut voluptates magnam magna nihil optio, cupidatat assumenda voluptatibus consequaswerstur. A mollit laudantium, accusantium laboriosam, voluptate veritatis ut molestias animi, voluptate eu porro occaecat et. Voluptate ut voluptates magnam magna nihil optio, cupidatat assumenda voluptatibus consequaswerstur. </li>
				<li>A mollit laudantium, accusantium laboriosam, voluptate veritatis ut molestias animi, voluptate eu porro occaecat et. Voluptate ut voluptates magnam magna nihil optio, cupidatat assumenda voluptatibus consequaswerstur.</li>
			</ol>
			<p>A mollit laudantium, accusantium laboriosam, voluptate veritatis ut molestias animi, voluptate eu porro occaecat et. Voluptate ut voluptates magnam magna nihil optio, cupidatat assumenda voluptatibus consequaswerstur. A mollit laudantium, accusantium laboriosam, voluptate veritatis ut molestias animi, voluptate eu porro occaecat et. Voluptate ut voluptates magnam magna nihil optio, cupidatat assumenda voluptatibus consequaswerstur. A mollit laudantium, accusantium laboriosam, voluptate veritatis ut molestias animi, voluptate eu porro occaecat et. Voluptate ut voluptates magnam magna nihil optio, cupidatat assumenda voluptatibus consequaswerstur. </p>
		</div>
		<div class="popup__upload word-break">
			<p><a href="http://www.google.com">http://www.google.com</a></p>
			<p><a href="http://www.google.com">http://www.google.com</a></p>
		</div>
	</div>
</div>