<!-- begin sidebar  -->
<div class="sidebar sidebar_mod js-sidebar">
	<div class="sidebar__in js-sidebar-in">
		<div class="sidebar__bl js-sidebar-bl">
			<div class="sidebar__ttl js-sidebar-ttl"><span>Deals</span></div>
			<div class="sidebar__content js-content">
				<ul class="sidebar-list">
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico transaction-ico"></i>
						<a href="#">Not approved</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico transaction-ico"></i>
						<a href="#">Approved</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico transaction-ico"></i>
						<a href="#">Split</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico transaction-ico"></i>
						<a href="#">All</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar__bl js-sidebar-bl">
			<div class="sidebar__ttl js-sidebar-ttl"><span>Users</span></div>
			<div class="sidebar__content js-content">
				<ul class="sidebar-list">
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico transaction-ico"></i>
						<a href="#">Not approved</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico transaction-ico"></i>
						<a href="#">Approved</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico transaction-ico"></i>
						<a href="#">Split</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico transaction-ico"></i>
						<a href="#">All</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar__bl js-sidebar-bl">
			<div class="sidebar__ttl js-sidebar-ttl"><span>Funds Received</span></div>
			<div class="sidebar__content js-content">
				<ul class="sidebar-list">
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico fr-ico fr-ico-light-pink"></i>
						<a href="#">TR Amount not matched</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico fr-ico fr-ico-light-pink"></i>
						<a href="#">TR Amount matched</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico fr-ico fr-ico-light-pink"></i>
						<a href="#">Not received</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico fr-ico fr-ico-light-pink"></i>
						<a href="#">All</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar__bl js-sidebar-bl">
			<div class="sidebar__ttl js-sidebar-ttl"><span>Commission Calculated</span></div>
			<div class="sidebar__content js-content">
				<ul class="sidebar-list">
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cc-ico"></i>
						<a href="#">Not Generated</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cc-ico"></i>
						<a href="#">Generated</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cc-ico"></i>
						<a href="#">Approved</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cc-ico"></i>
						<a href="#">All</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar__bl js-sidebar-bl">
			<div class="sidebar__ttl js-sidebar-ttl"><span>Commission Payment</span></div>
			<div class="sidebar__content js-content">
				<ul class="sidebar-list">
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cp-ico cp-icon-orange"></i> 
						<a href="#">Not Generated</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cp-ico cp-icon-orange"></i>
						<a href="#">Generated</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cp-ico cp-icon-orange"></i>
						<a href="#">Pre-Approved</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cp-ico cp-icon-orange"></i>
						<a href="#">Approved</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="svg-ico cp-ico cp-icon-orange"></i>
						<a href="#">All</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end sidebar -->