<!-- begin sidebar  -->
<div class="sidebar js-sidebar">
	<div class="sidebar__in js-sidebar-in">
		<div class="sidebar__bl js-sidebar-bl">
			<div class="sidebar__ttl js-sidebar-ttl"><span>Users</span></div>
			<div class="sidebar__content js-content">
				<div class="sidebar__search">
					<input type="search" placeholder="Quick search">
					<i class="icon icon-close search-close js-search-clear"></i>
				</div>
				<ul class="sidebar-list">
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All users</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All reps</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All active reps</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All inactive reps</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All staff</a>
					</li>
					<li class="sidebar-list__option is-disabled">
						<a href="#">A</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<i class="sidebar-task-ico"></i>
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
					<li class="sidebar-list__option is-title">
						<a href="#">B</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Brian Dunn</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Boris Negov</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Brenda Stone</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Bonabe Mugaba</a>
					</li>
					<li class="sidebar-list__option is-title">
						<a href="#">C</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Clint Clifford</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Cora Aricsson</a>
					</li>
					<li class="sidebar-list__option is-title">
						<a href="#">D</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Denis Baley</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Duncan McLoud</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar__bl js-sidebar-bl">
			<div class="sidebar__ttl js-sidebar-ttl"><span>Form types</span></div>
			<div class="sidebar__content js-content">
				<ul class="sidebar-list">
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All users</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All reps</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All active reps</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All inactive reps</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">All staff</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar-list__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar__bl js-sidebar-bl">
			<div class="sidebar__ttl js-sidebar-ttl"><span>Deals</span></div>
			<div class="sidebar__content js-content">
				<ul class="sidebar-list">
					<li class="sidebar-list__option is-disabled">
						<p>No items to show in this filter cause of the other filter combination</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end sidebar -->