<!-- begin sidebar  -->
<div class="sidebar js-sidebar">
	<div class="sidebar__in">
		<div class="sidebar__bl js-sidebar-bl">
			<p class="sidebar__ttl js-sidebar-ttl"><span>Users</span></p>
			<div class="sidebar__content js-content">
				<div class="sidebar__search">
					<input type="search" placeholder="Quick search">
				</div>
				<ul class="sidebar__list">
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All users</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All active reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All inactive reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All staff</a>
					</li>
					<li class="sidebar__option is-title">
						<a href="#">A</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<i class="sidebar-task-ico"></i>
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar__bl js-sidebar-bl">
			<p class="sidebar__ttl js-sidebar-ttl"><span>Form types</span></p>
			<div class="sidebar__content js-content">
				<ul class="sidebar__list">
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All users</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All active reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All inactive reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All staff</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="sidebar__bl js-sidebar-bl">
			<p class="sidebar__ttl js-sidebar-ttl"><span>Deals</span></p>
			<div class="sidebar__content js-content">
				<ul class="sidebar__list">
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All users</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All active reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All inactive reps</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">All staff</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aaron Siwoku</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Amanda Woodward</a>
					</li>
					<li class="sidebar__option js-sidebar-option">
						<a href="#">Aisec Asimov</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end sidebar -->