<div class="dropdown__list is-top-level js-inner">
	<div class="dropdown__check">
		<label class="check" data-attr="select">
			<input type="checkbox">
			<span class="check__span">Select</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="id">
			<input type="checkbox" checked>
			<span class="check__span">ID</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="name">
			<input type="checkbox" checked>
			<span class="check__span">Name</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="type">
			<input type="checkbox" checked>
			<span class="check__span">Type</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="referred">
			<input type="checkbox" checked>
			<span class="check__span">Referred to</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="rep">
			<input type="checkbox" checked>
			<span class="check__span">Rep</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="status">
			<input type="checkbox" checked>
			<span class="check__span">Status</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="attachments">
			<input type="checkbox" checked>
			<span class="check__span">Attachments</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="datecreate">
			<input type="checkbox">
			<span class="check__span">Date created</span>
		</label>
	</div>
	<div class="dropdown__check">
		<label class="check" data-attr="update">
			<input type="checkbox" checked>
			<span class="check__span">Last update</span>
		</label>
	</div>
</div>