<!-- begin sysmessage  -->
<div id="sysmessage" class="sysmessage js-popup js-avoid-overflow">
	<div class="sysmessage__head">
		<p class="sysmessage__ttl">1 New Payment, 4 other notifications since your last visit</p>
		<i class="icon icon-close js-close"></i>
	</div>
	<div class="sysmessage__el">
		<p>Messages (1)</p>
	</div>
	<div class="sysmessage__el no-bg">
		<img class="sysmessage__img" src="img/user1.png" alt="">
		<div class="sysmessage__info">
			<i class="svg-ico message-ico"></i>
			<div class="sysmessage__name">
				<h4>New Payment!</h4>
				<small class="sysmessage__date">Sept. 13, 2015</small>
			</div>
			<p>Transaction T34782 from Alphabet between James Brown and Steve Buscemy was payed Sept. 12, 2015</p>
			<ul class="sysmessage__list">
				<li>Transaction amount: $400.000.00</li>
				<li>Funds received: $400.000.00</li>
				<li>GCS commission: $10.000.00</li>
				<li>Your comission*: $15.000.00</li>
			</ul>
			<p>Your commission will be payed to you according to your GCS agreement conditions</p>
			<ul class="sysmessage__filter">
				<li><a class="sysmessage__link" href="#">Mark as read</a></li>
				<li><a class="sysmessage__link" href="#">View deal</a></li>
				<li><a class="sysmessage__link" href="#">View transaction</a></li>
			</ul>
		</div>
	</div>
	<div class="sysmessage__el">
		<p>Updates (4)</p>
	</div>
	<div class="sysmessage__el no-bg">
		<img class="sysmessage__img" src="img/user2.png" alt="">
		<i class="svg-ico memo-ico"></i>
		<div class="sysmessage__info">
			<div class="sysmessage__name">
				<h4><span>Deal Memo Approved for Space X</span></h4>
				<small class="sysmessage__date">Sept. 13, 2015</small>
			</div>
			<ul class="sysmessage__filter">
				<li><a class="sysmessage__link" href="#">View</a></li>
				<li><a class="sysmessage__link" href="#">Open deal</a></li>
			</ul>
		</div>
		<i class="icon icon-check"></i>
	</div>
	<div class="sysmessage__el no-bg">
		<img class="sysmessage__img" src="img/user2.png" alt="">
		<i class="icon icon-bubble"></i>
		<div class="sysmessage__info">
			<div class="sysmessage__name">
				<h4>New comment for EL James Brown for Space X</h4>
				<small class="sysmessage__date">Sept. 13, 2015</small>
			</div>
			<ul class="sysmessage__filter">
				<li><a class="sysmessage__link" href="#">View</a></li>
				<li><a class="sysmessage__link" href="#">Open deal</a></li>
			</ul>
		</div>
	</div>
	<div class="sysmessage__el no-bg">
		<img class="sysmessage__img" src="img/user1.png" alt="">
		<i class="svg-ico memo-ico"></i>
		<div class="sysmessage__info">
			<div class="sysmessage__name">
				<h4>Deal Memo Approved for Space X</h4>
				<small class="sysmessage__date">Sept. 13, 2015</small>
			</div>
			<ul class="sysmessage__filter">
				<li><a class="sysmessage__link" href="#">View</a></li>
				<li><a class="sysmessage__link" href="#">Open deal</a></li>
			</ul>
		</div>
		<i class="icon icon-warn"></i>
	</div>
	<div class="sysmessage__el">
		<p class="txt-center"><a class="sysmessage__link" href="#">See all</a></p>
	</div>
</div>
<!-- end sysmessage -->