<table class="table-highlight is-md">
	<thead>
		<tr>
			<th width="40">&nbsp;</th>
			<th width="120">Transaction</th>
			<th width="100">Amount</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="is-active">
			<td>&nbsp;</td>
			<td>
				<div class="table__el">
					<i class="svg-ico transaction-ico"></i>
					<span>1001993</span>
				</div>
			</td>
			<td>$ 1000</td>
			<td><i class="icon-checked"></i></td>
		</tr>
		<tr class="is-active">
			<td>&nbsp;</td>
			<td>
				<div class="table__el">
					<i class="svg-ico transaction-ico"></i>
					<span>1001993</span>
				</div>
			</td>
			<td>$ 7500</td>
			<td><i class="icon-checked"></i></td>
		</tr>
		<tr class="">
			<td>&nbsp;</td>
			<td>
				<div class="table__el">
					<i class="svg-ico transaction-ico"></i>
					<span>1001993</span>
				</div>
			</td>
			<td>$ 2000</td>
			<td></td>
		</tr>
		<tr class="is-active">
			<td>&nbsp;</td>
			<td>
				<div class="table__el">
					<i class="svg-ico transaction-ico transaction-ico-split"></i>
					<span>1001993</span>
				</div>
			</td>
			<td>$ 3000</td>
			<td><i class="icon-checked"></i></td>
		</tr>
		
	</tbody>
	<tfoot>
		<tr class="is-default">
			<td>&nbsp;</td>
			<td>TOTAL</td>
			<td>$ 2000</td>
			<td></td>
		</tr>
	</tfoot>
</table>
<table class="table-highlight is-md">
	<thead>
		<tr>
			<th width="40">&nbsp;</th>
			<th width="120">Funds Received</th>
			<th width="100">Amount</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="is-default">
			<td>&nbsp;</td>
			<td>05.13.17 </td>
			<td><strong>$ 500</strong> / <span>1000</span></td>
			<td></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan="1">
				<a href="#" class="btn btn_sm is- btn-border btn-txt-gray">ADD FR</a>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan="1">
				<a href="#" class="btn btn_sm is- btn-border btn-txt-gray">ADD FR</a>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan="1">
				<a href="#" class="btn btn_sm is- btn-border btn-txt-gray">ADD FR</a>
			</td>
			<td></td>
			<td></td>
		</tr>
		
	</tbody>
	<tfoot>
		<tr class="is-default">
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>
<table class="table-highlight is-md">
	<thead>
		<tr>
			<th width="40">&nbsp;</th>
			<th width="120">Commission <br> Calculation</th>
			<th width="100">Amount</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>  
		</tr> 
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr >
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	<tfoot>
		<tr class="is-default">
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>
<table class="table-highlight is-md">
	<thead>
		<tr>
			<th width="40">&nbsp;</th>
			<th width="120">Commission <br> Payment</th>
			<th width="100">Amount</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>  
		</tr> 
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr >
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	<tfoot>
		<tr class="is-default">
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>