<table class="table-highlight-line">
	<thead>
		<tr>
			<th width="20">&nbsp;</th>
			<th width="110">Transaction</th>
			<th width="120">Amount</th>
			<th width="40" >&nbsp;</th>


			<th width="20">&nbsp;</th>
			<th width="75">Funds <br>Received</th>
			<th width="220">Amount</th>
			<th width="37">&nbsp;</th>

			<th width="20">&nbsp;</th>
			<th width="110">Commission <br> Calculation</th>
			<th width="120">Amount</th>
			<th width="40">&nbsp;</th>

			<th width="22">&nbsp;</th>
			<th width="100">Commission <br> Payment</th>
			<th width="195">Amount</th>
			<th width="40">&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class="is-active">
				<div class="check-square table-highlight__margin">
					<input type="checkbox" name="name" id="name">
					<label for="name"></label>
				</div>
			</td>
			<td class="is-active">
				<div class="table__el">
					<i class="svg-ico transaction-ico"></i>
					<span>1001993</span>
				</div>
			</td>
			<td class="is-active">$ 1000</td>
			<td class="is-active txt-center border-right"><i class="icon-checked"></i></td>

			<td class="is-default">&nbsp;</td>
			<td class="is-default">05.13.17 </td>
			<td class="is-default"><strong>$ 500</strong> / <span>1000</span></td>
			<td class="is-default border-right"></td>

			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td class="border-right"></td>

			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="is-active">
				<div class="check-square table-highlight__margin">
					<input type="checkbox" name="name" id="name1">
					<label for="name1"></label>
				</div>
			</td>
			<td class="is-active">
				<div class="table__el">
					<i class="svg-ico transaction-ico"></i>
					<span>1001993</span>
				</div>
			</td>
			<td class="is-active">$ 1000</td>
			<td class="is-active txt-center border-right"><i class="icon-checked"></i></td>

			<td>&nbsp;</td>
			<td colspan="1">
				<a href="#" class="btn btn_sm is- btn-border btn-txt-gray">ADD FR</a>
			</td>
			<td></td>
			<td class="border-right"></td>

			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td class="border-right"></td>

			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="is-active">
				<div class="check-square table-highlight__margin">
					<input type="checkbox" name="name" id="name2">
					<label for="name2"></label>
				</div>
			</td>
			<td class="is-active">
				<div class="table__el">
					<i class="svg-ico transaction-ico"></i>
					<span>1001993</span>
				</div>
			</td>
			<td class="is-active">$ 1000</td>
			<td class="is-active txt-center border-right"><i class="icon-checked"></i></td>

			<td>&nbsp;</td>
			<td colspan="1">
				<a href="#" class="btn btn_sm is- btn-border btn-txt-gray">ADD FR</a>
			</td>
			<td></td>
			<td class="border-right"></td>

			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td class="border-right"></td>

			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="is-active">
				<div class="check-square table-highlight__margin">
					<input type="checkbox" name="name" id="name3">
					<label for="name3"></label>
				</div>
			</td>
			<td class="is-active">
				<div class="table__el">
					<i class="svg-ico transaction-ico"></i>
					<span>1001993</span>
				</div>
			</td>
			<td class="is-active">$ 1000</td>
			<td class="is-active txt-center border-right"><i class="icon-checked"></i></td>

			<td>&nbsp;</td>
			<td colspan="1">
				<a href="#" class="btn btn_sm is- btn-border btn-txt-gray">ADD FR</a>
			</td>
			<td></td>
			<td class="border-right"></td>

			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td class="border-right"></td>

			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	<tfoot class="table-highlight-line__footer">
		<tr>
			<td class="is-default txt-center"><i class="arr-bottom-right"></i></td>
			<td class="is-default">Selected total</td>
			<td class="is-default">$ 10 500</td>
			<td class="is-default" ><a href="#" class="btn btn_sm nowrap btn-border btn-txt-gray">ADD FR</a></td>
		</tr>
	</tfoot>
</table>
