.dropdown
	position: relative
	display: inline-block
	line-height: 1
	&.is-active
		z-index: 1
		.dropdown__bl,
		.dropdown__item
			border-bottom-color: transparent
			border-bottom-left-radius: 0
			border-bottom-right-radius: 0
		.dropdown__bl
			&:before
				+arr(9, 6, #6c757a, t)
			&:after
				display: block
		.dropdown__item
			background: #FFF
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
			&:before
				+arr(9, 5, #6c757a, t)
			&:after
				display: block
		.dropdown__list
			&.is-top-level
				//display: block
				opacity: 1
				visibility: visible
	&.is-form
		width: 100%
		max-width: 340px
		.dropdown__list
			width: 100%
	&.is-small
		max-width: 200px
		.dropdown__list
			width: 100%
	&.is-menu
		&.is-active
			z-index: 4
		.dropdown__item
			padding: 0 5px 0 0
			border: none
			background: none
			text-transform: uppercase
			color: #93988f
			&:before
				right: auto
				left: 100%
			&:after
				display: none
		.dropdown__list
			min-width: 200px 
			left: -15px
			margin-top: 5px
			padding: 7px 0
			border-radius: 4px
			a
				padding: 7px 15px
		.dropdown__crd
			position: relative
			border-bottom: 1px solid #747f86
			margin: 0 15px 7px
			display: flex
			justify-content: space-between
			align-items: center
			a
				padding: 14px 0
				color: #747f86
			img
				display: none
			&:hover
				a
					color: #097bf2	
				img
					display: block
		.dropdown__success
			position: absolute
			display: none
			top: 0 
			right: -325px
			width: 300px
			padding: 15px 40px 25px 50px
			color: #ffffff
			line-height: 1.5
			background: rgba(67,159,68,0.73)
			border-radius: 3px
			box-shadow: 0 0 3.5px 1px rgba(0, 0, 0, 0.19)
			span
				display: block
			&:before
				content: ''
				position: absolute
				top: 37px
				left: 23px
				width: 20px
				height: 3px
				background-color: #ffffff
				transform: rotate(-45deg)
			&:after
				content: ''
				position: absolute
				top: 39px
				left: 17px
				width: 12px
				height: 3px
				background-color: #ffffff
				transform: rotate(45deg)
		.dropdown__success.is-show
			display: block
	&.is-login
		.dropdown__item
			text-transform: none
	&.is-reference
		.dropdown__list
			right: auto
			left: 0
		.description
			p, span
				max-width: 315px
				padding-left: 28px
				overflow: hidden
				white-space: nowrap
				text-overflow: ellipsis
				line-height: 1.1
	&.is-disabled
		.dropdown__item
			color: #BCC6CC
			&:before
				border-color: #BCC6CC transparent transparent transparent
	&.is-top
		.dropdown__list.is-top-level
			top: auto
			bottom: 95%
		.dropdown__more .dropdown__list
			top: auto
			bottom: -10px
		.dropdown__bl
			border-bottom-color: #e4e4e4
			border-radius: 0 0 4px 4px
			border-top-color: transparent
			z-index: 1
			&:before
				margin-top: -4px
			&:after
				top: -3px
				right: 0
				bottom: auto
				border-width: 2px
	&_time
		&.is-active
			.dropdown__bl
				background: #FFF 
				&:before
					opacity: 1
				i
					opacity: 0
		.dropdown__bl
			position: relative
			background-image: linear-gradient(to bottom, #f7f8f9, #ebecee), linear-gradient(to bottom, #fafafa, #e3e3e3)
			border: solid 1px #cfd5e0
			&:before
				opacity: 0 
			i
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
			.icon-hourglass
				color: #ebaf7c
				font-size: 12px
		.dropdown__list
			a
				font-size: 13px
				color: #282828
			.icon-checked
				color: #00a11e
				font-size: 10px
				margin-right: 10px

	&__item
		position: relative
		padding: 9px 25px 9px 10px
		font-size: 13px
		color: #6c757a
		border: 1px solid #cfd5e0
		border-radius: 4px
		cursor: pointer
		+nosel
		+g(#f7f8f9, #ebeced)
		&:before,
		&:after
			content: ""
			position: absolute
		&:before
			top: 50%
			right: 10px
			margin-top: -3px
			+arr(9, 5, #6c757a, b)
		&:after
			display: none
			left: 0
			right: 0
			bottom: -1px
			border-bottom: 3px solid #fff
			z-index: 1
		&.is-chosen
			color: #282828
	&__bl
		position: relative
		display: inline-block
		width: 30px
		height: 27px
		border: 1px solid #e4e4e4
		border-radius: 4px
		cursor: pointer
		background: #FFF
		&:before,
		&:after
			content: ""
			position: absolute
		&:before
			top: 50%
			left: 50%
			margin: -2px 0 0 -4px
			+arr(9, 6, #d8d8d8, b)
		&:after
			display: none
			left: 0
			right: 0
			bottom: 0
			border-bottom: 3px solid #fff
			z-index: 1
	&__list
		//display: none
		position: absolute
		top: 100%
		right: 0
		min-width: 160px
		margin-top: -1px
		padding: 10px 0
		text-align: left
		font-size: 13px
		background: #fff
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)
		border-radius: 0 0 4px 4px
		border: 1px solid #dce0e7
		white-space: nowrap
		opacity: 0
		visibility: hidden
		&.is-big
			min-width: 205px
		li
			position: relative
			&:hover
				a:before
					+arr(6, 9, #6c757a, r)
				.dropdown__list
					opacity: 1
					visibility: visible
			&.is-disabled
				a, a:hover
					color: #BCC6CC
					cursor: default
		a
			display: block
			max-width: 220px
			padding: 5px 14px
			color: #282828
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			&:hover
				color: #097bf2
			&.is-active
				+opensans-sb
	&__check
		padding: 7px 14px
		&:first-child
			padding-top: 5px
		&:last-child
			padding-bottom: 5px
	&__more
		position: relative
		border-top: 1px solid #e5e5e5
		&:hover
			.dropdown__list
				visibility: visible
				opacity: 1
		.dropdown__list
			position: absolute
			right: 99%
			top: 0
			opacity: 0
			visibility: hidden
			white-space: normal
	&__more-link
		position: relative
		display: block
		padding: 10px 14px
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 100%
			margin: -4px 0 0 -14px
			+tr(0.3s)
			+arr(6, 9, #d8d8d8, r)
	&__search
		position: relative
		display: block
		margin: 5px 14px
	&__text
		width: 200px
		padding: 4px 14px
		color: #96A0A6
		white-space: normal
		line-height: 1.35
		small
			display: block
			margin-top: 6px
	&__img
		display: inline-block
		width: 18px
		height: 18px
		margin-right: 10px
		border-radius: 50%
		vertical-align: middle
		+cover
	&__name
		display: inline-block
		max-width: 150px
		vertical-align: middle
	&__scroll
		position: relative
	hr
		border: 0
		border-bottom: 1px solid #DCE0E7
	.ps-scrollbar-y-rail
		width: 3px !important
		right: 1px !important
		.ps-scrollbar-y
			width: 3px !important
	+r(1200)
		&__name span
			display: none
		&__img
			margin-right: 0
		&__name
			display: none
	&--float-r
		float: right
		// position: relative
	&--heading.is-form
		position: absolute
		top: 0
		right: 0
		width: auto
		min-width: 87px
		.dropdown__item
			height: 36px
			box-shadow: none
			background-image: none
			background-color: #ffffff
