// icons with svg as bg
// not in font because of incorrect display
.svg-ico
	display: inline-block
	background-repeat: no-repeat
	background-position: 0 0
	background-size: contain
	vertical-align: top
.pencil-ico
	width: 10px
	height: 10px
	background-color: transparent
	background-image: url('../img/svg-bg/pencil.svg')
	background-size: 10px 10px
	appearance: none
	border: none
	display: inline-block
	vertical-align: top
	position: relative
	top: 1px
	margin-left: 5px
	&:before
		content: ''
		position: absolute
		top: -4px
		bottom: -4px
		right: -4px
		left: -4px
.memo-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/memo-sm.svg')
	&.is-disabled
		background-image: url('../img/svg-bg/memo-sm-disabled.svg')

.customer-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/customer-sm.svg')
	&.is-disabled
		background-image: url('../img/svg-bg/customer-sm-disabled.svg')

.letter-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/letter-sm.svg')
	&.is-disabled
		background-image: url('../img/svg-bg/letter-sm-disabled.svg')

.transaction-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/transaction-sm.svg')
	&-split
		background-image: url('../img/svg-bg/tr-sm-split.svg')
	&.is-disabled
		background-image: url('../img/svg-bg/transaction-sm-disabled.svg')

.library-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/library.svg')
	&.is-disabled
		background-image: url('../img/svg-bg/library-disabled.svg')

.add-task-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/add-task.svg')

.add-mail-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/add-mail.svg')

.add-report-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/add-report.svg')

.add-user-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/add-user.svg')

.add-team-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/add-team.svg')

.cash-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/cash.svg')

.burger-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/burger.svg')

.search-ico
	width: 12px
	height: 12px
	background-image: url('../img/svg-bg/search-ico.svg')

.cash-gray-ico
	width: 70px
	height: 70px
	background-image: url('../img/svg-bg/cash-gray.svg')

.att-ico
	width: 50px
	height: 50px
	background-image: url('../img/svg-bg/att.svg')

.cp-ico
	width: 50px
	height: 50px
	background-image: url('../img/svg-bg/cp-sm.svg')
	&-orange
		background-image: url('../img/svg-bg/cp-sm-orange.svg') 
	&.is-disabled
		background-image: url('../img/svg-bg/cp-sm-disabled.svg')

.fr-ico
	width: 50px 
	height: 50px
	background-image: url('../img/svg-bg/fr-sm.svg')
	&-light-pink
		background-image: url('../img/svg-bg/fr-sm-light-pink.svg')
	&.is-disabled
		background-image: url('../img/svg-bg/fr-sm-disabled.svg')

.cc-ico
	width: 16px
	height: 16px
	background-image: url('../img/svg-bg/cc-sm.svg')
	&.is-disabled
		background-image: url('../img/svg-bg/cc-sm-disabled.svg')

.paid-ico
	width: 110px
	height: 106px
	background-image: url('../img/svg-bg/paid.svg')

.funds-ico
	width: 66px
	height: 66px
	background-image: url('../img/svg-bg/funds.svg')

.doc-ico
	width: 16px
	height: 16px
	background-image: url('../img/svg-bg/doc.svg')

.pdf-ico
	width: 16px
	height: 16px
	background-image: url('../img/svg-bg/pdf.svg')

.pic-ico
	width: 16px
	height: 16px
	background-image: url('../img/svg-bg/pic.svg')
	background-size: 16px 16px

.unknown-ico
	width: 16px
	height: 16px
	background-image: url('../img/svg-bg/unknown.svg')

.message-ico
	width: 16px
	height: 16px
	background-image: url('../img/svg-bg/message.svg')

.build-ico
	width: 56px
	height: 56px
	background-image: url('../img/svg-bg/build.svg')

.user-gray-ico
	width: 16px
	height: 16px
	background-image: url('../img/svg-bg/user-gray.svg')

.entry-ico
	width: 16px
	height: 16px
	background-image: url('../img/svg-bg/entry.svg')

.entity-ico
	width: 56px
	height: 56px
	background-image: url('../img/svg-bg/entity.svg')

.close-ico
	width: 10px
	height: 10px
	background-image: url('../img/svg-bg/close-btn-icon.svg')

.entry-shared
	background-image: url('../img/svg-bg/entry-shared.svg')
	width: 16px
	height: 16px

.overdue-ico
	background-image: url('../img/svg-bg/overdue-ico.svg')
	width: 16px
	height: 16px

// default color for icons
.icon-customer2
	color: #3caca2
	&.is-disabled
		color: #CFD5E0

.icon-clip
	color: #BCC6CC

.icon-warn
	color: #f76300

.icon-check
	color: #2caf24

.icon-comment
	color: #c6ccd8

.icon-close
	color: #6C757A

.icon-pending
	color: #738496

.icon-upload
	color: #097BF2

.icon-bubble
	color: #96A0A6

.icon-calendar
	font-size: 16px
	color: #6c757a

.icon-filter
	color: #6c757a

.icon-folder,
.icon-deal-team,
.icon-folder-dots
	color: #899BAC

.icon-archive,
.icon-folder-checked,
.icon-deals-team-closed,
.icon-deals-team-archived
	color: #bcc6cc

.icon-add-library,
.icon-add-news
	color: #738BA1

.icon-team
	color: #96A1A7
	background: transparent

.icon-firm
	color: #96A1A7

.icon-letter
	color: #fff
	+g(#3c8cea, #327bd1)
	&.is-disabled
		background: #CFD5E0

.dollar-icon
	display: inline-block
	position: relative
	font-size: 25px
	color: #4a4a4a
	+opensans-b
	line-height: 1
	&::before,
	&::after
		content: ''
		position: absolute
		width: 4px
		height: 3px
		background-color: #4a4a4a
		left: 50%
		transform: translate(-50%, 0)
	&::before
		top: 1px
	&::after
		bottom: 0
	&.is-disabled
		color: #d3d3d3
		&::before,
		&::after
			background-color: #d3d3d3



.cif-pub-link-ico
	width: 21px
	height: 21px
	background-image: url("../img/svg-bg/cif-pub-link.svg")



.desert-clock-ico
	width: 14px
	height: 14px
	background-image: url("../img/svg-bg/desert-clock.svg")

.draft-ico
	width: 21px
	height: 21px
	background-image: url("../img/svg-bg/draft.svg")

.draft-full-ico
	width: 14px
	height: 14px
	background-image: url("../img/svg-bg/draft-full-size.svg")

.not-exist-ico
	width: 21px
	height: 21px
	background-image: url("../img/svg-bg/not-exist.svg")


.commented-transparent-ico
	width: 15px
	height: 15px
	background-image: url("../img/svg-bg/commented-transparent.svg")
	background-size: 15px 15px




.draft, .in_review, .approved, .rejected, .submitted, .closed, .infinity
	background-repeat: no-repeat
	width: 14px
	height: 14px
	background-position: 50% 50%
	// background-size: 16px 16px
	background-size: 14px 14px

// .draft-ico
// 	width: 21px
// 	height: 21px
// 	background-image: url("../img/svg-bg/draft.svg")
// .in-review-ico
// 	width: 21px
// 	height: 21px
// 	background-image: url("../img/svg-bg/in-review.svg")
// .approved-ico
// 	width: 21px
// 	height: 21px
// 	background-image: url("../img/svg-bg/approved.svg")
// .rejected-ico
// 	width: 21px
// 	height: 21px
// 	background-image: url("../img/svg-bg/rejected.svg")




.draft
	background-image: url("../img/svg-bg/draft.svg")
.in_review
	position: relative
	background-image: url("../img/svg-bg/in-review.svg")
.approved
	background-image: url("../img/svg-bg/approved.svg")
.rejected
	background-image: url("../img/svg-bg/rejected.svg")
.submitted
	background-image: url("../img/svg-bg/approved.svg")
.closed
	background-image: url("../img/svg-bg/closed-deal.svg")
.infinity
	background-image: url("../img/svg-bg/icon-infinity.svg")

.accrdn-sttg .icon
	width: 28px
	background-repeat: no-repeat
	background-position: center center
.l-layout .icon
	background-repeat: no-repeat
	background-position: center center
.text 
	background-image: url('../img/svg-bg/text.svg')
.list
	background-image: url('../img/svg-bg/list.svg')
.split
	background-image: url('../img/svg-bg/split.svg')
.drag2
	height: 22px
	background-image: url('../img/svg-bg/drag2.svg')
.text-area
	background-image: url('../img/svg-bg/text-area.svg')
.decimal
	background-image: url('../img/svg-bg/decimal.svg')
.currency-field
	background-image: url('../img/svg-bg/currency-field.svg')
.date
	background-image: url('../img/svg-bg/date.svg')
.radio-group
	background-image: url('../img/svg-bg/radio-group.svg')
.mult-select
	background-image: url('../img/svg-bg/mult-select.svg')
.email
	background-image: url('../img/svg-bg/email.svg')
.file-upload
	background-image: url('../img/svg-bg/file-upload.svg')
.link
	background-image: url('../img/svg-bg/link.svg')
.link-bl
	background-image: url('../img/svg-bg/link-bl.svg')
.edit
	background-image: url('../img/svg-bg/edit.svg')
.drag1
	background-image: url('../img/svg-bg/drag1.svg')
.integer
	background-image: url('../img/svg-bg/integer.svg')